
// Tooltips provided by jQuery UI Tooltip js plugin
.ui-tooltip {
  background-color: black;
  color: white;
  padding: 20px 10px;
  @include border-radius(15px);
  @include opacity(1);
  border: 0;
  margin: 0;
  top: 50px;
  width: 110px;

  &:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-bottom-color: black;
  }

  .ui-tooltip-content {
    text-align: center;
    font-family: $font-regular;
    font-size: 16px;
    line-height: 21px;
    color: white;
  }
}
