@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/icons\/\*\.png}line{font-family:\00003168}}
.icons-sprite, .pagination li.first a, .pagination li.last a, .social-icons .social-icons__item.facebook, .social-icons .social-icons__item.twitter, .social-icons .social-icons__item.gplus, .social-icons .social-icons__item.youtube, .social-icons .social-icons__item.instagram {
  background-image: url('../images/generated/icons-s6cfbb7c284.png');
  background-repeat: no-repeat; }

/* SR16  */
/* hover  */
/* text  */
/* Events  */
/* 
 * _font.scss
 * Font face
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/base\/_global\.scss}line{font-family:\000032}}
body {
  background: #fafafa; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\000033}}
.pagination {
  margin: 40px 0;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\000036}}
  .pagination li {
    display: none;
    margin: 0; }
    @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\000036}}
      .pagination li {
        display: inline-block;
        margin: 0 5px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000314}}
    .pagination li.last, .pagination li.first {
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000319}}
      .pagination li.last:hover a, .pagination li.last.active a, .pagination li.first:hover a, .pagination li.first.active a {
        color: #1e1e1e;
        border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000324}}
      .pagination li.last a, .pagination li.first a {
        width: 22px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000327}}
      .pagination li.last.disabled, .pagination li.first.disabled {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000331}}
    .pagination li.first {
      float: left; }
      @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000331}}
        .pagination li.first {
          float: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000337}}
      .pagination li.first a {
        background-position: 5px -65px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000339}}
        .pagination li.first a span {
          display: none; }
          @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000339}}
            .pagination li.first a span {
              display: block;
              text-indent: -9999em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000347}}
        .pagination li.first a:before {
          display: block;
          margin-top: 1px;
          content: "Previous";
          text-indent: 30px; }
          @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000347}}
            .pagination li.first a:before {
              display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000359}}
    .pagination li.last {
      float: right; }
      @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000359}}
        .pagination li.last {
          float: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000365}}
      .pagination li.last a {
        background-position: 5px 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000367}}
        .pagination li.last a span {
          display: none; }
          @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000367}}
            .pagination li.last a span {
              display: block;
              text-indent: -9999em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000375}}
        .pagination li.last a:before {
          display: block;
          margin-top: 1px;
          content: "Next";
          text-indent: -100px; }
          @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000375}}
            .pagination li.last a:before {
              display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000388}}
    .pagination li:hover a {
      color: #1e1e1e;
      border: 1px solid #1e1e1e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000394}}
    .pagination li.active a {
      color: #fff;
      border: 1px solid #1e1e1e;
      background: #1e1e1e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\00003100}}
    .pagination li a {
      display: block;
      width: 40px;
      height: 40px;
      padding: 7px;
      text-decoration: none;
      color: grey;
      font-size: 22px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\000032}}
.social-icons {
  padding: 25px 0;
  text-align: center;
  background: #282828; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\000036}}
  .social-icons .social-icons__item {
    display: inline-block;
    width: 50px;
    height: 42px;
    margin: 10px 0;
    text-indent: -9999em; }
    @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\000036}}
      .social-icons .social-icons__item {
        margin: 10px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\0000316}}
    .social-icons .social-icons__item.facebook {
      background-position: 11px -593px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\0000319}}
    .social-icons .social-icons__item.twitter {
      background-position: 0 -1277px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\0000322}}
    .social-icons .social-icons__item.gplus {
      background-position: 2px -675px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\0000325}}
    .social-icons .social-icons__item.youtube {
      background-position: 2px -1356px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\0000328}}
    .social-icons .social-icons__item.instagram {
      background-position: 5px -754px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/susy-2\.2\.11\/sass\/susy\/language\/susy\/_box-sizing\.scss}line{font-family:\0000321}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/layout\/_layout\.scss}line{font-family:\0000349}}
.l-page {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/susy-2\.2\.11\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
  .l-page:after {
    content: " ";
    display: block;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_list\.scss}line{font-family:\000034}}
ul li {
  font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\000031}}
body {
  font-size: 16px;
  font-family: "sofia-pro", "Verdana", Sans-Serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\000037}}
p {
  font-size: 1em;
  margin: 0 0 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\0000311}}
h1 {
  font-size: 1.4em;
  margin: 0 0 20px; }
  @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\0000311}}
    h1 {
      font-size: 1.6em; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\0000318}}
h2 {
  font-size: 1.2em;
  margin: 0 0 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\0000322}}
h3 {
  font-size: 21px; }

/*# sourceMappingURL=styles.css.map */
