@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/icons\/\*\.png}line{font-family:\00003168}}
.icons-sprite, .pagination li.first a, .pagination li.last a, .social-icons .social-icons__item.facebook, .social-icons .social-icons__item.twitter, .social-icons .social-icons__item.gplus, .social-icons .social-icons__item.youtube, .social-icons .social-icons__item.instagram {
  background-image: url('../images/generated/icons-s6cfbb7c284.png');
  background-repeat: no-repeat; }

/* SR16  */
/* hover  */
/* text  */
/* Events  */
/* 
 * _font.scss
 * Font face
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/base\/_global\.scss}line{font-family:\000032}}
body {
  background: #fafafa;
  font-size: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/base\/_global\.scss}line{font-family:\000036}}
.site-logo {
  width: 138px;
  height: 138px;
  float: left;
  margin-right: 20px;
  margin-top: -40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/base\/_global\.scss}line{font-family:\0000313}}
.page-title {
  max-width: 640px;
  margin: 40px auto;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/base\/_global\.scss}line{font-family:\0000318}}
.datetime {
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/base\/_global\.scss}line{font-family:\0000324}}
.node--view-mode-full {
  max-width: 640px;
  margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/base\/_global\.scss}line{font-family:\0000327}}
  .node--view-mode-full .field--type-image {
    margin-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/base\/_global\.scss}line{font-family:\0000329}}
    .node--view-mode-full .field--type-image img {
      width: 100%;
      height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/base\/_global\.scss}line{font-family:\0000335}}
.field--name-body a,
.btn-red {
  border-bottom: 2px solid #f0544a;
  color: inherit;
  text-decoration: none;
  -moz-transition: all 180ms;
  -o-transition: all 180ms;
  -webkit-transition: all 180ms;
  transition: all 180ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/base\/_global\.scss}line{font-family:\0000341}}
  .field--name-body a:hover,
  .btn-red:hover {
    border-bottom: 2px solid #1e1e1e; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_footer-navigation\.scss}line{font-family:\000033}}
.menu--footer {
  margin: 30px 0 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_footer-navigation\.scss}line{font-family:\000035}}
  .menu--footer ul {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_footer-navigation\.scss}line{font-family:\000037}}
    .menu--footer ul li {
      display: inline-block;
      margin: 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_footer-navigation\.scss}line{font-family:\0000311}}
      .menu--footer ul li:last-child a {
        border-right: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_footer-navigation\.scss}line{font-family:\0000315}}
      .menu--footer ul li a {
        display: block;
        color: #fff;
        margin: 0 5px 0 0;
        padding: 0 20px 0 10px;
        text-decoration: none;
        border-right: 1px solid #fff;
        font-weight: 300;
        -moz-transition: color 180ms;
        -o-transition: color 180ms;
        -webkit-transition: color 180ms;
        transition: color 180ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_footer-navigation\.scss}line{font-family:\0000325}}
        .menu--footer ul li a:hover {
          color: #dddddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_footer\.scss}line{font-family:\000032}}
footer {
  background: #1e1e1e;
  padding: 60px 0;
  margin-top: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_header\.scss}line{font-family:\000032}}
header {
  border-bottom: 4px solid #E6E6E6;
  padding-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_header\.scss}line{font-family:\000036}}
.region-header-top-wrapper {
  background: #1e1e1e;
  height: 49px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\000033}}
.menu--main {
  position: absolute;
  top: 85px;
  display: none;
  width: 100%;
  background: rgba(30, 30, 30, 0.95); }
  @media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\000033}}
    .menu--main {
      position: relative;
      top: 0;
      display: block !important;
      width: auto;
      padding-top: 20px;
      background: transparent; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\0000318}}
  .menu--main ul {
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\0000320}}
    .menu--main ul li {
      display: block;
      margin: 0;
      color: #fff; }
      @media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\0000320}}
        .menu--main ul li {
          display: inline-block; } }
      @media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\0000320}}
        .menu--main ul li {
          margin: 0 20px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\0000331}}
      .menu--main ul li a {
        display: block;
        padding: 15px 10px;
        text-decoration: none;
        color: #1e1e1e;
        border-bottom: 2px solid transparent;
        font-size: 18px;
        -moz-transition: border-bottom 180ms;
        -o-transition: border-bottom 180ms;
        -webkit-transition: border-bottom 180ms;
        transition: border-bottom 180ms; }
        @media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\0000331}}
          .menu--main ul li a {
            padding: 20px 0 4px;
            font-size: 18px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\0000344}}
        .menu--main ul li a:hover {
          text-decoration: none;
          color: #1e1e1e;
          background: #acaaa9; }
          @media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\0000344}}
            .menu--main ul li a:hover {
              border-bottom: 2px solid #1e1e1e;
              background: transparent; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\0000354}}
        .menu--main ul li a.active {
          text-decoration: none;
          color: #1e1e1e;
          background: #fff; }
          @media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_main-navigation\.scss}line{font-family:\0000354}}
            .menu--main ul li a.active {
              color: #1e1e1e;
              border-bottom: 2px solid #1e1e1e;
              background: transparent; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_news-teaser\.scss}line{font-family:\000033}}
.node--type-article.node--view-mode-teaser {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_news-teaser\.scss}line{font-family:\000039}}
  .node--type-article.node--view-mode-teaser h2 {
    -moz-box-shadow: inset 10px -140px 81px -97px #1e1e1e;
    -webkit-box-shadow: inset 10px -140px 81px -97px #1e1e1e;
    box-shadow: inset 10px -140px 81px -97px #1e1e1e;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    padding: 80px 10px 10px;
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_news-teaser\.scss}line{font-family:\0000317}}
    .node--type-article.node--view-mode-teaser h2 a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_news-teaser\.scss}line{font-family:\0000324}}
  .node--type-article.node--view-mode-teaser .node__links {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_news-teaser\.scss}line{font-family:\0000327}}
    .node--type-article.node--view-mode-teaser .node__links a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 27%;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background: #f0544a; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_news-teaser\.scss}line{font-family:\0000343}}
  .node--type-article.node--view-mode-teaser:hover .node__links {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\000033}}
.pagination {
  margin: 40px 0;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\000036}}
  .pagination li {
    display: none;
    margin: 0; }
    @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\000036}}
      .pagination li {
        display: inline-block;
        margin: 0 5px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000314}}
    .pagination li.last, .pagination li.first {
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000319}}
      .pagination li.last:hover a, .pagination li.last.active a, .pagination li.first:hover a, .pagination li.first.active a {
        color: #1e1e1e;
        border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000324}}
      .pagination li.last a, .pagination li.first a {
        width: 22px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000327}}
      .pagination li.last.disabled, .pagination li.first.disabled {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000331}}
    .pagination li.first {
      float: left; }
      @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000331}}
        .pagination li.first {
          float: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000337}}
      .pagination li.first a {
        background-position: 5px -65px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000339}}
        .pagination li.first a span {
          display: none; }
          @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000339}}
            .pagination li.first a span {
              display: block;
              text-indent: -9999em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000347}}
        .pagination li.first a:before {
          display: block;
          margin-top: 1px;
          content: "Previous";
          text-indent: 30px; }
          @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000347}}
            .pagination li.first a:before {
              display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000359}}
    .pagination li.last {
      float: right; }
      @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000359}}
        .pagination li.last {
          float: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000365}}
      .pagination li.last a {
        background-position: 5px 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000367}}
        .pagination li.last a span {
          display: none; }
          @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000367}}
            .pagination li.last a span {
              display: block;
              text-indent: -9999em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000375}}
        .pagination li.last a:before {
          display: block;
          margin-top: 1px;
          content: "Next";
          text-indent: -100px; }
          @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000375}}
            .pagination li.last a:before {
              display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000388}}
    .pagination li:hover a {
      color: #1e1e1e;
      border: 1px solid #1e1e1e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\0000394}}
    .pagination li.active a {
      color: #fff;
      border: 1px solid #1e1e1e;
      background: #1e1e1e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_pagination\.scss}line{font-family:\00003100}}
    .pagination li a {
      display: block;
      width: 40px;
      height: 40px;
      padding: 7px;
      text-decoration: none;
      color: grey;
      font-size: 22px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\000032}}
.social-icons {
  padding: 25px 0;
  text-align: center;
  background: #282828; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\000036}}
  .social-icons .social-icons__item {
    display: inline-block;
    width: 50px;
    height: 42px;
    margin: 10px 0;
    text-indent: -9999em; }
    @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\000036}}
      .social-icons .social-icons__item {
        margin: 10px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\0000316}}
    .social-icons .social-icons__item.facebook {
      background-position: 11px -593px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\0000319}}
    .social-icons .social-icons__item.twitter {
      background-position: 0 -1277px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\0000322}}
    .social-icons .social-icons__item.gplus {
      background-position: 2px -675px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\0000325}}
    .social-icons .social-icons__item.youtube {
      background-position: 2px -1356px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_social\.scss}line{font-family:\0000328}}
    .social-icons .social-icons__item.instagram {
      background-position: 5px -754px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_view-filters\.scss}line{font-family:\000032}}
.views-exposed-form {
  background: #1e1e1e;
  padding: 20px 0;
  margin-bottom: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_view-filters\.scss}line{font-family:\0000311}}
  .views-exposed-form label {
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_view-filters\.scss}line{font-family:\0000314}}
  .views-exposed-form .form-item,
  .views-exposed-form .form-actions {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_view-filters\.scss}line{font-family:\0000318}}
  .views-exposed-form select {
    width: 150px;
    height: 19px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/components\/_view-filters\.scss}line{font-family:\0000321}}
    .views-exposed-form select option {
      display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/susy-2\.2\.11\/sass\/susy\/language\/susy\/_box-sizing\.scss}line{font-family:\0000321}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/layout\/_layout\.scss}line{font-family:\0000353}}
.region-header-inner-wrapper,
.region-header-top,
.region-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/susy-2\.2\.11\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
  .region-header-inner-wrapper:after,
  .region-header-top:after,
  .region-content:after {
    content: " ";
    display: block;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/layout\/_layout\.scss}line{font-family:\0000358}}
header,
.region-highlighted,
main {
  overflow: hidden;
  *zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/layout\/_layout\.scss}line{font-family:\0000363}}
.block-search {
  float: right;
  margin-top: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/layout\/_views\.scss}line{font-family:\000035}}
.view .item-list li {
  margin-bottom: 15px; }
  @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/layout\/_views\.scss}line{font-family:\000035}}
    .view .item-list li {
      width: 48.91304348%;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/susy-2\.2\.11\/sass\/susy\/language\/susy\/_gallery\.scss}line{font-family:\0000366}}
      .view .item-list li:nth-child(2n + 1) {
        margin-left: 0.54347826%;
        margin-right: -100%;
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/susy-2\.2\.11\/sass\/susy\/language\/susy\/_gallery\.scss}line{font-family:\0000366}}
      .view .item-list li:nth-child(2n + 2) {
        margin-left: 50.54347826%;
        margin-right: -100%;
        clear: none; } }
  @media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/layout\/_views\.scss}line{font-family:\000035}}
    .view .item-list li {
      width: 32.24637681%;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/susy-2\.2\.11\/sass\/susy\/language\/susy\/_gallery\.scss}line{font-family:\0000366}}
      .view .item-list li:nth-child(3n + 1) {
        margin-left: 0.54347826%;
        margin-right: -100%;
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/susy-2\.2\.11\/sass\/susy\/language\/susy\/_gallery\.scss}line{font-family:\0000366}}
      .view .item-list li:nth-child(3n + 2) {
        margin-left: 33.87681159%;
        margin-right: -100%;
        clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/lib\/ruby\/gems\/2\.2\.0\/gems\/susy-2\.2\.11\/sass\/susy\/language\/susy\/_gallery\.scss}line{font-family:\0000366}}
      .view .item-list li:nth-child(3n + 3) {
        margin-left: 67.21014493%;
        margin-right: -100%;
        clear: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/layout\/_views\.scss}line{font-family:\0000314}}
  .view .item-list li .field--name-field-image img {
    width: 100%;
    height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_list\.scss}line{font-family:\000034}}
ul li {
  font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\000033}}
body {
  font-size: 16px;
  font-family: "sofia-pro", "Verdana", Sans-Serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\000037}}
h1, h2, h3, h4, h5, p {
  margin: 0 0 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\0000310}}
p {
  font-size: 1em;
  line-height: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\0000314}}
h1 {
  font-family: "Knockout 27 A","Knockout 27 B",Impact;
  font-size: 32px;
  font-weight: normal;
  line-height: 28px; }
  @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\0000314}}
    h1 {
      font-size: 64px;
      font-weight: normal;
      line-height: 60px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\0000325}}
h2 {
  font-size: 1.2em;
  margin: 0 0 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gustavo\/Sites\/campaign\/campaign\/profiles\/cr\/themes\/custom\/campaign_base\/sass\/theme\/_typography\.scss}line{font-family:\0000329}}
h3 {
  font-size: 21px; }

/*# sourceMappingURL=styles.css.map */
