// Meta Nav

.meta-nav {
  float: right;
}
.meta-nav__burger {
  border-right: 2px solid $colour-light-grey;
  border-left: 2px solid $colour-light-grey;
  margin-left: 10px;
}
.meta-nav__icons {
  float: left;
  @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
    position: relative;
    z-index: 10;
    float: left;
    height: 103px;
    .icon {
      width: 35px;
      height: 100%;
    }
  }
  .meta-nav-toggle {
    float: right;
    font-size: 16px;
  }
  .meta-nav__icons-login {
    display: inline-block;
    text-decoration: none;
  }
  .meta-nav__icons-login,
  .meta-nav__icons-magnify,
  .meta-nav__icons-esu-toggle {
    width: 35px;
    height: 76px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    @include breakpoint($screen-md) {
      width: 46px;
    }
    @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
      height: 103px;
    }
    &.active {
      background-color: #f9f9f9;
    }
    &:focus {
      outline: none;
    }
    span {
      display: none;
    }
    .icon {
      @include transition-property(fill);
      @include transition-duration(150ms);
      @include breakpoint($screen-md) {
        width: 35px;
        height: 35px;
      }
      @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
        width: 20px;
        height: 21px;
        margin: 40px 12px;
      }
      margin: 21px 4px;
      width: 25px;
      height: 25px;

      fill: $colour-jasper-grey;
    }
    &:hover,
    &:focus,
    &:active {
      .icon {
        fill: $colour-black;
      }
    }
  }
}
.meta-nav__feature-items {
  @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
    display: block;
  }
  display: none;
  float: left;
  margin-top: 16px;
  li {
    display: inline-block;
    margin: 0 20px;
    padding: 24px 0;
    a {
      @include transition(border 0.4s);
      padding: 2px 8px;
      text-decoration: none;
      color: #333;
      border-bottom: 3px solid transparent;
      font-size: 16px;
      line-height: 16px;
    }
    &.menu-item--active-trail a,
    &.menu-item--active-trail a:hover,
    a:hover {
      border-bottom: 3px solid $colour-red;
      background-color: transparent;
    }
  }
}
