// Content Wall
//
// This is a content wall block
//
// Markup: content-wall.twig
//
// Style guide: Content-wall

.content-wall {
  width: 100%;
  padding: $row-padding--sm 0;

  @include breakpoint($screen-md) {
    padding: $row-padding--md 0;
  }
}
.content-wall__title {
  text-align: center;
  margin-bottom: 30px;
}

.cw-region {
  width: 100%;
  margin: 0 auto;
  @include breakpoint($screen-md) {
    padding: 0 gutter();
  }
  @include breakpoint($screen-lg) {
    padding: 0;
  }
}
