<div class="cw-region">
	<article class="view-mode-cw_l cw-quote clearfix"> 
		<div class="cw-quote__outer-wrapper">
			<div class="cw-quote__bg-image">
				<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/pattern.gif" alt="test" typeof="foaf:Image">
			</div>
			<div class="cw-quote__inner-wrapper">
					<div class="cw-quote__image bg--purple">
					<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/silhouette.png" alt="test" typeof="foaf:Image">
				</div>
				<div class="cw-quote__body">
					<h3 class="font--yellow">Jo's Top Tip</h3>
					<h4 class="font--yellow">Top-up your fundraising total with a classic, pay-to-play, 'guess the weight of the cake' competition.</h4>
				</div>

			</div>
		</div>
	</article>
</div>

<div class="cw-region">
	<article class="view-mode-cw_m cw-quote clearfix"> 
		<div class="cw-quote__outer-wrapper">
			<div class="cw-quote__bg-image">
				<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/pattern.gif" alt="test" typeof="foaf:Image">
			</div>
			<div class="cw-quote__inner-wrapper">
					<div class="cw-quote__image bg--purple">
					<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/silhouette.png" alt="test" typeof="foaf:Image">
				</div>
				<div class="cw-quote__body">
					<h3 class="font--yellow">Jo's Top Tip</h3>
					<h4 class="font--yellow">Top-up your fundraising total with a classic, pay-to-play, 'guess the weight of the cake' competition.</h4>
				</div>

			</div>
		</div>
	</article>
		<article class="view-mode-cw_m cw-quote clearfix"> 
		<div class="cw-quote__outer-wrapper">
			<div class="cw-quote__bg-image">
				<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/pattern.gif" alt="test" typeof="foaf:Image">
			</div>
			<div class="cw-quote__inner-wrapper">
					<div class="cw-quote__image bg--purple">
					<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/silhouette.png" alt="test" typeof="foaf:Image">
				</div>
				<div class="cw-quote__body">
					<h3 class="font--yellow">Jo's Top Tip</h3>
					<h4 class="font--yellow">Top-up your fundraising total with a classic, pay-to-play, 'guess the weight of the cake' competition.</h4>
				</div>

			</div>
		</div>
	</article>
</div>

<div class="cw-region">
	<article class="view-mode-cw_s cw-quote clearfix"> 
		<div class="cw-quote__outer-wrapper">
			<div class="cw-quote__bg-image">
				<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/pattern.gif" alt="test" typeof="foaf:Image">
			</div>
			<div class="cw-quote__inner-wrapper">
					<div class="cw-quote__image bg--purple">
					<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/silhouette.png" alt="test" typeof="foaf:Image">
				</div>
				<div class="cw-quote__body">
					<h3 class="font--yellow">Jo's Top Tip</h3>
					<h4 class="font--yellow">Top-up your fundraising total with a classic, pay-to-play, 'guess the weight of the cake' competition.</h4>
				</div>

			</div>
		</div>
	</article>
	<article class="view-mode-cw_s cw-quote clearfix"> 
		<div class="cw-quote__outer-wrapper">
			<div class="cw-quote__bg-image">
				<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/pattern.gif" alt="test" typeof="foaf:Image">
			</div>
			<div class="cw-quote__inner-wrapper">
					<div class="cw-quote__image bg--purple">
					<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/silhouette.png" alt="test" typeof="foaf:Image">
				</div>
				<div class="cw-quote__body">
					<h3 class="font--yellow">Jo's Top Tip</h3>
					<h4 class="font--yellow">Top-up your fundraising total with a classic, pay-to-play, 'guess the weight of the cake' competition.</h4>
				</div>

			</div>
		</div>
	</article>
	<article class="view-mode-cw_s cw-quote clearfix"> 
		<div class="cw-quote__outer-wrapper">
			<div class="cw-quote__bg-image">
				<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/pattern.gif" alt="test" typeof="foaf:Image">
			</div>
			<div class="cw-quote__inner-wrapper">
					<div class="cw-quote__image bg--purple">
					<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/silhouette.png" alt="test" typeof="foaf:Image">
				</div>
				<div class="cw-quote__body">
					<h3 class="font--yellow">Jo's Top Tip</h3>
					<h4 class="font--yellow">Top-up your fundraising total with a classic, pay-to-play, 'guess the weight of the cake' competition.</h4>
				</div>

			</div>
		</div>
	</article>
</div>
