<div class="cr-email-signup-register-interest-form contextual-region block-cr-email-signup block--cr-email-signup block--cr-email-signup--register-interest block--cr-email-signup--step-1 block--cr-email-signup--banner crEMailSignup-processed" data-drupal-selector="cr-email-signup-register-interest-form" id="block-emailsignupblockregisterinterest">
  <div class="block--cr-email-signup__inner-wrapper">
    <div class="cr-email-signup--messages">
      <div class="esu-initial-message">
        <p>ESU Register Interest: initial message</p>
      </div>
      <div class="esu-first-success-message">
        <p>ESU Register Interest: success message</p>
      </div>
    </div>
    <div class="esu-errors messages messages--error">
      <div></div>
    </div>
    <form action="/web/test/esu" method="post" id="cr-email-signup-register-interest-form" accept-charset="UTF-8" data-drupal-form-fields="edit-email--5,edit-step1--5">
      <input class="esu-device" data-drupal-selector="edit-device" type="hidden" name="device" value="OS_X_10.11.6_-_Chrome_56.0.2924.87">
      <input class="esu-source" data-drupal-selector="edit-source" type="hidden" name="source" value="Banner">
      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-email form-item-email">
        <label for="edit-email--5">Your email address</label>
        <input class="–metrika-nokeys form-text" data-drupal-selector="edit-email" type="text" id="edit-email--5" name="email" value="" size="60" maxlength="500" placeholder="Enter your email address">
      </div>
      <input class="step1 button js-form-submit form-submit" data-drupal-selector="edit-step1" type="submit" id="edit-step1--5" name="step1" value="Subscribe">
      <input data-drupal-selector="form-viyyqd1ny64-7lbarzwycso-2-zsflyjcxuvjyhekuw" type="hidden" name="form_build_id" value="form-VIYYqD1ny64_7lBArzWYcso_2-zsfLYJcxUVjYHeKUw">
      <input data-drupal-selector="edit-cr-email-signup-register-interest-form-form-token" type="hidden" name="form_token" value="7YRPGVfEFSFWIp_igbeaXZBlhOLvbP-8WQZTFyi7EXM">
      <input data-drupal-selector="edit-cr-email-signup-register-interest-form" type="hidden" name="form_id" value="cr_email_signup_register_interest_form">
    </form>
  </div>
</div>
