# Minified and Concat JS #
/js

# Compiled CSS and CSS MAP #
css
ie9-css

# Style guide #
/styleguide

# Patternlab package files #

!templates/pattern-lab
templates/pattern-lab/*

# Sprite image generated #

/images/generated

# Libraries #

/libraries
