// Search results
//
// This is Search results
//
// Markup: search-results.hbs
//
// Style guide: search-result

.path-search {
  background-color: $colour-smoke-grey;
}
.search-result {
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: left;
  a {
    text-decoration: none;
    color: $colour-black;
  }
}
.search-result__image {
  @include span(5);
  margin-left: 0;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.search-result__content-wrapper {
  @include span(7 wider);
  position: absolute;
  top: 0;
  right: 0;
  padding: calc(2 * #{gutter()});
  height: 100%;
  margin-right: 0;
  &.search-result__content-wrapper--no-image {
    @include span(12);
    position: relative;
    .search-result__content {
      @include translateY(0);
      position: relative;
      top: 0;
    }
  }
  // position: relative;
  height: 100%;
  padding: 30px;
}
.search-result__content {
  @include translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: calc(100% - 40px);
  margin: auto;
}
.search-result__body {
  display: none;
  @include breakpoint($screen-md, $no-query: true) {
    display: block;
  }
}
.search-result__tag {
  display: inline-block;
  margin-right: 10px;
  text-transform: capitalize;
  color: $colour-red;
  line-height: 18px;
}
.search-result__published-date {
  display: inline-block;
  padding-left: 12px;
  border-left: 2px solid $colour-black;
  line-height: 18px;
}
// Search views details
.view-search {
  .search__total,
  .search__start-end {
    @extend p;
    @extend .font--xlarge;
    .path-search & {
      display: block;
      text-align: left;
      width: 100%;
      float: none;
      margin-bottom: 0;
      @include breakpoint($screen-md, $no-query: true) {
        width: auto;
      }
    }
  }
  .search__total {
    margin-bottom: 5px;
    .path-search & {
      @include breakpoint($screen-md, $no-query: true) {
        display: inline-block;
      }
    }
  }
  .search__start-end {
    .path-search & {
      @include breakpoint($screen-md, $no-query: true) {
        float: right;
      }
    }
  }
}
.view-header {
  margin: 20px 0;
}
