<div class="search-result search-result--article">
	<a class="search-result__link" href="#">
		<div class="search-result__image">
			<img src="http://dummyimage.com/272x272/feed51/000000.png" alt="search result image">
		</div>
		<div class="search-result__content-wrapper bg--white">
			<div class="search-result__content">
				<span class="search-result__tag">Video</span>
				<span class="search-result__published-date">1st Feb 2016</span>
				<h3>Follow in Dermont's footsteps</h3>
				<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
			</div>
		</div>
	</a>
</div>