// Content Wall
//
// This is a content wall block
//
// Markup: content-wall.hbs
//
// Style guide: Content-wall

.content-wall {
  width: 100%;
  padding: $row-padding--sm 0;

  @include breakpoint($screen-md) {
    padding: $row-padding--md 0;
  }
}
.content-wall__title {
  text-align: center;
  margin-bottom: 30px;
}
.cw-region {
  width: 100%;
  margin: 0 auto;
  @include breakpoint($screen-md) {
    padding: 0 gutter();
  }
  @include breakpoint($screen-lg) {
    padding: 0;
  }
}
.cw-article__body {
  padding: 16px 20px 20px;

  @include breakpoint($screen-md) {
    height: 100%;
    padding: 15px;
    &.cw-article__body--over {
      padding: 20px;
      position: absolute;
      top: 0;
      right: 15px;
      width: 50%;
    }
    &.cw-article__body--hide-show {
      position: absolute;
      top: 167px;

      @include transition(top 0.5s);
      p,
      a {
        @include opacity(0);
        @include transition(opacity 0.5s 0.15s);
      }
    }
  }
}
.cw-article {
  position: relative;
  overflow: hidden;

  @include breakpoint($screen-md) {
    height: 172px;
    margin: 15px 0;
    .cw-article__image {
      // for img to fill area when not set by js
      height: 255px;
    }
    .cw-article__image--fifty {
      width: 50%;
    }
    .no-flexboxlegacy & {
      position: static; // IE fix
      max-width: 100%;
    }
    &:hover .cw-article__body--hide-show {
      top: 0!important;
      p,
      a {
        @include opacity(1);
      }
    }
    .cw-first-col {
      &.cw-first-col__right {
        float: right;
      }
    }
  }
  @include breakpoint($screen-md) {
    height: 345px;
    .cw-article__image {
      // for img to fill area when not set by js
      height: 280px;
    }
    .cw-article__body--hide-show {
      top: 245px;
    }
    .cw-first-col {
      height: 345px;
    }
  }
  @include breakpoint($screen-lg) {
    height: 440px;
    .cw-article__image {
      // for img to fill area when not set by js
      height: 375px;
    }
    .cw-article__body--hide-show {
      top: 316px;
    }
    .cw-first-col {
      height: 440px;
    }
  }
}
.cw-article--two-third {
  img {
    float: left;
  }
  .cw-article__body {
    float: left;
  }
}
.cw-article__image {
  img {
    width: 100%;
    height: auto;
    margin-bottom: -5px;
  }
  .cw-article--large & {
    height: auto!important;
  }
  @include breakpoint($screen-md) {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    img {
      display: block;
      width: 100%;
      height: 100%;

      object-fit: cover;
      .no-objectfit & {
        position: absolute;
        top: -100%;
        right: -100%;
        bottom: -100%;
        left: -100%;
        overflow: hidden;
        width: auto;
        max-width: none;
        height: 100%!important;
        max-height: none;
        margin: auto;
      }
    }
  }
}
@include breakpoint(max-width 739px) {
  // remove height from desktop to mobile resize
  .cw-article {
    padding: 0 calc(4 * #{gutter()}) calc(4 * #{gutter()});
  }
  .cw-article__image {
    height: auto!important;
  }
}
.cw-article__body {
  padding: 20px;
  width: 100%;

  @include breakpoint($screen-md) {
    height: 100%;
    &.cw-article__body--over {
      position: absolute;
      top: 0;
      right: 15px;
      width: 50%;
      padding: 20px;
    }
    &.cw-article__body--hide-show {
      position: absolute;
      top: 165px;
    }
  }
  @include breakpoint($screen-md-max) {
    padding: 30px;
  }
}
