<div class="cw-region">
	<article class="view-mode-cw_l cw-quote clearfix"> 

		<!-- BG image to be added here as style? -->
		<div class="cw-quote__wrapper">

			<!-- Covers all of wrapper -->
			<div class="cw-quote__bg-image">
				<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/pattern.gif" alt="test" typeof="foaf:Image">
			</div>

			<div class="cw-quote__body">
				<h3 class="font--yellow">Shrek Is Life, Shrek Is Love</h3>
				<h4 class="font--yellow">Shrek Is Life, Shrek Is Love, Shrek Is Life, Shrek Is Love, Shrek Is Life, Shrek Is Love, Shrek Is Life, Shrek Is Love, Shrek Is Life, Shrek Is Love, Shrek Is Life, Shrek Is Love, Shrek Is Life, Shrek Is Love, Shrek Is Life, Shrek Is Love, 
				</h4>
				
				<h4 class="font--yellow">Shrek Is Life, Shrek Is Love, Shrek Is Life, Shrek Is Love, Shrek Is Life, Shrek Is Love, Shrek Is Life, Shrek Is Love
				</h4>
			</div>
			
			<div class="cw-quote__image">
				<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/happygeezer.png" alt="test" typeof="foaf:Image">
			</div>
			
			</div>

	</article>
</div>

