<div class="cw-region">
	<article class="view-mode-cw_m cw-article clearfix"> 
		<div class="cw-article__image" style="height: 321px;">
		  <a rel="" class="" href="http://shop.rednoseday.com/order-a-fundraising-kit" target="_black"> 
		  	<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" width="2340" height="1316" alt="test" typeof="foaf:Image">
			</a>
		</div>
		<div class="cw-article__body bg--white cw-article__body--hide-show">
		  <h4 class="cw-article__title">
		    Pre-order your free Fundraising Kit
		  </h4>
			<p>Packed full of ideas, posters, tips, tools and a crocodile*, it’s all you need to make raising money a doddle this Red Nose Day.</p>
			<div class="cw-article__link">
		  	<a rel="" class="link link--red" href="http://shop.rednoseday.com/order-a-fundraising-kit" target="_black">Pre-order a Kit</a>
		  </div>
		</div> 
	</article>
	<article class="view-mode-cw_m cw-article clearfix"> 
		<div class="cw-article__image" style="height: 321px;">
		  <a rel="" class="" href="http://shop.rednoseday.com/order-a-fundraising-kit" target="_black"> 
		  	<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" width="2340" height="1316" alt="test" typeof="foaf:Image">
			</a>
		</div>
		<div class="cw-article__body bg--white cw-article__body--hide-show">
		  <h4 class="cw-article__title">
		    Pre-order your free Fundraising Kit
		  </h4>
			<p>Packed full of ideas, posters, tips, tools and a crocodile*, it’s all you need to make raising money a doddle this Red Nose Day.</p>
			<div class="cw-article__link">
		  	<a rel="" class="link link--red" href="http://shop.rednoseday.com/order-a-fundraising-kit" target="_black">Pre-order a Kit</a>
		  </div>
		</div> 
	</article>
</div>
