<article class="cw-article">
 <div class="cw-article__image">
   <img alt="" title="" src="http://dummyimage.com/600x400/000/fff">
 </div>
 <div class="cw-article__body cw-article__body--hide-show">
   <h3 class="cw-article__title">Header III</h3>
   <p>Monotonectally unleash inexpensive e-business whereas open-source deliverables. Authoritatively utilize global process improvements for team driven technologies. Less.</p> 
   <a href="" class="cw-article__link">Call to action</a>
 </div>
</article>