// Email sign up header
//
// Standard Email sign up head
//
// Markup: email-signup-head.hbs
//
// Style guide: Banners.Email-signup-head

//hide esu form initially
.block--cr-email-signup--head {
  display: none;
  position: relative;
  top: 80px;
  z-index: 101;

  @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
    top: 0;
  }

  .messages--error {
    margin-top:0;
  }
}

.ui-selectmenu-menu {
  z-index: 102;
}

.block--cr-email-signup--head.show {
  display: block;
  .block--cr-email-signup__inner-wrapper {
    background-color: $colour-black;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    @include breakpoint($screen-md) {
      max-width: 400px;
    }
    .icon {
      fill: $colour-white;
      height: 50px;
      position: absolute;
      right: 10px;
      top: 0;
      width: 50px;
      &:hover, 
      &:focus {
        fill: $colour-jasper-grey;
      }
    }
  }
  .cr-email-signup--messages {
    height: 100%;
    margin: 34px auto 0;
    padding: 0 20% 10px;
    width: 100%;
  }
  form {
    margin: 0 auto;
    max-width: 370px;
    width: 100%;
  }
  .js-form-item-email, 
  .js-form-type-select {
    margin: 0;
    @include breakpoint($screen-md) {
      margin-right: 0;
      max-width: 310px;
      width: 100%;
    }
    label {
      @include visuallyhidden;
    }
    input, 
    .ui-selectmenu-button {
      border-radius: 36px 0 0 36px;
      padding-left: 22px;
      max-width: 310px;
      float: left;
    }
  }
  input[type=submit].button {
    background: $colour-jasper-grey url(../images/svgs/arrow-right.svg) -4px center no-repeat;
    text-indent: -9999px;
    max-width: 60px;
    @include breakpoint($screen-md) {
      margin: 0;
      width: 100%;
    }
  }
  .form-submit.step1, 
  .form-submit.step2 {
    border-radius: 0 36px 36px 0;
    margin-top: 0;
  }
  p, 
  .cr-email-signup--messages p, 
  .esu-second-success-message p {
    color: $colour-white;
    text-align: center;
  }
  .esu-second-success-message {
    @include span(8);
    @include push(2);
  }
}
