// Email sign up banner
//
// Standard Email sign up banner
//
// Markup: email-signup.hbs
//
// Style guide: Banners.Email-signup

/* Generic styles */
input.button,
input.form-text,
select,
.ui-selectmenu-button {
  &:focus {
    outline: none;
  }
}

.button.form-submit:disabled {
  @include opacity(0.1);
}

/* Step 1 styles */
.block--cr-email-signup {
  float: left;
  width: 100%;
  background: #fafafa; // change for variable

  .esu-errors.messages.messages--error,
  .ajax-progress {
    display: none;
  }

  .block--cr-email-signup__inner-wrapper {
    @include container;
    @include clearfix;
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-top: 50px;
  }

  .form-item {
    margin: 0;
  }
  .cr-email-signup--messages {
    @include span(12);
    position: relative;
    height: 50px;
    text-align: center;
    > div {
      width: 100%;
    }
  }
  .esu-initial-message {
    display: block;
  }
  .form-item-email,
  .form-item-school-phase {
    @include span(8);
    @include push(1);
    margin-right: 0;
  }

  .button.form-submit {
    @include border-radius(0);
    @include span(2 wide);
    height: 50px;
    margin-left: 0;
    margin-left: 0;
    cursor: pointer;
    color: #fff;
    border: 0;
    background-color: #5f5c59;
    font-size: 14px;
    font-weight: normal;
    -webkit-appearance: none;
    // iOS fix
    -webkit-tap-highlight-color: transparent;
    @include transition-property(background-color);
    @include transition-duration(600ms);
    &:hover {
      background-color: #272727;
    }
  }
  /*  Step 1 */
  .form-item-email,
  .form-item-firstname {
    label {
      position: absolute;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      height: 1px;
    }
    .form-text {
      width: 100%;
      height: 50px;
      margin-right: 0;
      padding: 15px 0 15px 10px;
      //border: 1px solid #5f5c59;
      //border-right: none;
      //@include border-radius(0);
      border: 0;

      &:focus {
        border: 1px solid #5f5c59;
        border-right: none;
      }
    }
  }
  /*  Step 2 */
  &.block--cr-email-signup--step-2 {
    .form-item-school-phase {
      label {
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 21px;
        // Stop this label breaking onto 2 lines on tiny screens and ruining everything
        white-space: nowrap;
      }
      select,
      .ui-selectmenu-button {
        width: 100%;
        height: 50px;
        margin-right: 0;
        padding: 15px 0 15px 10px;
      }
      .ui-selectmenu-button span.ui-selectmenu-text {
        padding: 0 10px;
      }
    }
     .button.form-submit {
      margin-top: 21px;
    }
  }

  /* ESU icon */
  .block--cr-email-signup__inner-wrapper:after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 62px;
    height: 42px;
    margin-left: -33px;
    content: "";
    background: sprite($icons, esuEmailIconLarge) no-repeat;
  }
  /* Tick icon */
  &.block--cr-email-signup--step-2,
  &.block--cr-email-signup--step-3 {
    .block--cr-email-signup__inner-wrapper:after {
      width: 45px;
      height: 45px;
      margin-left: -23px;
      background: sprite($icons, green-tick) no-repeat;
    }
  }
  // Error state
  &.block--cr-email-signup--error {
    position: relative;
    .esu-errors.messages.messages--error {
      display: block;
      margin-top: 50px;
      margin-bottom: 10px;
      text-align: center;
    }

    .form-item-email .form-text,
    .form-item-school-phase .ui-selectmenu-button {
      border: 2px solid red;
    }
  }


  /* Workplace ESU */
  &.block--cr-email-signup--workplace {
    background-color: $colour-red;
    .cr-email-signup--messages {
      text-align: center;
      @include span(10);
      @include push(1);
      height: auto;

      h3 {
        color: $colour-yellow;
      }

      .esu-initial-message,
      .esu-first-success-message {
        position: relative;
        @include translateY(0);
        color: $colour-white;
        @include span(12);
      }
      .esu-first-success-message p {
        @extend h4;
      }
    }

    .block--cr-email-signup__inner-wrapper {
      &:after {
        content: none;
      }

      #cr-email-signup-workplace-form {
        margin-top: 20px;
        @include span(12);

        .form-item-firstname,
        .form-item-email {
          @include span(12);
          position: relative;
          margin-top: 30px;
          label {
            position:absolute;
            top: -20px;
            clip: auto;
            height: auto;
            color: $colour-white;
          }
        }

        .form-submit {
          margin-top: 30px;
          @extend .btn--yellow;
          @include span(12);
        }
      }
    }
  }
}





/* Medium breakpoint */
@include breakpoint($screen-md) {
  .block--cr-email-signup {
    .block--cr-email-signup__inner-wrapper {
      padding: 45px 0;
    }
    .cr-email-signup--messages {
      @include span(4 wide);
      @include push(2);
      > div {
        @include translateY(-50%);
        position: absolute;
        top: 50%;
        margin: 0;
        h4 {
          margin: 0;
        }
      }
    }
    .form-item-email {
      @include span(4);
      margin-right: 0;
      .form-text {
        margin-right: 0;
        margin-left: 0;
      }
    }
     .button.form-submit {
      @include span(1 wide);
      margin-left: 0;
      margin-top: 0;
      margin-left: 0;
    }
    /*  Step 2 */
    &.block--cr-email-signup--step-2 {
      .form-item-school-phase {
        @include span(4);
        position: relative;
        margin-right: 0;
        label {
          position: absolute;
          top: -20px;
          left: 0;
          width: 100%;
          margin: 0;
        }
        select,
        .ui-selectmenu-button {
          width: 100% !important;
          margin-right: 0;
          margin-left: 0;
        }
      }
     .button.form-submit {
        margin-top: 0;
      }
    }
    // ESU icon
    .block--cr-email-signup__inner-wrapper:after {
      top: 27px;
      left: 10%;
      width: 50px;
      height: 35px;
      margin-left: 0;
      background: sprite($icons, esuEmailIconSmall) no-repeat;
    }
    // Tick icon
    &.block--cr-email-signup--step-2,
    &.block--cr-email-signup--step-3 {
      .block--cr-email-signup__inner-wrapper:after {
        top: 22px;
        width: 45px;
        height: 45px;
        margin-left: -23px;
        background: sprite($icons, green-tick) no-repeat;
      }
    }
    &.block--cr-email-signup--step-3 {
      .cr-email-signup--messages {
        @include span(8);
        @include push(2);
      }
    }
    // Error state
    &.block--cr-email-signup--error {
      .block--cr-email-signup__inner-wrapper {
        padding-top: 75px;
        &:after {
          top: 80px;
        }
      }
      .esu-errors.messages.messages--error {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
      /* Workplace ESU */
  &.block--cr-email-signup--workplace {
    .cr-email-signup--messages {
      @include span(10);
      @include push(1);

      // Copy
      .esu-initial-message {
        @include span(8);
        @include push(2);
      }
    }

    .block--cr-email-signup__inner-wrapper {
      #cr-email-signup-workplace-form {
        //margin-top: 20px;
        //padding-top:20px;
        //position: relative;
        //@include span(10);
        //@include push(1);

        .form-item-firstname,
        .form-item-email {
          //@include span(5);
          label {
            //position:absolute;
            //top: 0;
            //clip: auto;
            //height: auto;
            //color: $colour-white;
          }
        }

        // Button
        .form-submit {
          //@extend .btn--yellow;
          //@include span(2);
        }
      }
    }
  }
  }
}


/* Large breakpoint */
@include breakpoint($screen-lg) {
  .block--cr-email-signup {
    .cr-email-signup--messages {
      @include span(4);
      @include push(2);
    }
    .form-item-email {
      @include span(3);
      margin-right: 0;
    }
    // ESU icon
    &:after {
      top: 3px;
      left: 10%;
      width: 62px;
      height: 42px;
      margin-left: 0;
      background: sprite($icons, esuEmailIconLarge) no-repeat;
    }
    // Tick icon
    &.cr-email-signup--step-2,
    &.cr-email-signup--step-3 {
      .block--cr-email-signup__inner-wrapper:after {
        width: 45px;
        height: 45px;
        margin-left: -23px;
        background: sprite($icons, green-tick) no-repeat;
      }
    }
    &.block--cr-email-signup--step-2 {
      .form-item-school-phase {
        @include span(3);
        margin-right: 0;
      }
    }
    // Error state
    &.block--cr-email-signup--error {
      .esu-errors.messages.messages--error {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
      /* Workplace ESU */
  &.block--cr-email-signup--workplace {
    .cr-email-signup--messages {
      @include span(10);
      @include push(1);

      .esu-initial-message {
        @include span(8);
        @include push(2);
      }
    }

    .block--cr-email-signup__inner-wrapper {
      #cr-email-signup-workplace-form {
        @include span(10);
        @include push(1);

        .form-item-firstname,
        .form-item-email {
          @include span(5);
          label {

          }
        }

        // Button
        .form-submit {
          //@extend .btn--yellow;
          @include span(2);
        }
      }
    }
  }
  }
}

/* Hide-show  */
.block--cr-email-signup {
  // Step 1
  .form-item-email {
    display: block;
  }
  .button.step2,
  .form-item-school-phase,
  .esu-first-success-message,
  .esu-second-success-message {
    display: none;
  }
  // Step 2
  &.block--cr-email-signup--step-2 {
    .form-item-email,
    .button.step1,
    .esu-initial-message,
    .form-item-firstname {
      display: none;
    }
    .button.step2,
    .form-item-school-phase,
    .esu-first-success-message {
      display: block;
    }
  }
  // Step 3
  &.block--cr-email-signup--step-3 {
    .form-item-email,
    .form-item-school-phase,
    .button.form-submit,
    .esu-initial-message {
      display: none;
    }
    .esu-second-success-message {
      display: block;
    }
  }
}




// Temporary fix for BE work
.block-cr-email-signup-block-workplace, 
.block-cr-email-signup-block-register-interest {
  float: left;
  width: 100%;
}


.esu-uuid,
.esu-region,
.esu-context-mapping {
  display: none;
}

/* REMOVE THIS!! */
.promo-header {
  display: none;
}
