.search-block {
	display: none;
  @include clearfix;
  text-align: center;
  background: $colour-white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;
  &.show {
  	display: block;
  }
  .path-search & {
    display: block;
    position: relative;
  }
  label {
    @include visuallyhidden;
  }
  input[type=submit] {
  	border: none;
  	width: 100%;
  	height: 40px;
  	text-indent: -9999px;
  	background-color: $colour-gainsboro-grey;
  	mask: url(../images/svgs/magnify.svg) no-repeat right center;
  	mask-size: 60% 70%;
  	-webkit-mask: url(../images/svgs/magnify.svg) no-repeat right center;
    -webkit-mask-size: 60% 70%;
    .no-cssmask & {
    	background: transparent url(../images/icons/search_page_icon.png) center right no-repeat;
    	background-size: 35px;
    	@include breakpoint($screen-md) {
		  	background-size: 55px;
		  }
    	&:focus,
		  &:hover {
		  	background-image: url(../images/icons/search_page_icon_hover.png);
		  	background-color: transparent;
		  }
    }
    @include breakpoint($screen-md) {
	  	height: 80px;
	  }
	  &:focus,
	  &:hover {
	  	background-color: $colour-black;
	  }
  }
  input[type=text] {
	  width: 100%;
	  height: 40px;
	  border: none;
	  font-size: 24px;
    font-family: $body-font;
	  @include breakpoint($screen-md) {
	  	height: 80px;
	  	font-size: 70px;
      padding-bottom: 14px;
	  }
    &::-ms-clear {
      display: none;
    }
	}
  .form-item {
  	@include span(10);
  }
  .form-actions {
  	@include span(2);
  }
  .icon {
    fill: $colour-black;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    cursor: pointer;
    &:hover, 
    &:focus {
      fill: $colour-jasper-grey;
    }
    .path-search & {
      display: none;
    }
  }
}
.search-block__form form{
  margin: 59px auto 40px;
  border-bottom: $colour-red 4px solid;
  @include clearfix;
}
nav.menu--main {
	.main-menu__icons-magnify {
	  background-color: transparent;
	  border: none;
	  height: 50px;
	  margin: 0;
	  padding: 0;
	  width: 85px;
	  height: 78px;
	  outline: 0;
	  @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
	    height: 100%;
	  }
    .path-search &,
	  &:focus,
	  &:hover,
	  &.active {
	  	.icon {
	  		fill: $colour-black;
	  	}
	  }
	  .icon {
	  	fill: $colour-jasper-grey;
		  width: 46px;
		  height: 46px;
	  }
    .path-search & {
      background-color: #f9f9f9;
    }
	}
}
.search-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(3, 14, 26, 0.7);
	z-index: 90;
	display: none;
	&.show {
  	display: block;
  }
  .path-search & {
    display: none;
  }
}
