.search-block {
	// display: none; Always visible for now
  @include clearfix;
  text-align: center;
  background: $colour-white;
  &.show {
  	display: block;
  }
  label {
    @include visuallyhidden;
  }
  input[type=submit] {
  	border: none;
  	width: 100%;
  	height: 40px;
  	text-indent: -9999px;
  	background-color: $colour-gainsboro-grey;
  	mask: url(../images/svgs/magnify.svg) no-repeat right center;
  	mask-size: 60% 70%;
  	-webkit-mask: url(../images/svgs/magnify.svg) no-repeat right center;
    -webkit-mask-size: 60% 70%;
    .no-cssmask & {
    	background: transparent url(../images/icons/search_page_icon.png) center right no-repeat;
    	background-size: 35px;
    	@include breakpoint($screen-md) {
		  	background-size: 55px;
		  }
    	&:focus,
		  &:hover {
		  	background-image: url(../images/icons/search_page_icon_hover.png);
		  	background-color: transparent;
		  }
    }
    @include breakpoint($screen-md) {
	  	height: 80px;
	  }
	  &:focus,
	  &:hover {
	  	background-color: $colour-black;
	  }
  }
  input[type=text] {
	  width: 100%;
	  height: 40px;
	  border: none;
	  font-size: 20px;
	  @include breakpoint($screen-md) {
	  	height: 80px;
	  	font-size: 70px;
	  }
	}
  .form-item {
  	@include span(10);
  }
  .form-actions {
  	@include span(2);
  }
}
.search-block__form form{
  margin: 59px auto 40px;
  border-bottom: $colour-red 4px solid;
  @include clearfix;
}
nav.menu--main {
	.main-menu__icons-magnify {
	  background-color: transparent;
	  border: none;
	  height: 50px;
	  margin: 0;
	  padding: 0;
	  width: 85px;
	  height: 78px;
	  outline: 0;
	  @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
	    height: 100%;
	  }
	  &:focus,
	  &:hover,
	  &.active {
	  	.icon {
	  		fill: $colour-black;
	  	}
	  }
	  .icon {
	  	fill: $colour-jasper-grey;
		  width: 46px;
		  height: 46px;
	  }
	}
}
