<form>
  <label></label><br>
  <input type="text"><br>
  <input type="checkbox"><br>
  <input type="radio"><br>
  <select>
    <option value selected="selected">- Select -</option>
    <option value="1">1</option>
  </select><br>
  <textarea></textarea><br>
  <input type="submit">
</form>