<div class="cards__item {{ bg_colour }}">
	{{ title_suffix.contextual_links }}
	{# {% if field_cr_card_image['#items'].value %} #}
	<div class="cards__image">
		{{ field_cr_card_image }}
	</div>
	{# {% endif %} #}
	<div class="cards__content-wrapper">
		<div class="cards__content">
			{{ field_cr_card_body }}
		</div>
	</div>
</div>
