<ul class="pager {{modifier_class}}">
  <li class="pager__item">
    <a class="pager__link" title="Go to first page" href="#"><i class="fa fa-angle-double-left"></i> first</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to previous page" href="#"><i class="fa fa-angle-left"></i> previous</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to page 1" href="#">1</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to page 2" href="#">2</a>
  </li>
  <li class="pager__current-item">3</li>
  <li class="pager__item">
    <a class="pager__link" title="Go to page 4" href="#">4</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to page 5" href="#">5</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to next page" href="#">next <i class="fa fa-angle-right"></i></a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to last page" href="#">last <i class="fa fa-angle-double-right"></i></a>
  </li>
</ul>
