// drupal admin backend style

#block-comicrelief-tabs {
  width: 100%;
  max-width: $max-width;
  margin: auto;
  nav.tabs {
  	margin-left: 120px;
 		@include breakpoint($screen-md) {
	    margin-left: 160px;
	  }
	  .tabs {
	  	margin: 0;
	  	a {
	  		color: $colour-black;
	  	}
	  }
  }
}
.user-login-form {
  width: 100%;
  max-width: $max-width;
  margin: 40px auto;
}
