<div class="footer-top {{modifier_class}}">
  <div class="layout-center">
    <div class="footer-top__menu">
      <h2>Footer Sub Menu</h2>
      <ul>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Accessibility Notice</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Sitemap and Feeds</a></li>
      </ul>
    </div>
  </div>
</div>
