.vagrant
.sass-cache
.ruby-version
.bundle
/behat.local.yml
/bin/*
/vendor/*
/build/*
/build.properties
node_modules
npm-shrinkwrap.json
Gemfile.lock

# Exclude build files created by gulp and kss-node.
/cr/themes/agov/agov_base/css/
/cr/styleguide

# Exclude files added by drush make
/cr/libraries/*
/cr/modules/contrib
/cr/modules/development
/cr/themes/contrib
/app
.DS_Store
/.idea
