# @file
# Campaign profile travis-ci script

language: php
php:
  - 7.1

git:
  depth: 1
sudo: false
cache:
  apt: true
  directories:
    - "$HOME/.composer/cache"
    - "$HOME/.drush/cache"
    - "$HOME/.npm"
    - $HOME/tmp/drush
rvm:
  - 2.1.5

matrix:
  fast_finish: true

env:
  global:
    # add composer's global bin directory to the path
    # see: https://github.com/drush-ops/drush#install---composer
    - PATH="$PATH:$HOME/.composer/vendor/bin"

    # Configuration variables.
    - export PROFILE="cr"
    - export DB="drupal"
    - export DB_URL="mysql://root:@127.0.0.1/drupal"
    - export TRAVIS_DIR="./ci/travis"
    - export BEHAT_DIR="./web/profiles/contrib/cr/tests/behat"
    - export BEHAT_DRIVER="phantomjs"
    - export BEHAT_BROWSER="firefox"
    # Note: Do not add a trailing slash here.
    - export WEBSERVER_URL="http://127.0.0.1"
    - export WEBSERVER_PORT="8080"

mysql:
  database: $DB
  username: root
  encoding: utf8

before_install:
  - nvm install 6 && nvm use 6
  - npm update -g npm
  - rvm install 2.1.5
  - echo 'sendmail_path = /bin/true' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - phpenv config-rm xdebug.ini
  - composer self-update
  - composer global require drush/drush:8.*

install:
  - composer install
  - cp ci/travis/settings.php web/sites/default/settings.php
  - composer grunt:build
  - composer drupal:install
  - cd web
  - drush en -y cr_default_content cr_search_db
  - drush cron
  - cd ..

before_script:
  - $TRAVIS_DIR/before-tests.sh

script:
  # Behat
  - $TRAVIS_DIR/run-tests.sh
  # Check DB errors
  - $TRAVIS_DIR/dberrors.sh

after_success:
  # Automate releases in dependant projects
  - drupal-ti --include profiles/cr/tests/drupal_ti/scripts/create_release.sh

notifications:
  slack:
    rooms:
      - secure: "XKfVLQ6h7CxqpB6CX5OWz61MI4lyNS26+I4CeuatVAME5n8wJVEvuC/hTHAMQ9YCyohi8v+LVuHdCTNNzPAkxA+AD2HyPH4sOIjgxtLseo6UDW/eW2XGMDesIAYIVyYKlwnzePiJ10PG792RpU3a6Q/smoerVoIyWzIalNwpRbzG9WgFowoJkOYkPXBQ4X2i7yhWvw3cjrVR6fd+26du/+nqg0NmbrbiOd7RmWnx/kKvW7TuJWVAEuChk7yCGXCGZxwJYEFBOJO/fhgD4vD/+JcXmA+i7OYR42zyc0oDMt60t2zp9Qwk5P2Ymn5tCXdr4r+XE7QK/bckTSaLIn6T02KGQgmlZK+HJLmN3Mbq1EBjmZnlyUuR9klfdllPmPFI/NqABxUez2nT1RhCcKXHMLG7ilUqEuPt/FXtzxuiCwQS0RlanhAJMOabQxxGLR430Gd91lARkCffB0VMEQnsSvUzLINvp+XU0vjnClqO1am9vfKuLMFsNDrqEuA/EQUtiBCR7RJbEfNa21vX1blSFQk2x7pKHwhnItRvcbpBksKnZhvXtOQBnG6W2tc8Li91XN6++5eD3vW/K0nJsIJTXvqaZBET7ZEj8QKSeBG248ZYo/yHiouhr6GIbMLncmhPuUV6gIqff3xqGBqnZexTM2AuhOKX90oT3wxiDn79A58="
