version: '2.1'
services:
  web:
    image: comicrelief/php-drupal:latest
    ports:
      - 8080:80
      - 8081:443
    links:
      - mysql
      - rabbitmq
      - solr
      - selenium
    volumes:
      - ./:/var/www/html:cached

  solr:
    image: solr:6.3-alpine
    ports:
      - 8984:8983
    volumes:
      - .platform/solr/6.x:/drupal/conf
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - campaign
      - /drupal

  mysql:
    image: mysql:5
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: campaign
    ports:
      - 3307:3306
    volumes:
      - db-store:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - 15673:15672
      - 5673:5672
    hostname: drupal-rabbit

  selenium:
    image: selenium/standalone-firefox-debug:2.53.1-beryllium
    ports:
      - 4445:4444
      - 5901:5900

volumes:
  db-store:
