.cr-layout-five .first-region {
  width: 100%;
}
.cr-layout-five .second-region,
.cr-layout-five .third-region,
.cr-layout-five .fourth-region,
.cr-layout-five .fifth-region {
  max-width: 1200px;
  margin: 0 auto;
}
