// Teaser Block
//
// This is a Teaser block
//
// Markup: teaser-block.hbs
//
// .teaser-block--bg-image - Background image
//
// Style guide: Teaser Block

.teaser-block {
  position: relative;
  overflow: hidden;
  height: 450px;
}
.teaser-block__link {
  text-decoration: none;
}
.teaser-block__cta {
  display: block;
  clear: both;
}
.teaser-block__image {
  @include breakpoint($screen-md, $no-query: true) {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    .block-content--view-mode-cw-s &,
    .block-content--view-mode-cw-m & {
      height: 45%;
    }
    .block-content--view-mode-cw-mp & {
      height: 55%;
      float: right;
    }
    .block-content--view-mode-cw-l & {
      width: 65%;
      height: 450px;
      float: right;
    }
  }
  @include breakpoint($screen-lg, $no-query: true) {
    .block-content--view-mode-cw-s &,
    .block-content--view-mode-cw-m & {
      height: 50%;
    }
    .block-content--view-mode-cw-mp & {
      width: 60%;
      height: 450px;
    }
    .block-content--view-mode-cw-l & {
      width: 70%;
      height: 450px;
    }
  }
  width: 100%;
  height: 50%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: -5px;

    object-fit: cover;
    .no-objectfit & {
      position: absolute;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
      overflow: hidden;
      width: auto;
      max-width: none;
      height: 100%!important;
      max-height: none;
      margin: auto;
    }
  }
}
.teaser-block__body {
  @include flex-wrap(wrap);
  @include align-content(center);
  @include justify-content(center);
  @include align-items(center);
  @include display-flex;
  @include flex-direction(column);
  @include breakpoint($screen-md, $no-query: true) {
    .block-content--view-mode-cw-s &,
    .block-content--view-mode-cw-m & {
      height: 55%;
    }
    .block-content--view-mode-cw-mp & {
      height: 45%;
    }
    .block-content--view-mode-cw-mp &,
    .block-content--view-mode-cw-l & {
      float: right;
    }
    .block-content--view-mode-cw-l & {
      width: 35%;
      height: 450px;
    }
  }
  @include breakpoint($screen-lg, $no-query: true) {
    .block-content--view-mode-cw-s &,
    .block-content--view-mode-cw-m & {
      height: 50%;
    }
    .block-content--view-mode-cw-mp & {
      width: 40%;
      height: 450px;
    }
    .block-content--view-mode-cw-l & {
      width: 30%;
      height: 450px;
    }
  }
  width: 100%;
  height: 50%;
  padding: calc(4 * #{gutter()});
  text-align: center;
  .no-flexbox & {
    padding-top: 60px;
  }
}
.teaser-block--bg-image {
  .teaser-block__body {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 10 * 1.25%);
    height: calc(100% - 5 * 1.25%);
    margin: 0 calc(5 * 1.25%);
    background-color: transparent;
  }
  .teaser-block__image {
    width: 100%;
    height: 100%;
  }
}
