<header role="banner">
  <div class="region-header-inner-wrapper">
    <div class="region region-header">
      <a href="/" title="Home" rel="home" class="site-logo">
        <img src="/profiles/cr/themes/custom/campaign_base/logo.svg" alt="Home">
      </a>
      <div class="main-menu__icons">
        <button class="c-hamburger c-hamburger--htx main-menu-toggle" title="open here">
          <span>menu</span>
        </button>
      </div>
      <nav role="navigation" class="navigation">
        <!-- MAIN NAV -->
        <ul id="main-menu" class="menu--main">
          <li class="menu--main__item">
            <a href="/">Fundraise</a>
          </li>
          <li class="menu--main__item">
            <a href="/">Schools</a>
          </li>
          <li class="menu--main__item">
            <a href="/">The difference you make</a>
          </li>
          <li class="menu--main__item">
            <a href="/">Shop</a>
          </li>
          <li class="menu--main__item">
            <a href="/">Donate</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
