// New Main Nav
//
// This is a prototype to the new Main Nav
//
// Markup: _main-nav.hbs
//
//
// Style guide: Navigation.New-Main-nav

.menu--main {
  position: absolute;
  z-index: 100;
  top: 80px;
  right: 0;
  display: none;
  width: 100%;
  @include breakpoint($screen-md) {
    width: auto;
  }
  @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
    top: 103px;
  }
  &.show {
    display: block;
  }
  .menu {
    margin: 0;
    padding: 10px 0;
    text-align: right;
    background: #051d37;
  }
  .menu--level-0 {
    .menu {
      display: none; // fallback in case there are more levels
    }
  }
  li {
    position: relative;
    /* Main menu text */
    a {
      display: block;
      padding: 10px 30px;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      line-height: 16px;
      @include transition(background-color 180ms);
    }
    /* Reset all our mobile styles */
    &.menu-item--active-trail a,
    &.menu-item--active-trail a:hover,
    a:hover {
      color: #fff;
      background-color: #1e354b;
    }
    .font--red:hover,
    .font--red {
      color: $colour-red;
    }
  }
}
