<header role="banner">
  <div class="region-header-top-wrapper"></div>
  <div class="region-header-inner-wrapper">
    <div class="region region-header">
      <a href="/" title="Home" rel="home" class="site-logo">
        <img src="/profiles/cr/themes/custom/campaign_base/logo.svg" alt="Home">
      </a>
      <nav role="navigation" aria-labelledby="block-campaign-base-main-menu-menu" id="block-campaign-base-main-menu" class="navigation new-menu--main">

        <!-- MAIN NAV -->
        <ul class="menu">
          <li class="menu-item">
            <a href="/">Home</a>
          </li>
        
          <li class="menu-item menu-item--expanded menu-item--active-trail">
            <a href="/fundraise">Fundraise</a>
            <ul class="menu">
              <li class="menu-item">
                <a href="#">Fundraise sub page</a>
              </li>
              <li class="menu-item">
                <a href="#">Fundraise sub page</a>
              </li>
              <li class="menu-item">
                <a href="#">Fundraise sub page</a>
              </li>
            </ul>
          </li>
        
          <li class="menu-item">
            <a href="/whats-going-on">What's going on</a>
            <ul class="menu">
              <li class="menu-item">
                <a href="#">What's going on Sub page</a>
              </li>
              <li class="menu-item">
                <a href="#">What's going on Sub page</a>
              </li>
              <li class="menu-item">
                <a href="#">What's going on Sub page</a>
              </li>
            </ul>
          </li>
          
          <li class="menu-item">
            <a href="/node/1">FAQ</a>
          </li>
          
          <li class="menu-item">
            <a href="/node/2">Legal</a>
            <ul class="menu">
              <li class="menu-item">
                <a href="#">Legal sub page</a>
              </li>
              <li class="menu-item">
                <a href="#">Legal sub page</a>
              </li>
              <li class="menu-item">
                <a href="#">Legal sub page</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>