<section class="view-mode-default content-wall paragraph">
  <h2 class="content-wall__title visuallyhidden">
    Row's title visually hidden
  </h2>
  <div class="clearfix cw-region">
    <div class="item-list">
      <ul>
        <li>
          <article class="contextual-region block-content block-content--type-content-reference-block block-content--view-mode-cw-m content-block clearfix">
            <div class="content-block__image">
              <div class="media media--blazy  media--responsive media--image">
                <picture>
                  <img property="schema:image" class="media__image media__element b-lazy b-responsive b-loaded" src="/profiles/contrib/cr/themes/custom/campaign_base/kss/kss-assets/images/original-teaser-1170-658.jpg" alt="Red nose day" typeof="foaf:Image">
                </picture>
              </div>
            </div>
            <div class="content-block__content-wrapper">
              <div class="content-block__content">
                <span class="content-block__tag font--yellow font--font-black">News</span>
                <h4>
                  Red Nose Day is coming soon to BBC One
                </h4>
              </div>
            </div>
            <a href="#" class="content-block__link" hreflang="en">Read more</a>
          </article>
        </li>
        <li>
          <article class="block-content--view-mode-cw-m teaser-block clearfix">
            <a class="teaser-block__link" href="#">
              <div class="teaser-block__image">
                <img src="/profiles/contrib/cr/themes/custom/campaign_base/kss/kss-assets/images/original-teaser-1170-658.jpg" alt="test">
              </div>
              <div class="teaser-block__body bg--white">
                <h4>Get ideas, tips and tools to help you fundraise</h4>
                <div class="teaser-block__cta">
                  <span class="btn btn--red">Pre-order a Kit</span>
                </div>
              </div>
            </a>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
