// Dependencies.
@import 'init';

// Content Wall
//
// Can include Teaser, Quote, Content Reference and Media Reference blocks.
// Title can be hidden.
//
// Style guide: 250

// Content Wall row - 3 small blocks
//
// Markup: content-wall-s.twig
//
// Style guide: 250.1

// Content Wall row - 2 medium blocks
//
// Markup: content-wall-m.twig
//
// Style guide: 250.2

// Content Wall row - 1 medium plus and 1 small block
//
// Markup: content-wall-mp.twig
//
// Style guide: 250.3

// Content Wall row - 1 large block
//
// Markup: content-wall-l.twig
//
// Style guide: 250.4

.content-wall {
  width: 100%;
  padding: 30px 0;
  @include breakpoint($screen-md) {
    padding: 60px 0;
  }
}
.content-wall__title {
  margin-bottom: 30px;
  text-align: center;
}
.cw-region {
  width: 100%;
  margin: 0 auto;
  @include breakpoint($screen-md) {
    padding: 0 gutter();
  }
  @include breakpoint($screen-lg) {
    padding: 0;
  }
}
