// Cards
//
// Standard Cards
//
// Markup: cards.hbs
//
// .cards-item--feature - Large button 
//
// Style guide: Cards

.cards {
	@for $i from 1 through 6 {
  .cards__item:first-child:nth-last-child(#{$i}),
  .cards__item:first-child:nth-last-child(#{$i}) ~ .cards__item {
    // width: calc(#{span(12)}/#{$i});
    // margin: gutter()/2;
    width: 100%;
    @include breakpoint($screen-sm-max) {
		  	@include span(12);
	    }
	  @include breakpoint($screen-md-max) {
		    @include span(12/$i);
			}
	  }
	}
  padding: 60px 0;
  float: left;
  width: 100%;
}
.cards__title {
  text-align: center;
  .bg--dark-orchid & {
    color: $white;
  }
}
.cards__item {
  display: inline-block;
  position: relative;
  float: left;
  margin-bottom: 20px;
}
.cards__image {
  img {
    width: 100%;
		display: block;
		height: 100%;
		@include breakpoint($screen-md-only) {
			margin-left: -38.5%;
			height: auto;
			width: 178%;
		}
  }
  @include breakpoint($screen-md-only) {
  	@include span(4);
  	height: 0;
  	padding-bottom: span(4);
  	overflow: hidden;
  }
}
.cards__content-wrapper {
  padding: calc(8*#{gutter()});
  background-color: $white;
  @include breakpoint($screen-md-only) {
    position: absolute;
    top: 0;
    right: 0;
    padding: calc(2*#{gutter()});
    height: 100%;
    @include span(8 wide);
    @include push(4);
  }
  .cards-item--feature & {
    position: relative;
    z-index: 10;
    margin: calc(4*#{gutter()});
    margin-top: calc(-6*#{gutter()});
    text-align: center;
    @include transition(0.5s all);
    @include breakpoint($screen-md-only) {
      margin: 25px 0;
      height: calc(100% - 50px);
      @include span(9);
      @include push(3);
    }
  }
}
.cards__content {
  @include breakpoint($screen-md-only) {
  	position: relative;
	  top: 50%;
	  transform: translateY(-50%);
  }
}
