// Cards
//
// Standard Cards
//
// Markup: cards.twig
// 
//
// Style guide: Cards

.cards {
	@for $i from 1 through 6 {
  .cards__item:first-child:nth-last-child(#{$i}),
  .cards__item:first-child:nth-last-child(#{$i}) ~ .cards__item {
    // width: calc(#{span(12)}/#{$i});
    // margin: gutter()/2;
    width: 100%;
    @include breakpoint($screen-sm-max) {
		  	@include span(12);
	    }
	  @include breakpoint($screen-md-max) {
		    @include span(12/$i);
			}
	  }
	}
  padding: 60px 0;
  float: left;
  width: 100%;
}
.cards__item {
  display: inline-block;
  position: relative;
  float: left;
  margin-bottom: 20px;
}
.cards__image {
  img {
    width: 100%;
		display: block;
		height: 100%;
		@include breakpoint($screen-md-only) {
			margin-left: -38.5%;
			height: auto;
			width: 178%;
		}
  }
  @include breakpoint($screen-md-only) {
  	@include span(4);
  	height: 0;
  	padding-bottom: span(4);
  	overflow: hidden;
  }
}
.cards__content-wrapper {
	position: relative;
  z-index: 10;
	margin: calc(4*#{gutter()});
	margin-top: calc(-6*#{gutter()});
	padding: calc(4*#{gutter()});
  text-align: center;
  background-color: $white;
  @include transition(0.5s all);
  @include breakpoint($screen-md-only) {
  	margin: 25px 0;
  	position: absolute;
		top: 0;
		right: 0;
		padding: calc(2*#{gutter()});
		height: calc(100% - 50px);
  	@include span(9);
  	@include push(3);
  }
}
.cards__content {
  @include breakpoint($screen-md-only) {
  	position: relative;
	  top: 50%;
	  transform: translateY(-50%);
  }
}
