// Cards
//
// Standard Cards
//
// Markup: cards.hbs
//
// .cards--feature-layout - Feature Layout
//
// Style guide: Cards

.cards {
  padding: 60px 0;
  float: left;
  width: 100%;
	@for $i from 1 through 6 {
  .cards__item:first-child:nth-last-child(#{$i}),
  .cards__item:first-child:nth-last-child(#{$i}) ~ .cards__item {
    // width: calc(#{span(12)}/#{$i});
    // margin: gutter()/2;
    width: calc(100% - 30px);
    margin: 0 15px 20px;

    @include breakpoint($screen-sm-max) {
		  	@include span(12);
	    }
	  @include breakpoint($screen-md-max) {
		    @include span(12/$i);
      }
    }
  }
  .cards__item:first-child:nth-last-child(2), 
  .cards__item:first-child:nth-last-child(2) ~ .cards__item {
  @include breakpoint($screen-md-max) {
      @include span(4);
      display: inline-block;
      float: none;
      vertical-align: top
    }
  }
}
.cards__wrapper {
  text-align: center;
}
.cards__title {
  text-align: center;
  .bg--dark-orchid & {
    color: $colour-white;
  }
}
.cards__item {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}
.cards__image {
  img {
    width: 100%;
		display: block;
		height: 100%;
		@include breakpoint($screen-md-only) {
      margin-left: -2.5%;
      height: auto;
      width: 105%;
		}
  }
  @include breakpoint($screen-md-only) {
  	@include span(5);
  	height: 0;
  	padding-bottom: span(4);
  	overflow: hidden;
  }
}
.cards__content-wrapper {
  position: relative;
  padding: 30px;
  @include breakpoint($screen-md-only) {
    position: absolute;
    top: 0;
    right: 0;
    padding: calc(2*#{gutter()});
    height: 100%;
    @include span(7 wide);
    @include push(5);
    &.cards__content-wrapper--no-image {
      @include span(12);
    }
  }
  .cards--feature-layout & {
    z-index: 10;
    margin: calc(4*#{gutter()});
    margin-top: calc(-6*#{gutter()});
    text-align: center;
    background-color: $colour-white;
    @include transition(0.5s all);
    @include breakpoint($screen-md-only) {
      margin: 25px 0;
      height: calc(100% - 50px);
      @include span(9);
      @include push(3);
    }
  }
}
.cards__content {
  @include breakpoint($screen-md-only) {
  	position: relative;
	  top: 50%;
	  transform: translateY(-50%);
  }
}

// move to background-colours scss

.bg--red,
.bg--royal-blue,
.bg--purple {
  h1, h2, h3, h4, h5, p, .link {
    color: $colour-white;
  }
  .bg--white,
  .bg--sky-blue,
  .bg--yellow,
  .bg--green,
  .bg--teal,
  .bg--pink {
    h1, h2, h3, h4, h5, p, .link {
      color: $colour-black;
    }
  }
}
