<div class="cards">
	<div class="cards__item">
		<div class="cards__image">
			<img src="http://dummyimage.com/640x360/000/fff" alt="card image">
		</div>
		<div class="cards__content-wrapper">
			<div class="cards__content">
				<h3>Follow in Dermont's footsteps</h3>
				<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
				<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
			</div>
		</div>
	</div>
</div>
<div class="cards">
	<div class="cards__item">
		<div class="cards__image">
			<img src="http://dummyimage.com/640x360/000/fff" alt="card image">
		</div>
		<div class="cards__content-wrapper">
			<div class="cards__content">
				<h3>Follow in Dermont's footsteps</h3>
				<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
				<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
			</div>
		</div>
	</div>
	<div class="cards__item">
		<div class="cards__image">
			<img src="http://dummyimage.com/640x360/000/fff" alt="card image">
		</div>
		<div class="cards__content-wrapper">
			<div class="cards__content">
				<h3>Follow in Dermont's footsteps</h3>
				<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
				<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
			</div>
		</div>
	</div>
	<div class="cards__item">
		<div class="cards__image">
			<img src="http://dummyimage.com/640x360/000/fff" alt="card image">
		</div>
		<div class="cards__content-wrapper">
			<div class="cards__content">
				<h3>Follow in Dermont's footsteps</h3>
				<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
				<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
			</div>
		</div>
	</div>
</div>
