// Meta icons
// 
// Markup: meta-icons.twig
//
//Style guide: 140.3

.block-cr-meta-icons {
	float: right;
}

.meta-icons {
  float: left;
  @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
    position: relative;
    z-index: 10;
    float: left;
    height: 103px;
    .icon {
      width: 35px;
      height: 100%;
    }
  }
  .meta-icons__login {
    display: inline-block;
    text-decoration: none;
  }
  .meta-icons__login,
  .meta-icons__magnify,
  .meta-icons__esu-toggle {
    width: 35px;
    height: 76px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    @include breakpoint($screen-md) {
      width: 46px;
    }
    @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
      height: 103px;
    }
    &.active {
      background-color: #f9f9f9;
    }
    &:focus {
      outline: none;
    }
    span {
      display: none;
    }
    .icon {
      width: 25px;
      height: 25px;
      margin: 21px 4px;
      @include transition-property(fill);
      @include transition-duration(150ms);
      @include breakpoint($screen-md) {
        width: 35px;
        height: 35px;
      }
      @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
        width: 20px;
        height: 21px;
        margin: 40px 12px;
      }

      fill: $colour-jasper-grey;
    }
    &:hover,
    &:focus,
    &:active {
      .icon {
        fill: $colour-black;
      }
    }
  }
}
