<div class="single-msg paragraph single-msg--copy-left" >
  <div class="single-msg__outer-wrapper">

    <div class="single-msg__image">
      <picture>
        <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
        <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
        <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="(min-width: 0px)" type="image/jpeg"/>
        <img src="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" alt="boring" typeof="foaf:Image" />
      </picture>
    </div>

    <div class="single-msg__copy_wrapper">
      <div class="single-msg__copy">
        <div class="single-msg__title">
          <h2>
          4:3 SM, 1:1 MD, 4:3 LG
          </h2>
        </div>
        <div class="single-msg__body">
          <p>Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.</p>
          <a class="btn" href="#">Lovely teal</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="single-msg paragraph single-msg--copy-right" >
  <div class="single-msg__outer-wrapper">

    <div class="single-msg__image">
      <picture>
        <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
        <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
        <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="(min-width: 0px)" type="image/jpeg"/>
        <img src="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" alt="boring" typeof="foaf:Image" />
      </picture>
    </div>

    <div class="single-msg__copy_wrapper">
      <div class="single-msg__copy">
        <div class="single-msg__title">
          <h2>
          4:3 SM, 1:1 MD, 4:3 LG
          </h2>
        </div>
        <div class="single-msg__body">
          <p>Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.</p>
          <a class="btn" href="#">Lovely teal</a>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="single-msg paragraph single-msg--feature-copy-right" >
  <div class="single-msg__outer-wrapper">
    <div class="single-msg__image">
      <picture>
        <source srcset="http://www.schubincafe.com/wp-content/uploads/2013/03/Wide-me.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
        <source srcset="http://www.schubincafe.com/wp-content/uploads/2013/03/Wide-me.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
        <source srcset="http://www.schubincafe.com/wp-content/uploads/2013/03/Wide-me.jpg" media="(min-width: 0px)" type="image/jpeg"/>
        <img src="http://www.schubincafe.com/wp-content/uploads/2013/03/Wide-me.jpg" alt="boring" typeof="foaf:Image" />
      </picture>
    </div>
    <div class="single-msg__copy_wrapper">
      <div class="single-msg__copy">
        <div class="single-msg__title">
          <h2>
          FEATURE! 16:9 SM, 1:1 MD, 16:9 LG
          </h2>
        </div>
        <div class="single-msg__body">
          <p>Feature copy right, feature copy right, feature copy right</p>
          <a href="#" class="link">Inline link</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="single-msg paragraph single-msg--feature-copy-left" >
  <div class="single-msg__outer-wrapper">
    <div class="single-msg__image">
      <picture>
        <source srcset="http://www.schubincafe.com/wp-content/uploads/2013/03/Wide-me.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
        <source srcset="http://www.schubincafe.com/wp-content/uploads/2013/03/Wide-me.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
        <source srcset="http://www.schubincafe.com/wp-content/uploads/2013/03/Wide-me.jpg" media="(min-width: 0px)" type="image/jpeg"/>
        <img src="http://www.schubincafe.com/wp-content/uploads/2013/03/Wide-me.jpg" alt="boring" typeof="foaf:Image" />
      </picture>
    </div>
    <div class="single-msg__copy_wrapper">
      <div class="single-msg__copy">
        <div class="single-msg__title">
          <h2>
          FEATURE! 16:9 SM, 1:1 MD, 16:9 LG
          </h2>
        </div>
        <div class="single-msg__body">
          <p>Feature copy left, feature copy left, feature copy left</p>
          <a href="#" class="link">Inline link</a>
        </div>
      </div>
    </div>
  </div>
</div>
