// Single Message 
//
// This is the Single Message row
//
// Markup: _single-msg.hbs
//
// Style guide: Single Message

/* Bully the styleguide in behaving like the the site */
.kss-sidebar {
  display: none;
}
#kss-node {
  padding: 0;

  .kss-main {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
} 
.kss-modifier__wrapper {
  padding: 0 !important;
}

#kss-node .kss-modifier__heading {
  margin: 0;
}


/* Variables, to move  */
$row-padding--sm: 30px;
$row-padding--md: 60px;


/* Global styles for all variants, provides all styles for Copy Right variant */
.paragraph.single-msg {
  width: 100%;
  .single-msg__outer-wrapper {
    @include container;
    position: relative;
    padding-top: $row-padding--sm;
    padding-bottom: $row-padding--sm;

    @include breakpoint($screen-md) {
      padding-top: $row-padding--md;
      padding-bottom: $row-padding--md;
    }
  }
  
  .single-msg__image {
    width: 100%;
    @include span(12);

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    @include breakpoint($screen-md, $no-query: true) { 
      @include span(6 wide);
      width: calc( #{span(6)} +  ( #{gutter()} * 1) );
      margin-right: 0;
    }

    @include breakpoint($screen-lg) { 
      @include span(4 wide);
    }
  } 

  .single-msg__copy_wrapper {
    height: 100%;
    text-align: center;
    @include span(12);

    @include breakpoint($screen-md, $no-query: true) {
      position: absolute;
      top: 0;
      right: 0;
      margin-left: 0;
      text-align: left;
      // Recalculate height minus the row padding
      height: calc(100% - ( #{$row-padding--md} * 2) );
      margin-top: 60px;

      @include span(6 wide);
      width: calc( #{span(6)} +  ( #{gutter()} * 1) );
      margin-left: 0;
    }

    @include breakpoint($screen-lg) { 
      @include span(8 wide);
    }

    .single-msg__copy {
      padding: 40px 30px 30px;
      color: white;
      width: 100%;

      @include breakpoint($screen-md, $no-query: true) {
        height: 100%;
      }
    }
  }

  /* Copy Left variation */
  &.single-msg--copy-left {
    @include breakpoint($screen-md, $no-query: true) {
      .single-msg__image {
        float:right;
        margin-left: 0;
        margin-right: gutter();
      }
    
      .single-msg__copy_wrapper {
        left: 0;
        margin-left: gutter();
      }
    }
  }


  /* - - - - Featured Variations - - - - */

  /* Feature Copy Left and Right variation */
  &.single-msg--feature-copy-right,
  &.single-msg--feature-copy-left  {
    .single-msg__image {
      float: left;
      width: 100%;
      margin: 0;

      @include breakpoint($screen-md, $no-query: true) {
        @include span(12);     
      }

      @include breakpoint($screen-lg) {
        @include span(6);     
      }  
    }

    .single-msg__copy_wrapper {
      float: left;
      margin: 0 calc(4*#{gutter()}) 0;
      margin-top: calc(-4 *#{gutter()});
      width: calc(100% - (8 * #{gutter()}) );

      /* Override any CMS-added bg colours here to make 
      sure that featured rows are always styled properly! */
      background-color: $colour-white !important;

      @include breakpoint($screen-md, $no-query: true) {
        position: relative;
      }  
      
      @include breakpoint($screen-lg) {
        position: absolute;
        top: 0;
        right: 0;
        text-align: left;
        margin: 80px gutter() 0 0;
        height: calc(100% - (#{$row-padding--md} * 2) - 40px);  

        // Only overlap by half a column
        width: calc( #{span(6)} +  ( #{gutter()} * 4) );
      }  

      .single-msg__copy {
        color: black;
        height: auto;

        @include breakpoint($screen-lg) {
          padding: 0 30px;
          position: absolute;
          top: 50%;
          left: 0;
          @include translateY(-50%);
          text-align: center;

          .single-msg__body a.btn{
            margin: 0 auto;
          }
        }
      }
    } 
  }

  /* Feature Copy Left variation */
  &.single-msg--feature-copy-left {
    .single-msg__image {
      @include breakpoint($screen-lg) {
        float: right;
        margin-left: 0;
        margin-right: gutter();
      }
    }

    .single-msg__copy_wrapper {
      @include breakpoint($screen-lg) {
        left: 0;
        margin: 80px 0 0 gutter();
      }
    }
  }

  /* Copy Only - Copy Centred variation */
  &.single-msg--copy-only {
    .single-msg__copy_wrapper {
      // Margins and widths tweaked to match feature layout
      margin: 0 calc(4*#{gutter()}) 0;
      width: calc(100% - (8 * #{gutter()}) );

      .single-msg__title {
        text-align: center;
      }
      
      @include breakpoint($screen-md, $no-query: true) {
        @include span(10);
        @include push(1);
        position: relative;
        left: auto;
        height: auto; //Does this need to match the height of the img version?
        margin-top: 0;

        .single-msg__body {
          text-align: center;
        }
      }

      @include breakpoint($screen-lg) {
        @include span(8);
        @include push(2);
      }
    }
  }

  .single-msg__copy_wrapper {
    
    /* Setting font colours based on bg colours */
    &.bg--red,
    &.bg--royal-blue,
    &.bg--purple,
    &.bg--pink {
      .single-msg__copy {
        color: white;
      }
    }

    &.bg--sky-blue,
    &.bg--yellow,
    &.bg--green,
    &.bg--teal,
    &.bg--white,
    &.bg--black,
    &.bg--jasper-grey,
    &.bg--gainsboro-grey,
    &.bg--light-grey,
    &.bg--smoke-grey {
      .single-msg__copy {
        color: black;     
      }
    }  
  }
}
