<section class="single-msg paragraph single-msg--copy-right bg--red" >
  <div class="single-msg__outer-wrapper">
    <div class="single-msg__image">
      <picture>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" media="(min-width: 0px)" type="image/jpeg"/>
        <img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" alt="boring" typeof="foaf:Image" />
      </picture>
    </div>
    <div class="single-msg__copy_wrapper bg--teal">
      <div class="single-msg__copy">
        <div class="single-msg__title">
          <h3>
          Copy Right Copy Right Copy Right: 36
          </h3>
        </div>
        <div class="single-msg__body">
          <p>
Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio.t :325
          </p>
          <a class="btn btn--red" href="#">Button</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-msg paragraph single-msg--copy-left bg--yellow" >
  <div class="single-msg__outer-wrapper">
    <div class="single-msg__image">
      <picture>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" media="(min-width: 0px)" type="image/jpeg"/>
        <img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" alt="boring" typeof="foaf:Image" />
      </picture>
    </div>
    <div class="single-msg__copy_wrapper bg--sky-blue">
      <div class="single-msg__copy">
        <div class="single-msg__title">
          <h3>
            
            Copy Left Copy Left Copy Left: 34
          </h3>
        </div>
        <div class="single-msg__body">
          <p>Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio.t :325</p>
          <a class="btn btn--red" href="#">Button</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-msg paragraph single-msg--feature-copy-right bg--teal">
  <div class="single-msg__outer-wrapper">
    <div class="single-msg__image">
      <picture>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/4-3-img.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/4-3-img.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/4-3-img.jpg" media="(min-width: 0px)" type="image/jpeg"/>
        <img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/4-3-img.jpg" alt="boring" typeof="foaf:Image" />
      </picture>
    </div>
    <div class="single-msg__copy_wrapper">
      <div class="single-msg__copy">
        <div class="single-msg__title">
          <h3>
          Feature: Copy Right, Feature: :33
          </h3>
        </div>
        <div class="single-msg__body">
          <p>Vivamus in erat ut urna cursus vestibulum. Curabitur at lacus ac velit ornare lobortis. Curabitur at lacus ac velit ornare lobortis. In auctor lobortis lacus. :163</p>
          <a href="#" class="link">Inline link</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-msg paragraph single-msg--feature-copy-left" >
  <div class="single-msg__outer-wrapper">
    <div class="single-msg__image">
      <picture>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/4-3-img.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/4-3-img.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
        <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/4-3-img.jpg" media="(min-width: 0px)" type="image/jpeg"/>
        <img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/4-3-img.jpg" alt="boring" typeof="foaf:Image" />
      </picture>
    </div>
    <div class="single-msg__copy_wrapper">
      <div class="single-msg__copy">
        <div class="single-msg__title">
          <h3>
          Feature: Copy Right, Feature: :34
          </h3>
        </div>
        <div class="single-msg__body">
         <p>Vivamus in erat ut urna cursus vestibulum. Curabitur at lacus ac velit ornare lobortis. Curabitur at lacus ac velit ornare lobortis. In auctor lobortis lacus. :163</p>
          <a href="#" class="link">Inline link</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-msg paragraph single-msg--copy-only bg--green" >
  <div class="single-msg__outer-wrapper">
    <div class="single-msg__copy_wrapper bg--red">
      <div class="single-msg__copy">
        <div class="single-msg__title">
          <h3>
          Copy Only Centred, looks like a watermelon
          </h3>
        </div>
        <div class="single-msg__body">
          <p>Copy only centred, copy only centred, copy only centred, copy only centred, copy only centred, copy only centred, copy only centred, copy only centred, copy only centred, copy only centred</p>
        </div>
      </div>
    </div>
  </div>
</section>
