/**
 * @file
 * YAML form element color styling
 *
 * @see \Drupal\yamlform\Plugin\YamlFormElement\Color
 * @see http://stackoverflow.com/questions/11167281/webkit-css-to-control-the-box-around-the-color-in-an-inputtype-color
 */

.yamlform-submission-form input.form-color {
  margin: inherit;
  padding: 0;
  border: 1px solid #000;
}

.yamlform-submission-form input.form-color::-webkit-color-swatch-wrapper {
  padding: 0;
}

.yamlform-submission-form input.form-color::-webkit-color-swatch {
  border: 1px solid #000;
}
