/**
 * @file
 * CodeMirror styles.
 */

form .CodeMirror {
  border: 1px solid #ccc;
  font-size: 13px;
  height: auto;
}

form .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

pre.yamlform-codemirror-runmode {
  border: 1px solid #ccc;
  font-size: 13px;
  overflow: auto;
  padding: 3px;
  margin: 0;
}
