/**
 * @file
 * YAML form styling
 */

/**
 * Results
 */
.yamlform-results th,
.yamlform-results td {
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.yamlform-results td:last-child {
  overflow: visible;
  max-width: inherit;
  white-space: normal;
}

/**
 * YAML form handler configuration page.
 */
.yamlform-new,
.yamlform-new div {
  display: inline;
}

/**
 * Table select
 */
th.select-all {
  width: 1px;
}
