// News Teaser
//
// This is News Teaser
//
// Markup:
// <div></div>
//
// Style guide: Components.News-teaser

.node--type-article.node--view-mode-teaser {
  position: relative;
  .node__content {
  	img {
  	}
  }
  h2 {
		@include box-shadow(inset 10px -140px 81px -97px $colour-black);
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    padding: 80px 10px 10px;
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: $colour-white;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .node__links {
    @include opacity(0);
    @include transition(opacity 0.5s);
    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 27%;
      text-align: center;
      text-decoration: none;
      color: $colour-white;
      background: $colour-red;
    }
  }
  &:hover {
    .node__links {
      @include opacity(1);
    }
  }
}
