// Single Message Row September
//
// This is a Single message row for September
//
// Markup: _paragraph--single-msg-row-september.hbs
//
// .paragraph--single-msg-row-september--image-right  - Image on right, copy on left
//
// Style guide: Single Message September


/* STYLEGUIDE HACKING*/
.kss-modifier__example {
  background-color: #dddddd !important;
}
.kss-sidebar {
  display:none;
}
.kss-main {
  width: 100% !important;
  margin: 0 !important;
}
.kss-section {
  margin: 0 auto !important;
}
/* END STYLEGUIDE HACKING*/


/* Variables, to move  */
$row-padding--sm: 30px;
$row-padding--md: 60px;

/* Global styles */
.paragraph--single-msg-row-september {
  @include container;
  position: relative;
  padding-top: $row-padding--sm;
  padding-bottom: $row-padding--sm;

  @include breakpoint($screen-md) {
    padding-top: $row-padding--md;
    padding-bottom: $row-padding--md;
  }
  
  .single-message-row-september__image {
    width: 100%;
    img {
      display: block;
      width: 100%;
      height: auto;
    }

    // MD only, change image from 4:3 to 1:1 ratio
    @include breakpoint($screen-md-only) {
      @include span(5);
      margin-right: 0;
      @include square-img-ratio(span(5), '4:3');
    }

    // LG, no inheried image crop
    @include breakpoint($screen-lg) {
      // Add grid behaviour to lg breakpoint
      @include span(6);
      // Tweak width
      width: calc( #{span(6)} + #{gutter()});
      margin-right: 0;
    }
  } 

  // Placeholder styles, colours and button styles to be added to component when finalised
  .single-message-row-september__copy_wrapper {
    width: 100%;
    height: 100%;
    background-color: #814fc8;
    text-align: center;

    // MD and above
    @include breakpoint($screen-md) {
      position: absolute;
      top: 0;
      right: 0;
      margin-left: 0;
      text-align: left;
      // Recalculate height minus the row padding
      height: calc(100% - ( #{$row-padding--md} * 2) );
      margin-top: 60px;
    }

    // MD only, change image from 16:9 to 1:1 ratio
    @include breakpoint($screen-md-only) {
      @include span(7 wide);
    }

    // LG, no inheried image crop
    @include breakpoint($screen-lg) {
      @include span(6);
      width: calc( #{span(6)} + #{gutter()});
    }

    .single-message-row-september__copy {
      padding: 40px 30px 30px;
      color: white;
      width: 100%;

      @include breakpoint($screen-md) {
        height: 100%;
      }

      .single-message-row-september__body {
        p {
          font-size: 18px;
        }
        a.btn {
          background-color: #67fdd9;
          color: black;
          font-weight: bold;
          display: block;
          margin: 0 auto 20px;
          width: 100%;
          @include breakpoint($screen-md) {
            width: 280px;
            margin: 0
          }
        }
      }
    }
  }

  /* Featured variation  */
  &.paragraph--single-msg-row-september--featured {
    .single-message-row-september__image {
      float: left;
   
      // MD only, change image from 16:9 to 1:1 ratio
      @include breakpoint($screen-md) {
        @include span(6);
        margin-right: 0;
        // Tweak the ratio of the image container and contained image
        @include square-img-ratio( span(6), "16:9");
      }

      @include breakpoint($screen-lg) {
        @include span(8);
        // Reset crop
        height: 100%;
        padding-bottom: 0;
  
        img {
          width: 100%;
          margin-left: 0;
        }
      }
    }

    .single-message-row-september__copy_wrapper {
      background-color:white;
      width: auto;
      float: left;

      // Offsets propotional to gutter widths
      margin: 0 calc(4*#{gutter()}) 0;
      margin-top: calc(-4 *#{gutter()});

      @include breakpoint($screen-md) {
        @include span(7);
        margin-left: 0;
        margin-bottom: 20px;
        margin-top: 80px;

        // Tweak height to reflect row padding and feature copy 'offset'
        height: calc(100% - (#{$row-padding--md} * 2) - 40px);
      }

      @include breakpoint($screen-lg) {
        @include span(5);
      }

      .single-message-row-september__copy {
        color: black;
        height: auto;

        @include breakpoint($screen-md) {
          padding: 0 30px;
          position: absolute;
          top: 50%;
          left: 0;
          @include translateY(-50%);
        }
      }
    }
  }

  /* Image right/text left variant */
  &.paragraph--single-msg-row-september--image-right {
    @include breakpoint($screen-md) {
      .single-message-row-september__image {
        float:right;
        margin-left: 0;
        margin-right: gutter();
      }
    
      .single-message-row-september__copy_wrapper {
        left: gutter();
        margin-left: 0;
      }
    }
  }
}
// end of global styles