<div class="single-message-row-september paragraph" >
  <div class="single-message-row-september__image">
    <picture>
      <source srcset="https://www.oneperiodic.com/products/photobatch/tutorials/img/scale_original.png" media="all and (min-width: 1024px)" type="image/jpeg"/>
      <source srcset="https://www.oneperiodic.com/products/photobatch/tutorials/img/scale_original.png" media="all and (min-width: 740px)" type="image/jpeg"/>
      <source srcset="https://www.oneperiodic.com/products/photobatch/tutorials/img/scale_original.png" media="(min-width: 0px)" type="image/jpeg"/>
      <img src="https://www.oneperiodic.com/products/photobatch/tutorials/img/scale_original.png" alt="boring" typeof="foaf:Image" />
    </picture>
  </div>
  <div class="single-message-row-september__copy_wrapper">
    <div class="single-message-row-september__copy">
      <div class="single-message-row-september__title">
        <h2>
        4:3 SM, 1:1 MD, 4:3 LG
        </h2>
      </div>
      <div class="single-message-row-september__body">
        <p>Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.</p>
        <a class="btn" href="#">Lovely teal</a>
      </div>
    </div>
  </div>
</div>

<div class="single-message-row-september paragraph single-message-row-september--featured" >
  <div class="single-message-row-september__image">
    <picture>
      <source srcset="http://webplantmedia.com/starter-themes/wordpresscanvas-structure1/wp-content/uploads/2014/04/16-9-dummy-image6.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
      <source srcset="http://webplantmedia.com/starter-themes/wordpresscanvas-structure1/wp-content/uploads/2014/04/16-9-dummy-image6.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
      <source srcset="http://webplantmedia.com/starter-themes/wordpresscanvas-structure1/wp-content/uploads/2014/04/16-9-dummy-image6.jpg" media="(min-width: 0px)" type="image/jpeg"/>
      <img src="http://webplantmedia.com/starter-themes/wordpresscanvas-structure1/wp-content/uploads/2014/04/16-9-dummy-image6.jpg" alt="boring" typeof="foaf:Image" />
    </picture>
  </div>
  <div class="single-message-row-september__copy_wrapper">
    <div class="single-message-row-september__copy">
      <div class="single-message-row-september__title">
        <h2>
        FEATURE! 16:9 SM, 1:1 MD, 16:9 LG
        </h2>
      </div>
      <div class="single-message-row-september__body">
        <p>Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.</p>
        <a href="#">Inline link</a>
      </div>
    </div>
  </div>
</div>
