<div class="single-message-row-september paragraph" >
  <div class="single-message-row-september__image">
    <picture>
      <source srcset="https://www.oneperiodic.com/products/photobatch/tutorials/img/scale_original.png" media="all and (min-width: 1024px)" type="image/jpeg"/>
      <source srcset="https://www.oneperiodic.com/products/photobatch/tutorials/img/scale_original.png" media="all and (min-width: 740px)" type="image/jpeg"/>
      <source srcset="https://www.oneperiodic.com/products/photobatch/tutorials/img/scale_original.png" media="(min-width: 0px)" type="image/jpeg"/>
      <img srcset="https://www.oneperiodic.com/products/photobatch/tutorials/img/scale_original.png" alt="boring" typeof="foaf:Image" />
    </picture>
  </div>
  <div class="single-message-row-september__copy_wrapper">
    <div class="single-message-row-september__copy">
      <div class="single-message-row-september__title">
        <h2>
        4:3 on SM, 1:1 on MD, 4:3 on LG
        </h2>
      </div>
      <div class="single-message-row-september__body">
        <p>Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.</p>
        <a class="btn" href="#">Lovely teal</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="single-message-row-september paragraph single-message-row-september--16-9-image " >
  <div class="single-message-row-september__image">
    <picture>
      <source srcset="http://www.netzgesta.de/lab/images/example/16-9.png" media="all and (min-width: 1024px)" type="image/jpeg"/>
      <source srcset="http://www.netzgesta.de/lab/images/example/16-9.png" media="all and (min-width: 740px)" type="image/jpeg"/>
      <source srcset="http://www.netzgesta.de/lab/images/example/16-9.png" media="(min-width: 0px)" type="image/jpeg"/>
      <img srcset="http://www.netzgesta.de/lab/images/example/16-9.png" alt="boring" typeof="foaf:Image" />
    </picture>
  </div>
  <div class="single-message-row-september__copy_wrapper">
    <div class="single-message-row-september__copy">
      <div class="single-message-row-september__title">
        <h2>
        16:9 Image Variant
        </h2>
      </div>
      <div class="single-message-row-september__body">
        <p>Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.</p>
<p>Nam pretium turpis et arcu. Sed a libero.</p>
        <a class="btn" href="#">Lovely teal</a>
      </div>
    </div>
  </div>
</div>

<div class="single-message-row-september paragraph single-message-row-september--16-9-image single-message-row-september--featured" >
  <div class="single-message-row-september__image">
    <picture>
      <source srcset="http://www.netzgesta.de/lab/images/example/16-9.png" media="all and (min-width: 1024px)" type="image/jpeg"/>
      <source srcset="http://www.netzgesta.de/lab/images/example/16-9.png" media="all and (min-width: 740px)" type="image/jpeg"/>
      <source srcset="http://www.netzgesta.de/lab/images/example/16-9.png" media="(min-width: 0px)" type="image/jpeg"/>
      <img srcset="http://www.netzgesta.de/lab/images/example/16-9.png" alt="boring" typeof="foaf:Image" />
    </picture>
  </div>
  <div class="single-message-row-september__copy_wrapper">
    <div class="single-message-row-september__copy">
      <div class="single-message-row-september__title">
        <h2>
        Featured 16:9 Image Variant
        </h2>
      </div>
      <div class="single-message-row-september__body">
        <p>Feature feature feature feature feature feature feature feature feature feature!</p>
        <a class="" href="#">Lovely feature</a>
      </div>
    </div>
  </div>
</div>


<div class="single-message-row-september paragraph single-message-row-september--4-3-image" >
  <div class="single-message-row-september__image">
    <picture>
      <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
      <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
      <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="(min-width: 0px)" type="image/jpeg"/>
      <img srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" alt="boring" typeof="foaf:Image" />
    </picture>
  </div>
  <div class="single-message-row-september__copy_wrapper">
    <div class="single-message-row-september__copy">
      <div class="single-message-row-september__title">
        <h2>
        4:3 Image Variant
        </h2>
      </div>
      <div class="single-message-row-september__body">
        <p>Sed in libero ut nibh placerat accumsan. Nam at tortor in tellus interdum sagittis. Vestibulum suscipit nulla quis orci.</p>
        <a class="btn" href="#">Lovely teal</a>
      </div>
    </div>
  </div>
</div>

<div class="single-message-row-september paragraph single-message-row-september--4-3-image single-message-row-september--featured" >
  <div class="single-message-row-september__image">
    <picture>
      <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
      <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
      <source srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" media="(min-width: 0px)" type="image/jpeg"/>
      <img srcset="http://arewethereyetblog.net/wp-content/uploads/2014/08/4-3-dummy-image7-1024x768.jpg" alt="boring" typeof="foaf:Image" />
    </picture>
  </div>
  <div class="single-message-row-september__copy_wrapper">
    <div class="single-message-row-september__copy">
      <div class="single-message-row-september__title">
        <h2>
        Featured 4:3 Image Variant
        </h2>
      </div>
      <div class="single-message-row-september__body">
        <p>Feature feature feature feature feature feature feature feature feature feature!</p>
        <a class="" href="#">Lovely feature</a>
      </div>
    </div>
  </div>
</div>

<div class="single-message-row-september paragraph single-message-row-september--1-1-image" >
  <div class="single-message-row-september__image">
    <picture>
      <source srcset="http://3.bp.blogspot.com/_5pqCqLjs8WA/TGmMutN5ISI/AAAAAAAAACw/rMgIXNxHSN8/s400/Aspect1x1.png" media="all and (min-width: 1024px)" type="image/jpeg"/>
      <source srcset="http://3.bp.blogspot.com/_5pqCqLjs8WA/TGmMutN5ISI/AAAAAAAAACw/rMgIXNxHSN8/s400/Aspect1x1.png" media="all and (min-width: 740px)" type="image/jpeg"/>
      <source srcset="http://3.bp.blogspot.com/_5pqCqLjs8WA/TGmMutN5ISI/AAAAAAAAACw/rMgIXNxHSN8/s400/Aspect1x1.png" media="(min-width: 0px)" type="image/jpeg"/>
      <img srcset="http://3.bp.blogspot.com/_5pqCqLjs8WA/TGmMutN5ISI/AAAAAAAAACw/rMgIXNxHSN8/s400/Aspect1x1.png" alt="boring" typeof="foaf:Image" />
    </picture>
  </div>
  <div class="single-message-row-september__copy_wrapper">
    <div class="single-message-row-september__copy">
      <div class="single-message-row-september__title">
        <h2>
        1:1 Image Variant
        </h2>
      </div>
      <div class="single-message-row-september__body">
        <p> Vestibulum suscipit nulla quis orci. Sed in libero ut nibh placerat accumsan. Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi.</p>
        <a class="btn" href="#">Lovely teal</a>
      </div>
    </div>
  </div>
</div>

<div class="single-message-row-september paragraph single-message-row-september--1-1-image single-message-row-september--featured" >
  <div class="single-message-row-september__image">
    <picture>
      <source srcset="http://3.bp.blogspot.com/_5pqCqLjs8WA/TGmMutN5ISI/AAAAAAAAACw/rMgIXNxHSN8/s400/Aspect1x1.png" media="all and (min-width: 1024px)" type="image/jpeg"/>
      <source srcset="http://3.bp.blogspot.com/_5pqCqLjs8WA/TGmMutN5ISI/AAAAAAAAACw/rMgIXNxHSN8/s400/Aspect1x1.png" media="all and (min-width: 740px)" type="image/jpeg"/>
      <source srcset="http://3.bp.blogspot.com/_5pqCqLjs8WA/TGmMutN5ISI/AAAAAAAAACw/rMgIXNxHSN8/s400/Aspect1x1.png" media="(min-width: 0px)" type="image/jpeg"/>
      <img srcset="http://3.bp.blogspot.com/_5pqCqLjs8WA/TGmMutN5ISI/AAAAAAAAACw/rMgIXNxHSN8/s400/Aspect1x1.png" alt="boring" typeof="foaf:Image" />
    </picture>
  </div>
  <div class="single-message-row-september__copy_wrapper">
    <div class="single-message-row-september__copy">
      <div class="single-message-row-september__title">
        <h2>
        Featured 1:1 Image Variant
        </h2>
      </div>
      <div class="single-message-row-september__body">
        <p>Feature feature feature feature feature feature feature feature feature feature!</p>
        <a class="" href="#">Lovely feature</a>
      </div>
    </div>
  </div>
</div> -->