// Cards
//
// Standard Cards
//
// Markup: cards.hbs
//
// .cards--feature-layout - Feature Layout
//
// Style guide: Cards

.cards {
  padding: 30px 0;
  width: 100%;

  @include breakpoint($screen-md) {
    padding: 60px 0;
  }
  &+.cards {
    padding-top: 0;
    margin-top: -30px;
    @include breakpoint($screen-md) {
      margin-top: -60px;
    }
  }
	@for $i from 1 through 6 {
    .cards__item:first-child:nth-last-child(#{$i}),
    .cards__item:first-child:nth-last-child(#{$i}) ~ .cards__item {
      width: calc(100% - (8 * #{gutter()}));
      margin: 0 0 calc(4 * #{gutter()});

      @include breakpoint($screen-sm-max) {
	  	  width: calc(100% - (2 * #{gutter()}));
        margin: 0 gutter() 30px;
      }
      @include breakpoint($screen-md-max) {
		    @include span(12/$i);
        .cards__item:first-child {
          margin-left: #{gutter()};
        }
        .cards__item:last-child {
          margin-right: #{gutter()};
        }
      }
    }
  }
  .cards__item:first-child:nth-last-child(1), 
  .cards__item:first-child:nth-last-child(1) ~ .cards__item {
    margin-bottom: 0;
  }
  .cards__item:first-child:nth-last-child(2), 
  .cards__item:first-child:nth-last-child(2) ~ .cards__item {
    @include breakpoint($screen-md-max) {
      @include span(4);
      display: inline-block;
      float: none;
      vertical-align: top;
    }
  }
}
.cards__wrapper {
  text-align: center;
  @include breakpoint($screen-md-max) {
    @include display-flex;
    @include justify-content(center);
  }
}
.cards__item {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  text-align: left;
  overflow: hidden;
  @include breakpoint($screen-md-only) {
    width: calc(100% - (4 * 1.25%)) !important;
    margin: 1.25% calc(2 * 1.25%) !important;
  }
}
.cards__title {
  text-align: center;
  margin: 0 calc(4 * 1.25%) 30px;
  @include breakpoint($screen-md){
    margin: 0 calc(2 * 1.25%) 30px;
  }
  .bg--dark-orchid & {
    color: $colour-white;
  }
}
.cards__content-wrapper {
  position: relative;
  padding: 30px;
  height: 100%;
  @include breakpoint($screen-md-only) {
    position: absolute;
    top: 0;
    right: 0;
    padding: calc(2*#{gutter()});
    height: 100%;
    @include span(7 wider);
    margin-right: 0;
    &.cards__content-wrapper--no-image {
      @include span(12);
      position: relative;
      .cards__content {      
        top: 0;
        position: relative;
        @include translateY(0);
      }
    }
  }
  .cards--feature-layout & {
    z-index: 10;
    margin: calc(4*#{gutter()});
    margin-top: calc(-6*#{gutter()});
    text-align: center;
    background-color: $colour-white;
    @include breakpoint($screen-md-only) {
      margin: 25px 0;
      height: calc(100% - 50px);
      @include span(9);
      @include push(3);
    }
  }
}
.cards__image {
  img {
    width: 100%;
    display: block;
    height: 100%;
  }
  @include breakpoint($screen-md-only) {
    @include span(5);
    margin-left: 0;
  }
}
.cards__content {
  @include breakpoint($screen-md-only) {
  	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 20px);
	  top: 50%;
    @include translateY(-50%);
  }
}
