{%
set classes = [
    'paragraph',
    content.background_colour_class
]
%}

<section{{ attributes.addClass(classes) }}>
	<div class="feature-articles-block">
    {{ content.articles }}
	</div>
</section>
