.story__fundraiser-wrapper.bg--blue .story__beneficiary-title h3,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--blue .story__beneficiary-title p,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--blue .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--blue .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--blue .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--blue .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-title span,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-title p,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-title .view-search .search__total,
.view-search .story__fundraiser-wrapper.bg--blue .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-title .view-search .search__start-end,
.view-search .story__fundraiser-wrapper.bg--blue .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-title a,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-body h3,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--blue .story__beneficiary-body p,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--blue .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--blue .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--blue .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--blue .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-body span,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-body p,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-body .view-search .search__total,
.view-search .story__fundraiser-wrapper.bg--blue .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-body .view-search .search__start-end,
.view-search .story__fundraiser-wrapper.bg--blue .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--blue .story__beneficiary-body a,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-title h3,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--blue .story__beneficiary-title p,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--blue .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--blue .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--blue .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--blue .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-title span,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-title p,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-title .view-search .search__total,
.view-search .story__beneficiary-wrapper.bg--blue .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-title .view-search .search__start-end,
.view-search .story__beneficiary-wrapper.bg--blue .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-title a,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-body h3,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--blue .story__beneficiary-body p,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--blue .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--blue .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--blue .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--blue .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-body span,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-body p,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-body .view-search .search__total,
.view-search .story__beneficiary-wrapper.bg--blue .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-body .view-search .search__start-end,
.view-search .story__beneficiary-wrapper.bg--blue .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--blue .story__beneficiary-body a {
  color: #22d2dc;
}

.story__fundraiser-wrapper.bg--red .story__beneficiary-title h3,
.story__fundraiser-wrapper.bg--red .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--red .story__beneficiary-title p,
.story__fundraiser-wrapper.bg--red .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--red .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--red .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--red .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--red .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--red .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--red .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--red .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--red .story__beneficiary-title span,
.story__fundraiser-wrapper.bg--red .story__beneficiary-title p,
.story__fundraiser-wrapper.bg--red .story__beneficiary-title .view-search .search__total,
.view-search .story__fundraiser-wrapper.bg--red .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--red .story__beneficiary-title .view-search .search__start-end,
.view-search .story__fundraiser-wrapper.bg--red .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--red .story__beneficiary-title a,
.story__fundraiser-wrapper.bg--red .story__beneficiary-body h3,
.story__fundraiser-wrapper.bg--red .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--red .story__beneficiary-body p,
.story__fundraiser-wrapper.bg--red .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--red .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--red .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--red .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--red .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--red .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--red .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--red .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--red .story__beneficiary-body span,
.story__fundraiser-wrapper.bg--red .story__beneficiary-body p,
.story__fundraiser-wrapper.bg--red .story__beneficiary-body .view-search .search__total,
.view-search .story__fundraiser-wrapper.bg--red .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--red .story__beneficiary-body .view-search .search__start-end,
.view-search .story__fundraiser-wrapper.bg--red .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--red .story__beneficiary-body a,
.story__beneficiary-wrapper.bg--red .story__beneficiary-title h3,
.story__beneficiary-wrapper.bg--red .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--red .story__beneficiary-title p,
.story__beneficiary-wrapper.bg--red .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--red .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--red .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--red .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--red .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--red .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--red .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--red .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--red .story__beneficiary-title span,
.story__beneficiary-wrapper.bg--red .story__beneficiary-title p,
.story__beneficiary-wrapper.bg--red .story__beneficiary-title .view-search .search__total,
.view-search .story__beneficiary-wrapper.bg--red .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--red .story__beneficiary-title .view-search .search__start-end,
.view-search .story__beneficiary-wrapper.bg--red .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--red .story__beneficiary-title a,
.story__beneficiary-wrapper.bg--red .story__beneficiary-body h3,
.story__beneficiary-wrapper.bg--red .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--red .story__beneficiary-body p,
.story__beneficiary-wrapper.bg--red .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--red .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--red .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--red .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--red .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--red .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--red .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--red .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--red .story__beneficiary-body span,
.story__beneficiary-wrapper.bg--red .story__beneficiary-body p,
.story__beneficiary-wrapper.bg--red .story__beneficiary-body .view-search .search__total,
.view-search .story__beneficiary-wrapper.bg--red .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--red .story__beneficiary-body .view-search .search__start-end,
.view-search .story__beneficiary-wrapper.bg--red .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--red .story__beneficiary-body a {
  color: #f04257;
}

.story__fundraiser-wrapper.bg--pink .story__beneficiary-title h3,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--pink .story__beneficiary-title p,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--pink .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--pink .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--pink .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--pink .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-title span,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-title p,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-title .view-search .search__total,
.view-search .story__fundraiser-wrapper.bg--pink .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-title .view-search .search__start-end,
.view-search .story__fundraiser-wrapper.bg--pink .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-title a,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-body h3,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--pink .story__beneficiary-body p,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--pink .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--pink .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--pink .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--pink .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-body span,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-body p,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-body .view-search .search__total,
.view-search .story__fundraiser-wrapper.bg--pink .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-body .view-search .search__start-end,
.view-search .story__fundraiser-wrapper.bg--pink .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--pink .story__beneficiary-body a,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-title h3,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--pink .story__beneficiary-title p,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--pink .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--pink .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--pink .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--pink .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-title span,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-title p,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-title .view-search .search__total,
.view-search .story__beneficiary-wrapper.bg--pink .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-title .view-search .search__start-end,
.view-search .story__beneficiary-wrapper.bg--pink .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-title a,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-body h3,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--pink .story__beneficiary-body p,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--pink .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--pink .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--pink .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--pink .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-body span,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-body p,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-body .view-search .search__total,
.view-search .story__beneficiary-wrapper.bg--pink .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-body .view-search .search__start-end,
.view-search .story__beneficiary-wrapper.bg--pink .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--pink .story__beneficiary-body a {
  color: #fc9eb9;
}

.story__fundraiser-wrapper.bg--yellow .story__beneficiary-title h3,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--yellow .story__beneficiary-title p,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-title span,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-title p,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .view-search .search__total,
.view-search .story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .search__total,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .view-search .search__start-end,
.view-search .story__fundraiser-wrapper.bg--yellow .story__beneficiary-title .search__start-end,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-title a,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-body h3,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--yellow .story__beneficiary-body p,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-body span,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-body p,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .view-search .search__total,
.view-search .story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .search__total,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .view-search .search__start-end,
.view-search .story__fundraiser-wrapper.bg--yellow .story__beneficiary-body .search__start-end,
.story__fundraiser-wrapper.bg--yellow .story__beneficiary-body a,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-title h3,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--yellow .story__beneficiary-title p,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-title span,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-title p,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .view-search .search__total,
.view-search .story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .search__total,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .view-search .search__start-end,
.view-search .story__beneficiary-wrapper.bg--yellow .story__beneficiary-title .search__start-end,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-title a,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-body h3,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--yellow .story__beneficiary-body p,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-body span,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-body p,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .view-search .search__total,
.view-search .story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .search__total,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .view-search .search__start-end,
.view-search .story__beneficiary-wrapper.bg--yellow .story__beneficiary-body .search__start-end,
.story__beneficiary-wrapper.bg--yellow .story__beneficiary-body a {
  color: #fbef51;
}

.teaser-block {
  position: relative;
  overflow: hidden;
  height: 450px;
}

.teaser-block__link {
  text-decoration: none;
}

.teaser-block__cta {
  display: block;
  clear: both;
}

.teaser-block__image {
  width: 100%;
  height: 50%;
}

@media (min-width: 740px) {
  .teaser-block__image {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
  }

  .block-content--view-mode-cw-mp .teaser-block__image,
  .block-content--view-mode-cw-l .teaser-block__image {
    float: left;
  }

  .block-content--view-mode-cw-l .teaser-block__image {
    width: 60%;
    height: 450px;
  }
}

@media (min-width: 1024px) {
  .block-content--view-mode-cw-mp .teaser-block__image {
    width: 60%;
    height: 450px;
  }

  .block-content--view-mode-cw-l .teaser-block__image {
    width: 70%;
    height: 450px;
  }
}

.teaser-block__image img {
  display: block;
  width: 100%;
  width: 100%;
  height: auto;
  height: 100%;
  margin-bottom: -5px;
  object-fit: cover;
}

.no-objectfit .teaser-block__image img {
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  overflow: hidden;
  width: auto;
  max-width: none;
  height: 100% !important;
  max-height: none;
  margin: auto;
}

.teaser-block__body {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 50%;
  padding: calc(4 * 1.25%);
  text-align: center;
}

@media (min-width: 740px) {
  .block-content--view-mode-cw-mp .teaser-block__body,
  .block-content--view-mode-cw-l .teaser-block__body {
    float: left;
  }

  .block-content--view-mode-cw-l .teaser-block__body {
    width: 40%;
    height: 450px;
  }
}

@media (min-width: 1024px) {
  .block-content--view-mode-cw-mp .teaser-block__body {
    width: 40%;
    height: 450px;
  }

  .block-content--view-mode-cw-l .teaser-block__body {
    width: 30%;
    height: 450px;
  }
}

.no-flexbox .teaser-block__body {
  padding-top: 60px;
}

.teaser-block--bg-image .teaser-block__body {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 10 * 1.25%);
  height: calc(100% - 5 * 1.25%);
  margin: 0 calc(5 * 1.25%);
  background-color: transparent;
}

.teaser-block--bg-image .teaser-block__image {
  width: 100%;
  height: 100%;
}

@media (max-width: 739px) {
  .teaser-block {
    padding: 0 calc(4 * 1.25%) calc(4 * 1.25%);
  }
}

ul li {
  font-size: 1em;
}

.node__content ul {
  list-style: none;
  padding: 0 0 0 20px;
  margin: 15px 0;
}

.node__content ul li {
  font-size: 16px;
  line-height: 22px;
  list-style: none;
  padding: 0 0 0 30px;
  position: relative;
}

@media (min-width: 740px) {
  .node__content ul li {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  .node__content ul li {
    font-size: 18px;
    line-height: 24px;
  }
}

.node__content ul li:before {
  content: "o";
  color: #f04257;
  left: -3px;
  padding: 0 16px 0 0;
  position: absolute;
  top: 0;
}

.node__content ol {
  padding: 0 0 0 35px;
  margin: 15px 0;
  list-style-type: decimal;
}

.node__content ol li {
  font-size: 16px;
  line-height: 22px;
  padding: 0 0 0 15px;
  position: relative;
}

@media (min-width: 740px) {
  .node__content ol li {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  .node__content ol li {
    font-size: 18px;
    line-height: 24px;
  }
}

h1 {
  margin: 0 0 20px;
  color: #030e1a;
  font-family: "GT-Walsheim-Bold",helvetica,arial,sans-serif;
  font-size: 40px;
  line-height: 40px;
}

@media (min-width: 740px) {
  h1 {
    font-size: 64px;
    line-height: 64px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 70px;
    line-height: 70px;
  }
}

h1.font--font-black {
  font-family: "GT-Walsheim-Black",helvetica,arial,sans-serif;
  font-size: 40px;
  line-height: 36px;
}

@media (min-width: 740px) {
  h1.font--font-black {
    font-size: 64px;
    line-height: 54px;
  }
}

@media (min-width: 1024px) {
  h1.font--font-black {
    font-size: 70px;
    line-height: 60px;
  }
}

h1.font--xlarge,
.view-search h1.search__total,
.view-search h1.search__start-end {
  font-size: 36px;
  line-height: 38px;
}

@media (min-width: 740px) {
  h1.font--xlarge,
  .view-search h1.search__total,
  .view-search h1.search__start-end {
    font-size: 64px;
    line-height: 64px;
  }
}

@media (min-width: 1024px) {
  h1.font--xlarge,
  .view-search h1.search__total,
  .view-search h1.search__start-end {
    font-size: 90px;
    line-height: 90px;
  }
}

h1.font--black-shadow {
  font-family: "GT-Walsheim-Black",helvetica,arial,sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-shadow: -3px 3px 0px rgba(0,0,0,0.25);
}

@media (min-width: 740px) {
  h1.font--black-shadow {
    font-size: 64px;
    line-height: 64px;
  }
}

@media (min-width: 1024px) {
  h1.font--black-shadow {
    font-size: 70px;
    line-height: 70px;
  }
}

@media (min-width: 740px) {
  h1.font--black-shadow {
    text-shadow: -5px 5px 0px rgba(0,0,0,0.25);
  }
}

@media (min-width: 1024px) {
  h1.font--black-shadow {
    text-shadow: -7px 7px 0px rgba(0,0,0,0.25);
  }
}

h2,
h3,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.block--cr-email-signup .cr-email-signup--messages h3,
h4,
.block--cr-email-signup--head.show .esu-initial-message p,
.block--cr-email-signup--head.show .esu-initial-message .view-search .search__total,
.view-search .block--cr-email-signup--head.show .esu-initial-message .search__total,
.block--cr-email-signup--head.show .esu-initial-message .view-search .search__start-end,
.view-search .block--cr-email-signup--head.show .esu-initial-message .search__start-end,
.block--cr-email-signup--head.show .esu-first-success-message p,
.block--cr-email-signup--head.show .esu-first-success-message .view-search .search__total,
.view-search .block--cr-email-signup--head.show .esu-first-success-message .search__total,
.block--cr-email-signup--head.show .esu-first-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup--head.show .esu-first-success-message .search__start-end,
.block--cr-email-signup--head.show .esu-second-success-message p,
.block--cr-email-signup--head.show .esu-second-success-message .view-search .search__total,
.view-search .block--cr-email-signup--head.show .esu-second-success-message .search__total,
.block--cr-email-signup--head.show .esu-second-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup--head.show .esu-second-success-message .search__start-end,
.block--cr-email-signup .esu-first-success-message p,
.block--cr-email-signup .esu-first-success-message .view-search .search__total,
.view-search .block--cr-email-signup .esu-first-success-message .search__total,
.block--cr-email-signup .esu-first-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup .esu-first-success-message .search__start-end,
.block--cr-email-signup .esu-second-success-message p,
.block--cr-email-signup .esu-second-success-message .view-search .search__total,
.view-search .block--cr-email-signup .esu-second-success-message .search__total,
.block--cr-email-signup .esu-second-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup .esu-second-success-message .search__start-end,
h5,
p,
.view-search .search__total,
.view-search .search__start-end,
.link,
.media-external-file a {
  color: #030e1a;
}

p,
.view-search .search__total,
.view-search .search__start-end,
h2,
h3,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.block--cr-email-signup .cr-email-signup--messages h3,
h4,
.block--cr-email-signup--head.show .esu-initial-message p,
.block--cr-email-signup--head.show .esu-initial-message .view-search .search__total,
.view-search .block--cr-email-signup--head.show .esu-initial-message .search__total,
.block--cr-email-signup--head.show .esu-initial-message .view-search .search__start-end,
.view-search .block--cr-email-signup--head.show .esu-initial-message .search__start-end,
.block--cr-email-signup--head.show .esu-first-success-message p,
.block--cr-email-signup--head.show .esu-first-success-message .view-search .search__total,
.view-search .block--cr-email-signup--head.show .esu-first-success-message .search__total,
.block--cr-email-signup--head.show .esu-first-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup--head.show .esu-first-success-message .search__start-end,
.block--cr-email-signup--head.show .esu-second-success-message p,
.block--cr-email-signup--head.show .esu-second-success-message .view-search .search__total,
.view-search .block--cr-email-signup--head.show .esu-second-success-message .search__total,
.block--cr-email-signup--head.show .esu-second-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup--head.show .esu-second-success-message .search__start-end,
.block--cr-email-signup .esu-first-success-message p,
.block--cr-email-signup .esu-first-success-message .view-search .search__total,
.view-search .block--cr-email-signup .esu-first-success-message .search__total,
.block--cr-email-signup .esu-first-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup .esu-first-success-message .search__start-end,
.block--cr-email-signup .esu-second-success-message p,
.block--cr-email-signup .esu-second-success-message .view-search .search__total,
.view-search .block--cr-email-signup .esu-second-success-message .search__total,
.block--cr-email-signup .esu-second-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup .esu-second-success-message .search__start-end {
  margin: 0 0 15px;
  clear: both;
}

p:last-child,
.view-search .search__total:last-child,
.view-search .search__start-end:last-child,
p:first-child:last-child,
.view-search .search__total:first-child:last-child,
.view-search .search__start-end:first-child:last-child {
  margin-bottom: 5px;
}

h2 {
  font-family: "GT-Walsheim-Medium",helvetica,arial,sans-serif;
  font-size: 32px;
  line-height: 34px;
}

@media (min-width: 740px) {
  h2 {
    font-size: 34px;
    line-height: 38px;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 40px;
    line-height: 44px;
  }
}

h3,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
.block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
.view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
.block--cr-email-signup .cr-email-signup--messages h3 {
  font-family: "GT-Walsheim-Regular",helvetica,arial,sans-serif;
  font-size: 28px;
  line-height: 30px;
}

@media (min-width: 740px) {
  h3,
  .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
  .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
  .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
  .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
  .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
  .block--cr-email-signup .cr-email-signup--messages h3 {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (min-width: 1024px) {
  h3,
  .block--cr-email-signup .cr-email-signup--messages .esu-title-message p,
  .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__total,
  .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__total,
  .block--cr-email-signup .cr-email-signup--messages .esu-title-message .view-search .search__start-end,
  .view-search .block--cr-email-signup .cr-email-signup--messages .esu-title-message .search__start-end,
  .block--cr-email-signup .cr-email-signup--messages h3 {
    font-size: 34px;
    line-height: 38px;
  }
}

h4,
.block--cr-email-signup--head.show .esu-initial-message p,
.block--cr-email-signup--head.show .esu-initial-message .view-search .search__total,
.view-search .block--cr-email-signup--head.show .esu-initial-message .search__total,
.block--cr-email-signup--head.show .esu-initial-message .view-search .search__start-end,
.view-search .block--cr-email-signup--head.show .esu-initial-message .search__start-end,
.block--cr-email-signup--head.show .esu-first-success-message p,
.block--cr-email-signup--head.show .esu-first-success-message .view-search .search__total,
.view-search .block--cr-email-signup--head.show .esu-first-success-message .search__total,
.block--cr-email-signup--head.show .esu-first-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup--head.show .esu-first-success-message .search__start-end,
.block--cr-email-signup--head.show .esu-second-success-message p,
.block--cr-email-signup--head.show .esu-second-success-message .view-search .search__total,
.view-search .block--cr-email-signup--head.show .esu-second-success-message .search__total,
.block--cr-email-signup--head.show .esu-second-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup--head.show .esu-second-success-message .search__start-end,
.block--cr-email-signup .esu-first-success-message p,
.block--cr-email-signup .esu-first-success-message .view-search .search__total,
.view-search .block--cr-email-signup .esu-first-success-message .search__total,
.block--cr-email-signup .esu-first-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup .esu-first-success-message .search__start-end,
.block--cr-email-signup .esu-second-success-message p,
.block--cr-email-signup .esu-second-success-message .view-search .search__total,
.view-search .block--cr-email-signup .esu-second-success-message .search__total,
.block--cr-email-signup .esu-second-success-message .view-search .search__start-end,
.view-search .block--cr-email-signup .esu-second-success-message .search__start-end {
  font-family: "GT-Walsheim-Regular",helvetica,arial,sans-serif;
  font-size: 24px;
  line-height: 26px;
}

@media (min-width: 740px) {
  h4,
  .block--cr-email-signup--head.show .esu-initial-message p,
  .block--cr-email-signup--head.show .esu-initial-message .view-search .search__total,
  .view-search .block--cr-email-signup--head.show .esu-initial-message .search__total,
  .block--cr-email-signup--head.show .esu-initial-message .view-search .search__start-end,
  .view-search .block--cr-email-signup--head.show .esu-initial-message .search__start-end,
  .block--cr-email-signup--head.show .esu-first-success-message p,
  .block--cr-email-signup--head.show .esu-first-success-message .view-search .search__total,
  .view-search .block--cr-email-signup--head.show .esu-first-success-message .search__total,
  .block--cr-email-signup--head.show .esu-first-success-message .view-search .search__start-end,
  .view-search .block--cr-email-signup--head.show .esu-first-success-message .search__start-end,
  .block--cr-email-signup--head.show .esu-second-success-message p,
  .block--cr-email-signup--head.show .esu-second-success-message .view-search .search__total,
  .view-search .block--cr-email-signup--head.show .esu-second-success-message .search__total,
  .block--cr-email-signup--head.show .esu-second-success-message .view-search .search__start-end,
  .view-search .block--cr-email-signup--head.show .esu-second-success-message .search__start-end,
  .block--cr-email-signup .esu-first-success-message p,
  .block--cr-email-signup .esu-first-success-message .view-search .search__total,
  .view-search .block--cr-email-signup .esu-first-success-message .search__total,
  .block--cr-email-signup .esu-first-success-message .view-search .search__start-end,
  .view-search .block--cr-email-signup .esu-first-success-message .search__start-end,
  .block--cr-email-signup .esu-second-success-message p,
  .block--cr-email-signup .esu-second-success-message .view-search .search__total,
  .view-search .block--cr-email-signup .esu-second-success-message .search__total,
  .block--cr-email-signup .esu-second-success-message .view-search .search__start-end,
  .view-search .block--cr-email-signup .esu-second-success-message .search__start-end {
    font-size: 26px;
    line-height: 28px;
  }
}

@media (min-width: 1024px) {
  h4,
  .block--cr-email-signup--head.show .esu-initial-message p,
  .block--cr-email-signup--head.show .esu-initial-message .view-search .search__total,
  .view-search .block--cr-email-signup--head.show .esu-initial-message .search__total,
  .block--cr-email-signup--head.show .esu-initial-message .view-search .search__start-end,
  .view-search .block--cr-email-signup--head.show .esu-initial-message .search__start-end,
  .block--cr-email-signup--head.show .esu-first-success-message p,
  .block--cr-email-signup--head.show .esu-first-success-message .view-search .search__total,
  .view-search .block--cr-email-signup--head.show .esu-first-success-message .search__total,
  .block--cr-email-signup--head.show .esu-first-success-message .view-search .search__start-end,
  .view-search .block--cr-email-signup--head.show .esu-first-success-message .search__start-end,
  .block--cr-email-signup--head.show .esu-second-success-message p,
  .block--cr-email-signup--head.show .esu-second-success-message .view-search .search__total,
  .view-search .block--cr-email-signup--head.show .esu-second-success-message .search__total,
  .block--cr-email-signup--head.show .esu-second-success-message .view-search .search__start-end,
  .view-search .block--cr-email-signup--head.show .esu-second-success-message .search__start-end,
  .block--cr-email-signup .esu-first-success-message p,
  .block--cr-email-signup .esu-first-success-message .view-search .search__total,
  .view-search .block--cr-email-signup .esu-first-success-message .search__total,
  .block--cr-email-signup .esu-first-success-message .view-search .search__start-end,
  .view-search .block--cr-email-signup .esu-first-success-message .search__start-end,
  .block--cr-email-signup .esu-second-success-message p,
  .block--cr-email-signup .esu-second-success-message .view-search .search__total,
  .view-search .block--cr-email-signup .esu-second-success-message .search__total,
  .block--cr-email-signup .esu-second-success-message .view-search .search__start-end,
  .view-search .block--cr-email-signup .esu-second-success-message .search__start-end {
    font-size: 30px;
    line-height: 32px;
  }
}

p,
.view-search .search__total,
.view-search .search__start-end {
  padding: 0;
  font-family: "GT-Walsheim-Regular",helvetica,arial,sans-serif;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 740px) {
  p,
  .view-search .search__total,
  .view-search .search__start-end {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  p,
  .view-search .search__total,
  .view-search .search__start-end {
    font-size: 18px;
    line-height: 24px;
  }
}

p.font--xlarge,
.view-search .search__total,
.view-search .search__start-end {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

@media (min-width: 740px) {
  p.font--xlarge,
  .view-search .search__total,
  .view-search .search__start-end {
    font-size: 22px;
    line-height: 28px;
  }
}

@media (min-width: 1024px) {
  p.font--xlarge,
  .view-search .search__total,
  .view-search .search__start-end {
    font-size: 24px;
    line-height: 30px;
  }
}

p.font--large,
.view-search .font--large.search__total,
.view-search .font--large.search__start-end {
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: 740px) {
  p.font--large,
  .view-search .font--large.search__total,
  .view-search .font--large.search__start-end {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: 1024px) {
  p.font--large,
  .view-search .font--large.search__total,
  .view-search .font--large.search__start-end {
    font-size: 20px;
    line-height: 26px;
  }
}

p.font--small,
.view-search .font--small.search__total,
.view-search .font--small.search__start-end {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 740px) {
  p.font--small,
  .view-search .font--small.search__total,
  .view-search .font--small.search__start-end {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  p.font--small,
  .view-search .font--small.search__total,
  .view-search .font--small.search__start-end {
    font-size: 16px;
    line-height: 20px;
  }
}

p.font--xsmall,
.view-search .font--xsmall.search__total,
.view-search .font--xsmall.search__start-end {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 740px) {
  p.font--xsmall,
  .view-search .font--xsmall.search__total,
  .view-search .font--xsmall.search__start-end {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 1024px) {
  p.font--xsmall,
  .view-search .font--xsmall.search__total,
  .view-search .font--xsmall.search__start-end {
    font-size: 14px;
    line-height: 18px;
  }
}

span.font--font-black {
  font-family: "GT-Walsheim-Black",helvetica,arial,sans-serif;
}

strong {
  font-family: "GT-Walsheim-Bold",helvetica,arial,sans-serif;
}

.font--red {
  color: #f04257;
}

.font--blue {
  color: #22d2dc;
}

.font--yellow {
  color: #fbef51;
}

.font--green {
  color: #b2e55e;
}

.font--teal {
  color: #00beca;
}

.font--royal-blue {
  color: #0565d1;
}

.font--purple {
  color: #7d2ca9;
}

.font--dark-purple {
  color: #7023b7;
}

.font--pink {
  color: #fc9eb9;
}

.font--black {
  color: #030e1a;
}

.font--dark-blue {
  color: #061d38;
}

.font--white {
  color: #fff;
}

.font--jasper-grey {
  color: #666;
}

.font--gainsboro-grey {
  color: #c7c7c7;
}

.font--light-grey {
  color: #ddd;
}

.font--smoke-grey {
  color: #f0f0f0;
}