<div class="messages {{modifier_class}}">
  <h2 class="visually-hidden">Status message</h2>
  
  <ul class="messages__list">
    <li class="messages__item">This is a system message.</li>
    <li class="messages__item">And this is another system message.</li>
    <li class="messages__item">Message received: <span class="messages__highlighted-text">Unknown input</span>.</li>
  </ul>
</div>
