// Miscellaneous
//
// Style guide 160

// Animations
//
// Markup: animations.twig
//
// Style guide: 160.1

.floating {
  float: left;
  margin-top: 5px;
  margin-left: 30px;
  -webkit-animation-name: Floatingx;
     -moz-animation-name: Floating;
  -webkit-animation-duration: 3s;
     -moz-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
     -moz-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
}
@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, -0px);
  }
}
@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 15px);
  }
  to {
    -moz-transform: translate(0, -0px);
  }
}
