<div class="content-block__image">
	{{ field_article_image }}
</div>
<div class="content-block__content-wrapper">
	<div class="content-block__content">
		<span class="content-block__tag font--yellow font--font-black">News</span>
		<h3>{{ node_title }}</h3>
	</div>
</div>
{{ node_link }}
