/* Styles for the Single Message Row L/R variant Paragraph 
*/
.paragraph--cr-single-message-row-lr {
  @include container;

  &.paragraph--cr-single-message-row-lr--title-above {
    .paragraph--cr-single-message-row-lr__title {
      @include span(12);
      text-align: center;
    }
  }
}

.paragraph--cr-single-message-row-lr__image,
.paragraph--cr-single-message-row-lr__copy_wrapper {
  @include span(12);
}

.paragraph--cr-single-message-row-lr__copy_wrapper {
  padding: 30px;
  
  h2 {
    text-align: center;
  }
}

@include breakpoint($screen-lg) {

  .paragraph--cr-single-message-row-lr__image,
  .paragraph--cr-single-message-row-lr__copy_wrapper {
    @include span(6);
  }

  /* Reposition image and text if Image Right selection is used */
  .paragraph--cr-single-message-row-lr--image-right {
    .paragraph--cr-single-message-row-lr__copy_wrapper{
      @include span(6 first);
    }

    .paragraph--cr-single-message-row-lr__image {
      @include span(6 last);
    }
  }
}

