<div class="paragraph paragraph--cr-single-message-row-lr {{modifier_class}}" >
  <div class="paragraph--cr-single-message-row-lr__title">
    <h2>
      Looks Like Jack White, Sounds Like Jack Beige
    </h2>
  </div>
  <div class="paragraph--cr-single-message-row-lr__image">
    <picture>
        <source srcset="/sites/default/files/styles/50_width_image_lg/public/2016-05/James_bay_0.jpg?itok=FhWyplYi 1x, /sites/default/files/styles/50_width_image_lg_2x_/public/2016-05/James_bay_0.jpg?itok=hgd-yPtp 2x" media="all and (min-width: 1024px)" type="image/jpeg"/>
        <source srcset="/sites/default/files/styles/100_width_image_md/public/2016-05/James_bay_0.jpg?itok=hDMk0mo7 1x, /sites/default/files/styles/100_width_image_md_2x_/public/2016-05/James_bay_0.jpg?itok=LputzpGM 2x" media="all and (min-width: 740px)" type="image/jpeg"/>
        <source srcset="/sites/default/files/styles/100_width_image_sm/public/2016-05/James_bay_0.jpg?itok=FsP-32_P 1x, /sites/default/files/styles/100_width_image_sm_2x/public/2016-05/James_bay_0.jpg?itok=lhxto9JU 2x" media="(min-width: 0px)" type="image/jpeg"/>
      <img srcset="/sites/default/files/styles/100_width_image_md/public/2016-05/James_bay_0.jpg?itok=hDMk0mo7" alt="boring" typeof="foaf:Image" />
    </picture>
  </div>
  <div class="paragraph--cr-single-message-row-lr__copy_wrapper">
    <div class="paragraph--cr-single-message-row-lr__body">
      <p>Nullam sagittis. Vestibulum volutpat pretium libero. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Morbi mollis tellus ac sapien. Proin magna.</p>
      <p>Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nulla porta dolor. Praesent turpis. In hac habitasse platea dictumst. Cras non dolor.</p>
      <p><a class="btn btn--red" href="www.askjeeves.com">Yes</a></p>
    </div>
  </div>
</div>

<p>&nbsp;</p>

<div class="paragraph paragraph--cr-single-message-row-lr {{modifier_class}}" >
  <div class="paragraph--cr-single-message-row-lr__image">
    <picture>
        <source srcset="/sites/default/files/styles/50_width_image_lg/public/2016-05/James_bay_0.jpg?itok=FhWyplYi 1x, /sites/default/files/styles/50_width_image_lg_2x_/public/2016-05/James_bay_0.jpg?itok=hgd-yPtp 2x" media="all and (min-width: 1024px)" type="image/jpeg">
        <source srcset="/sites/default/files/styles/100_width_image_md/public/2016-05/James_bay_0.jpg?itok=hDMk0mo7 1x, /sites/default/files/styles/100_width_image_md_2x_/public/2016-05/James_bay_0.jpg?itok=LputzpGM 2x" media="all and (min-width: 740px)" type="image/jpeg">
        <source srcset="/sites/default/files/styles/100_width_image_sm/public/2016-05/James_bay_0.jpg?itok=FsP-32_P 1x, /sites/default/files/styles/100_width_image_sm_2x/public/2016-05/James_bay_0.jpg?itok=lhxto9JU 2x" media="(min-width: 0px)" type="image/jpeg">
      <img srcset="/sites/default/files/styles/100_width_image_md/public/2016-05/James_bay_0.jpg?itok=hDMk0mo7" alt="boring" typeof="foaf:Image">
    </picture>
  </div>
  <div class="paragraph--cr-single-message-row-lr__copy_wrapper">
    <div class="paragraph--cr-single-message-row-lr__title">
      <h2>
        Looks Like Jack White, Sounds Like Jack Beige
      </h2>
    </div>
    <div class="paragraph--cr-single-message-row-lr__body">
      <p>Nullam sagittis. Vestibulum volutpat pretium libero. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Morbi mollis tellus ac sapien. Proin magna.</p>
      <p>Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nulla porta dolor. Praesent turpis. In hac habitasse platea dictumst. Cras non dolor.</p>
      <p><a class="btn btn--red" href="www.askjeeves.com">Yes</a></p>
    </div>
  </div>
</div>

<p>&nbsp;</p>
