
// Colours
//
// These are the default colours
//
// For font class, use .type--{{modifier_class}} 
//
// For background class, use .bg--{{modifier_class}}
// 
// Markup:
// <div class="bg--black"></div>
// <p>$black: #1e1e1e;</p>
// <div class="bg--dark-grey"></div>
// <p>$dark-grey: #282828;</p>
// <div class="bg--jasper-grey"></div>
// <p>$jasper-grey: #666;</p>
// <div class="bg--greyboy-grey"></div>
// <p>$greyboy-grey: #999;</p>
// <div class="bg--gainsboro-grey"></div>
// <p>$gainsboro-grey: #ccc;</p>
// <div class="bg--item-grey"></div>
// <p>$item-grey: #ddd;</p>
// <div class="bg--light-grey"></div>
// <p>$light-grey: #eee;</p>
// <div class="bg--smoke-grey"></div>
// <p>$smoke-grey: #fafafa;</p>
// <div class="bg--cw-grey"></div>
// <p>$cw-grey: #f0f0f0;</p>
// <div class="bg--white"></div>
// <p>$white: #fff;</p>
// <div class="bg--red"></div>
// <p>$red: #f0544a;</p>
// <div class="bg--berry"></div>
// <p>$berry: #e63f52;</p>
// <div class="bg--coral"></div>
// <p>$coral: #f9a567;</p>
// <div class="bg--purple"></div>
// <p>$purple: #A25EB5;</p>
// <div class="bg--blue"></div>
// <p>$blue:#00C2DF</p>
// <div class="bg--green"></div>
// <p>$green: #A3D55F</p>
// <div class="bg--aqua"></div>
// <p>$aqua: #75E1C2</p>
// <div class="bg--teal"></div>
// <p>$teal: #00A9B0;</p>
//
// Style guide: Colours

/* 
 * Colours
 */

// Colours

// Brand colors

$colour-red: #dc2a2a;
$colour-blue: #45bfd4;
$colour-yellow: yellow;
$colour-green: #27bf90;
$colour-teal: teal;
$colour-royal-blue: #0565d1;
$colour-purple: #b4549e;
$colour-dark-purple: #7023b7;
$colour-pink: #fc9eb9;

$colour-black: #000;
$colour-dark-blue: #061d38;
// $colour-dark-grey: #333;
$colour-jasper-grey: #606060;
// $colour-greyboy-grey: #999;
$colour-gainsboro-grey: #ccc;
$colour-light-grey: #f3f3f5;
$colour-smoke-grey: #f0f0f2;
$colour-white: #fff;

/* Single message row background colour, used in June site, to be renamed and updated */
$cream-grey: #F5F2ED;

/**
 * Parameters
 * $inlinelink[1] = name
 * $inlinelink[2] = border-color
 * $inlinelink[3] = border-color for hover & focus
 */
$linkList: (
  ("red" $colour-red $colour-purple),
  ("blue" $colour-blue $colour-yellow), 
  ("yellow" $colour-yellow $colour-blue),
  ("green" $colour-green $colour-teal), 
  ("teal" $colour-teal $colour-pink), 
  ("royal-blue" $colour-royal-blue $colour-red), 
  ("purple" $colour-purple $colour-royal-blue),
  ("pink" $colour-pink $colour-green),
  ("white" $colour-white $colour-black),
  ("jasper-grey" $colour-jasper-grey $colour-red),
  ("gainsboro-grey" $colour-gainsboro-grey $colour-red),
  ("light-grey" $colour-light-grey $colour-red),
  ("smoke-grey" $colour-smoke-grey $colour-red)
);

/**
 * Parameters
 * $color[1] = name
 * $color[2] = background colour/font colour
 */
$colorList: (
  ("red" $colour-red),
  ("blue" $colour-blue), 
  ("yellow" $colour-yellow),
  ("green" $colour-green), 
  ("teal" $colour-teal), 
  ("royal-blue" $colour-royal-blue), 
  ("purple" $colour-purple),
  ("dark-purple" $colour-dark-purple),
  ("pink" $colour-pink),
  ("black" $colour-black),
  ("dark-blue" $colour-dark-blue),
  ("white" $colour-white),
  ("jasper-grey" $colour-jasper-grey),
  ("gainsboro-grey" $colour-gainsboro-grey),
  ("light-grey" $colour-light-grey),
  ("smoke-grey" $colour-smoke-grey)
);

/**
 * Parameters
 * $button[1] = name
 * $button[2] = background-color
 * $button[3] = background-color for hover & focus
 * $button[4] = text color
 */
$buttonList: (
  ("black-ghost" transparent $colour-dark-blue $colour-dark-blue),
  ("white-ghost" transparent $colour-white $colour-white),
  ("red" $colour-red $colour-purple $colour-white),
  ("blue" $colour-blue $colour-yellow $colour-black), 
  ("yellow" $colour-yellow $colour-blue $colour-black),
  ("green" $colour-green $colour-teal $colour-black), 
  ("teal" $colour-teal $colour-pink $colour-black), 
  ("royal-blue" $colour-royal-blue $colour-red $colour-white), 
  ("purple" $colour-purple $colour-royal-blue $colour-white),
  ("pink" $colour-pink $colour-green $colour-black),
  ("white" $colour-white $colour-black $colour-black)
);

/* Single message row background colour, used in June site, to be renamed and updated */
$cream-grey: #F5F2ED;

/* REMIX! */
/* Small breakpoint */
$screen-sm: 0px;
$screen-sm-min: $screen-sm;
$screen-sm-max: 739px;

/* Medium breakpoint */
$screen-md: 740px;
$screen-md-min: $screen-md;
$screen-md-max: 1023px;

$screen-md-only: $screen-md $screen-md-max;

/* Large breakpoint */
$screen-lg: 1024px;
$screen-lg-min: $screen-lg;

/* Tweaked breakpoints to allow 'mobile' style nav on iPad landscape */

$desktop-nav-breakpoint: 1150px;
$desktop-max-nav-breakpoint: max-width 1150px;
$desktop-nav-breakpoint-min: $desktop-nav-breakpoint;

/* Grid values */
$max-width: 1200px;

$gutter: 30px;
$column: 70px;

$columns: 12;

// Fonts

$font-stack: helvetica, arial, sans-serif;

$font-black-oblique: "GT-Walsheim-Black-Oblique", $font-stack;
$font-black: "GT-Walsheim-Black", $font-stack;
$font-bold-oblique: "GT-Walsheim-Black-Bold-Oblique", $font-stack;
$font-bold: "GT-Walsheim-Bold", $font-stack;
$font-medium-oblique: "GT-Walsheim-Medium-Oblique", $font-stack;
$font-medium: "GT-Walsheim-Medium", $font-stack;
$font-regular-oblique: "GT-Walsheim-Regular-Oblique", $font-stack;
$font-regular: "GT-Walsheim-Regular", $font-stack;
$font-light-oblique: "GT-Walsheim-Light-Oblique", $font-stack;
$font-light: "GT-Walsheim-Light", $font-stack;
$body-font: "GT-Walsheim-Regular", $font-stack;

// breakpoint: (font-size, line-height)
$h1-xlarge-font-size: (
  null: (36px, 38px),
  $screen-md: (64px, 64px),
  $screen-lg: (90px, 90px)
);

$h1-blackshadow-font-size: (
  null: (40px, 40px),
  $screen-md: (64px, 64px),
  $screen-lg: (70px, 70px)
);

$h1-black-font-size: (
  null: (40px, 36px),
  $screen-md: (64px, 54px),
  $screen-lg: (70px, 60px)
);

$h1-font-size: (
  null: (40px, 40px),
  $screen-md: (64px, 64px),
  $screen-lg: (70px, 70px)
);

$h2-font-size: (
  null: (32px, 34px),
  $screen-md: (34px, 38px),
  $screen-lg: (40px, 44px)
);

$h3-font-size: (
  null: (28px, 30px),
  $screen-md: (30px, 34px),
  $screen-lg: (34px, 38px)
);

$h4-font-size: (
  null: (24px, 26px),
  $screen-md: (26px, 28px),
  $screen-lg: (30px, 32px)
);

$p-xlarge-font-size: (
  null: (18px, 24px),
  $screen-md: (22px, 28px),
  $screen-lg: (24px, 30px)
);

$p-large-font-size: (
  null: (18px, 24px),
  $screen-md: (20px, 26px),
  $screen-lg: (20px, 26px)
);

$p-font-size: (
  null: (16px, 22px),
  $screen-md: (18px, 24px),
  $screen-lg: (18px, 24px)
);

$p-small-font-size: (
  null: (14px, 18px),
  $screen-md: (16px, 20px),
  $screen-lg: (16px, 20px)
);

$p-xsmall-font-size: (
  null: (12px, 16px),
  $screen-md: (14px, 18px),
  $screen-lg: (14px, 18px)
);
