// Landing page
//
// This is Landing page
//
// Markup:
// <div></div>
//
// Style guide: Components.Landing-page

.page-node-type-landing {
	.region-content {

    /* To be managed by layout.scss
		width: 100%;
		max-width: 100%; */
	}
	.page__title {
		position:absolute; // make it as a mixin
		left:-10000px;
		top:auto;
		width:1px;
		height:1px;
		overflow:hidden;
	}
	.panel-1col {
    // Handled by layout.scss
		//max-width: 1200px;
		//margin: 0 auto;
	}
}
.landing-page {
	position: relative;
}
.landing-page__header {
  padding: 80px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  border-bottom: none;
  p {
    color: $white;
    font-size: 21px;
    line-height: 27px;
  }
  img {
  	margin-bottom: 40px;
  }
}
.landing-page__title {
	color: $white;
	position:absolute; // make it as a mixin
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.landing-page__content {
  max-width: 600px;
  margin: 0 auto;
}
.landing-page__link {
	a {
		background-color: #fff;
	  color: #1e1e1e;
	  font-size: 16px;
	  line-height: 22px;
	  height: 50px;
	  padding: 14px 35px;
	  text-decoration: none;
	  display: inline-block;
	  text-align: center;
	  @include border-radius(30px);
	  @include transition(background-color 300ms);
	  &:hover {
	    background-color: rgba(255,255,255,0.8);
	  }
	}
}
