<footer role="contentinfo">
  
<h4 class="footer__follow">Follow us...</h4>

{# social media icons #}
{% include directory ~ '../../components/social/social-following.twig' %}

{# footer nav #}
{% include directory ~ '../Navigation/footer-nav.twig' %}


<div class="footer__copyright">
  <p>© Comic Relief 2017. Comic Relief, registered charity 326568 (England/Wales); SC039730 (Scotland)</p>
</div>
<div class="footer__branding">
  <a title="Comic Relief" href="http://www.comicrelief.com/" rel="home" target="_blank">
   <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#crlogo"></use>
    </svg>
  </a>
</div>

  <a class="styleguide-link external-link" href="/profiles/contrib/cr/themes/custom/campaign_base/styleguide/index.html" target="_blank">Styleguide</a>
</footer>
