// Partners Row
//
// This is the Partners Row
//
// Markup: partners-row.twig
//
//
// Style guide: Partners Row

.partners-row {
  .partners-row-wrapper {
    display: block;
    padding: 60px 0;
    margin: auto;
    max-width: 1200px;
  }
  .partners-row__body {
    text-align: center;
  }
  .partners-row__logos-list {
    text-align: center; // ie
    ul {
      display: flex;
      text-align: center;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-content: flex-end;
      flex-flow: row wrap;
      margin: auto;
      // make this guttering into a mixin
      max-width: calc(100% - (#{gutter()} * 4) );
      @include breakpoint($screen-md) {
        max-width: calc(100% - (#{gutter()} * 2));
      }
      @include breakpoint($screen-md-max) {
        max-width: calc(#{$max-width} - (#{gutter()} * 1));
      }
      //
    }
    li {
      @include span(6);
      margin-bottom: gutter();
      @include breakpoint($screen-md) {
        @include span(3);
        display: inline-block;
        float: none;
      }
      @include breakpoint($screen-lg) {
        @include span(2);
        display: inline-block;
        float: none;
      }
      display: inline-block;
      float: none;
    }
    img {
      height: auto;
      float: none;
      width: 100%;
    }
  }
}
