<section class="comment__section comment-wrapper">
  <h2 class="comment__section-title">2 Comments</h2>

  <article class="comment comment-by-node-author comment-by-viewer odd clearfix  with-picture">
    <span class="user-picture">
      <a title="View user profile." href="#"><img title="admin's picture" alt="admin's picture" src="../../profiles/agov/themes/agov/agov_base/sass/components/comment/author.png"></a>
    </span>
    <div class="comment--inner-wrapper">
      <header>
        <p class="submitted">
          <span><span class="field author"><a class="username" title="View user profile." href="#">admin</a></span> - <span class="field date-month">Wednesday 03 Jun, 2015</span></span>
        </p>
      </header>

      <div class="field field-name-comment-body field-type-text-long field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <p>{{content}}</p>
          </div>
        </div>
      </div>

      <ul class="links inline">
        <li class="comment-delete first"><a href="/comment/1/delete">delete</a></li>
        <li class="comment-edit"><a href="/comment/1/edit">edit</a></li>
        <li class="comment-reply last"><a href="/comment/reply/10/1">reply</a></li>
      </ul>
    </div>
  </article>

  <div class="indented"><a id="comment-2"></a>
    <article class="comment comment-new comment-by-node-author comment-by-viewer last even clearfix with-picture ">
      <span class="user-picture">
        <a title="View user profile." href="#"><img title="admin's picture" alt="admin's picture" src="../../profiles/agov/themes/agov/agov_base/sass/components/comment/author.png"></a>
      </span>
      <div class="comment--inner-wrapper">
        <header>
          <p class="submitted">
            <span><span class="field author"><a class="username" title="View user profile." href="#">admin</a></span> - <span class="field date-month">Wednesday 03 Jun, 2015</span></span>
          </p>
        </header>

        <div class="field field-name-comment-body field-type-text-long field-label-hidden">
          <div class="field-items">
            <div class="field-item even">
              <p>{{content}}</p>
            </div>
          </div>
        </div>

        <ul class="links inline">
          <li class="comment-delete first"><a href="/comment/1/delete">delete</a></li>
          <li class="comment-edit"><a href="/comment/1/edit">edit</a></li>
          <li class="comment-reply last"><a href="/comment/reply/10/1">reply</a></li>
        </ul>
      </div>
    </article>
  </div>
</section>