version: 2
jobs:
  build:
    machine:
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Start containers
          command: |
            set -x
            docker-compose up -d
      - restore_cache:
                keys:
                  - composer-deps-{{ checksum "composer.json" }}
      - restore_cache:
                keys:
                  - node-deps-{{ checksum "themes/custom/campaign_base/package.json" }}
      - run:
          name: Set up project
          command: |
            docker-compose exec web composer campaign:build || true
            docker-compose exec web chmod ugo+rw web/sites/default -R
      - save_cache:
                key: composer-deps-{{ checksum "composer.json" }}
                paths:
                  - vendor
                  - composer.lock
      - save_cache:
                key: node-deps-{{ checksum "themes/custom/campaign_base/package.json" }}
                paths:
                  - themes/custom/campaign_base/node_modules
      - run:
          name: Check outdated vendors
          command: |
            docker-compose exec -T web composer outdate
      - run:
          name: Run test
          command: |
            docker-compose exec web sh -c 'cd web && drush pmu cookieconsent admin_toolbar_tools -y && drush pmu admin_toolbar -y && drush pmu toolbar -y'
            docker-compose exec -T web vendor/bin/behat -n --colors
            docker-compose exec -T web vendor/bin/behat -ns rest --colors
            docker-compose exec web ci/travis/dberrors.sh
      - store_artifacts:
          path: reports
      - store_test_results:
          path: reports
