// Footer
//
// This is Footer
//
// Markup:
// <footer></footer>
//
// Style guide: Components.Footer

footer[role=contentinfo] {
  padding: 50px 5px;
  background: $colour-black;

  @include breakpoint($screen-lg) {
    padding-top: 100px;
  }
  .footer__copyright p {
    text-align: center;
    color: #747373;
    font-size: 12px;
    line-height: 15px;
  }
  .footer__branding {
    text-align: center;
    a {
      display: inline-block;
      width: 70px;
      height: 70px;
      .icon {
        width: inherit;
        height: inherit;
      }
      html.no-svg & {
        background-image: url("../images/icons/cr_footer_logo.png");
      }
    }
  }
  .footer__follow {
    text-align: center;
    color: $colour-white;
  }
}

