.block--cr-email-signup--head.show .form-item-school-phase label {
  position: inherit;
  top: -5px;
  left: 10 px;
  right: 15px;
  font-size: 16px;
  height: auto;
  height: auto;
  width: auto;
  color: white;
  clip: auto;
}

.block--cr-email-signup--head.show .js-form-item-email label {
  position: relative;
  padding: 0;
  top: -2px;
  left: 10px;
  font-size: 16px;
  color: #fff;
}

.block--cr-email-signup--head.show input[type=submit].button {
  background: #666 url(../images/svgs/arrow-right.svg) -4px center no-repeat;
  text-indent: -9999px;
  width: 60px;
  margin: 0;
  margin-top: 21px;
}

.block--cr-email-signup--head.show input[type=submit].button.step2 {
  margin-top: 46px;
  height: 60px;
}

.block--cr-email-signup--head.show .form-submit.step1,
.block--cr-email-signup--head.show .form-submit.step2 {
  border-radius: 0 36px 36px 0; 
}

.block--cr-email-signup label {
  position: absolute;
  width: auto;
  height:auto;
  padding: 10px;
  border: 0;
  top: -40px;
  left: 0px;
  font-size: 18px;
  color: #fff;
  clip:auto;
}

/*align labels with input field*/
@media(min-width: 1200px){ 
  .cr-email-signup-fundraise-form label,
  .cr-email-signup-form label {
    left: 70px;
  }
}


.block--cr-email-signup .cr-email-signup--messages {
  width: 97.5%;
  float: left;
  margin-left: 1.25%;
  margin-right: 1.25%;
  margin-bottom: 2.5%;
  position: relative;
  height: 60px;
  text-align: center;
}

