<div class="content-block">
	<div class="content-block__image">
		<picture>
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop.jpg" media="(min-width: 1023px)" type="image/jpeg">
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop.jpg" media="(min-width: 740px)" type="image/jpeg">
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/mobile.jpg" media="(min-width: 0px)" type="image/jpeg">
         <img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop.jpg" alt="Africa" typeof="foaf:Image">
     </picture>
	</div>
	<div class="content-block__content-wrapper">
		<div class="content-block__content">
			<span class="content-block__tag font--yellow font--font-black">News</span>
			<p class="font--xlarge">
	           British Triathlon cheers Greg James on
	      </p>
		</div>
	</div>
	<a href="/whats-going-on/british-triathlon-cheers-greg-james-on" class="content-block__link" hreflang="en">Read more</a>
</div>
&nbsp;
&nbsp;
<div class="content-block">
	<div class="content-block__image">
		<picture>
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop-2.jpg" media="(min-width: 1023px)" type="image/jpeg">
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop-2.jpg" media="(min-width: 740px)" type="image/jpeg">
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/mobile-2.jpg" media="(min-width: 0px)" type="image/jpeg">
         <img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop-2.jpg" alt="Africa" typeof="foaf:Image">
     </picture>
	</div>
	<div class="content-block__content-wrapper">
		<div class="content-block__content">
			<span class="content-block__tag font--yellow font--font-black">News</span>
			<p class="font--xlarge">
	           British Triathlon cheers Greg James on
	      </p>
		</div>
	</div>
	<a href="/whats-going-on/british-triathlon-cheers-greg-james-on" class="content-block__link" hreflang="en">Read more</a>
</div>
