<section class="cards {{modifier_class}}">
	<h2 class="cards__title">Cards title</h2>
	<div class="cards__wrapper">
		<div class="cards__item">
			<div class="cards__image">
				<img src="/profiles/contrib/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" alt="card image">
			</div>
			<div class="cards__content-wrapper bg--white">
				<div class="cards__content">
					<h3>Follow in Dermont's footsteps</h3>
					<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
					<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
				</div>
			</div>
		</div>
		<div class="cards__item">
			<div class="cards__image">
				<img src="/profiles/contrib/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" alt="card image">
			</div>
			<div class="cards__content-wrapper bg--white">
				<div class="cards__content">
					<h3>Follow in Dermont's footsteps</h3>
					<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
					<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
				</div>
			</div>
		</div>
		<div class="cards__item">
			<div class="cards__image">
				<img src="/profiles/contrib/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" alt="card image">
			</div>
			<div class="cards__content-wrapper bg--white">
				<div class="cards__content">
					<h3>Follow in Dermont's footsteps</h3>
					<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
					<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
				</div>
			</div>
		</div>
	</div>
</section>
