<div class="paragraph paragraph--cr-single-message-row {{modifier_class}}" >
  <div class="paragraph--cr-single-message-row__image">
    <picture>
      <source srcset="http://dummy-images.com/abstract/dummy-480x270-Floral.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
      <source srcset="http://dummy-images.com/abstract/dummy-480x270-Floral.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
      <source srcset="http://dummy-images.com/abstract/dummy-480x270-Floral.jpg" media="(min-width: 0px)" type="image/jpeg"/>
      <img srcset="http://dummy-images.com/abstract/dummy-480x270-Floral.jpg" alt="boring" typeof="foaf:Image" />
    </picture>
  </div>
  <div class="paragraph--cr-single-message-row__copy_wrapper">
    <div class="paragraph--cr-single-message-row__title">
      <h2>
      Title Inside example
      </h2>
    </div>
    <div class="paragraph--cr-single-message-row__body">
      <p>Sed in libero ut nibh placerat accumsan. Nam at tortor in tellus interdum sagittis. Vestibulum suscipit nulla quis orci. Sed in libero ut nibh placerat accumsan. Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi.</p>
      <p>Ut id nisl quis enim dignissim sagittis. Curabitur a felis in nunc fringilla tristique. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras sagittis. Fusce pharetra convallis urna.</p>
    </div>
  </div>
</div>

<p>&nbsp;</p>
