<article class="cw-article">
  <div class="cw-article__image">
    <img alt="" title="" src="http://dummyimage.com/600x400/000/fff">
  </div>
  <div class="cw-article__body cw-article__body--hide-show">
    <h3 class="cw-article__title">Tittle title</h3>
    <p>Synergistically integrate focused methodologies whereas diverse methodologies. Uniquely embrace real-time innovation.</p> 
    <a href="" class="cw-article__link">ctalink</a>
  </div> 
</article>