// Grid
//
// Markup: grid.twig
//
// Style guide: 160.2

/* Style for grid demo only */
.pl-grid {
	@include container;
	background: rgba(128, 128, 128, 0.2);
}
.pl-item {
	height: 100px;
}
.pl-twelve-cols {
	margin-bottom: 40px;
	overflow: hidden;
	.pl-item {
		@include span(1);
	}
}
.pl-six-by-six-normal {
	margin-bottom: 40px;
	overflow: hidden;
	.pl-item:first-child {
		@include span(6);
	}
	.pl-item:last-child {
		@include span(6);
	}
}
.pl-six-by-six {
	margin-bottom: 40px;
	overflow: hidden;
	.pl-item:first-child {
		@include span(6 no-gutters wide);
	}
	.pl-item:last-child {
		@include span(6 no-gutters wide);
	}
}
.pl-eight-by-four {
	margin-bottom: 40px;
	overflow: hidden;
	.pl-item:first-child {
		@include span(8 no-gutters);
	}
	.pl-item:last-child {
		@include span(4 no-gutters wider);
	}
}
