{%
set classes = [
'block-cr-email-signup',
'block--cr-email-signup',
'block--cr-email-signup--head',
'block--cr-email-signup--step-1',
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="block--cr-email-signup__inner-wrapper">
    <button class="esu-head-close">
      <svg class="icon" focusable="false" tabindex="-1">
        <use xlink:href="#close-cross"></use>
      </svg>
    </button>
    <div class="cr-email-signup--messages" aria-live="assertive" aria-relevant="all" aria-atomic="true">
      {{ content.initial_message }}
      {{ content.first_success_message }}
    </div>
    <div class="esu-errors messages messages--error error-msg-cr-header-email-signup-form" role="alert" aria-atomic="true" aria-relevant="all"></div>
    {{ content|without('initial_message', 'first_success_message') }}
  </div>
</div>
