<div class="cr-email-signup-fundraise-form contextual-region block-cr-email-signup block--cr-email-signup block--cr-email-signup--standard block--cr-email-signup--step-1 block--cr-email-signup--banner crEMailSignup-processed" data-drupal-selector="cr-email-signup-fundraise-form" id="block-emailsignupblockfundraise">
  <div class="block--cr-email-signup__inner-wrapper">
    <div class="cr-email-signup--messages">
      <div class="esu-title-message">
        <p></p>
      </div>
      <div class="esu-initial-message">
        <p>ESU Fundraise: initial message</p>
      </div>
      <div class="esu-first-success-message">
        <p>ESU Fundraise: success message</p>
      </div>
    </div>
    <div class="esu-errors messages messages--error"></div>
    <form action="/web/test/esu" method="post" id="cr-email-signup-fundraise-form" accept-charset="UTF-8" data-drupal-form-fields="edit-email--2,edit-step1--2">
      <input class="esu-device" data-drupal-selector="edit-device" type="hidden" name="device" value="OS_X_10.11.6_-_Chrome_56.0.2924.87">
      <input class="esu-source" data-drupal-selector="edit-source" type="hidden" name="source" value="Banner">
      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-email form-item-email">
        <label for="edit-email--2">Your email address</label>
        <input class="–metrika-nokeys form-text" data-drupal-selector="edit-email" type="text" id="edit-email--2" name="email" value="" size="60" maxlength="500" placeholder="Enter your email address">
      </div>
      <input class="step1 button js-form-submit form-submit" data-drupal-selector="edit-step1" type="submit" id="edit-step1--2" name="step1" value="Sign Up">
      <input data-drupal-selector="form-rqvvpemkcgc5hd7jksv3ludvh6amvd-jgy6vmatcv8e" type="hidden" name="form_build_id" value="form-rqvvpeMkcgc5hd7jKSv3lUdvh6AmVD-JGY6vmaTCv8E">
      <input data-drupal-selector="edit-cr-email-signup-fundraise-form-form-token" type="hidden" name="form_token" value="yg6GwzSbKSwRFrB5Py3ASG3bQr2UbWaltDcoZuUYpx8">
      <input data-drupal-selector="edit-cr-email-signup-fundraise-form" type="hidden" name="form_id" value="cr_email_signup_fundraise_form">
    </form>
  </div>
</div>
