// Dependencies.
@import 'init';

//Email sign up 
//
// Style guide: 120


// Email sign up header
//
// Markup: email-signup-header.twig
//
// Style guide: 120.1


//hide esu form initially
.block--cr-email-signup--head {
  display: none;
  position: relative;
  z-index: 101;

  &.block--cr-email-signup--error.block--cr-email-signup {
    @include breakpoint($screen-md) {
      .esu-errors.messages.messages--error {
        position: relative;
        top: auto;
        width: 100%;
        max-width: 100%;
      }
      .block--cr-email-signup__inner-wrapper {
        padding: 25px 0;
      }
    }
    .esu-errors.messages.messages--error {
      margin-top: 0;
    }
  }
}

.ui-selectmenu-menu {
  z-index: 102;
}
/* Using id as a stronger selector */
#block-emailsignupblockhead {
  &.show {
    display: block;
  }
  .block--cr-email-signup__inner-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    background-color: $colour-black;
    @include breakpoint($screen-md) {
      right: 76px;
      width: 350px;
      padding: 25px 0;
      .form-item-school-phase {
        width: 240px;
        margin-right: 0;
        margin-left: 0;
      }
    }
    @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
      right: 0;
      padding: 25px 0;
    }
    @include breakpoint($screen-lg) {
      //padding: 25px 0;
    }
    .icon {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      cursor: pointer;

      fill: $colour-white;
      &:hover,
      &:focus {
        fill: $colour-jasper-grey;
      }
    }
  }
  .cr-email-signup--messages {
    float: none;
    width: 220px;
    height: 100%;
    margin: 0 auto;
  }
  form {
    width: 300px;
    margin: 0 auto;
  }
  .form-item-email,
  .form-item-school-phase {
    width: 240px;
    select {
      width: 240px;
    }
  }
  // Show this label, as the field doesnt make sense without it...
  .form-item-school-phase label {
    top: -20px;
    right: 15px;
    clip: auto;
    width: auto;
    height: auto;
    height: auto;
    color: white;
    font-size: 14px;
  }
  .js-form-item-email label {
    @include visuallyhidden;
  }
  .js-form-item-email,
  .js-form-type-select {
    margin: 0;
    input,
    .ui-selectmenu-button {
      float: left;
      max-width: 310px;
      padding-left: 22px;
      border-radius: 36px 0 0 36px;
    }
  }
  .js-form-type-select {
    margin-top: 25px;
  }
  input[type=submit].button {
    width: 60px;
    margin: 0;
    text-indent: -9999px;
    background: $colour-jasper-grey url(../images/svgs/arrow-right.svg) -4px center no-repeat;
    @include breakpoint($screen-md) {
      //width: 100%;
    }
    &.step2 {
      margin-top: 25px;
    }
  }
  .form-submit.step1,
  .form-submit.step2 {
    margin-top: 0;
    border-radius: 0 36px 36px 0;
  }
  .esu-initial-message,
  .esu-first-success-message,
  .esu-second-success-message {
    p {
      margin-bottom: 10px;
      text-align: center;
      // Strongarm h4 extend into a new colour
      color: $colour-white !important;
      @extend h4;
    }
  }
  .esu-second-success-message {
    @include span(8);
    @include push(2);
  }
}
