<div class="video-block">
	<a data-rel="lightcase" href="https://www.youtube.com/embed/NW12S4-KB1I?autoplay=1">
		<div class="video-block__image">
			<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop.jpg" alt="card image">
		</div>
		<div class="video-block__content">
			<h3 class="font--white">Relive all the best bits of last Red Nose Day</h3>
			<p class="font--yellow font--font-black">1:30</p>
		</div>
	</a>
</div>
