/**
 * @file
 * Display Suite example layout stylesheet.
 */

.ds-left {
  width: 20%;
  float: left; /* LTR */
}

[dir="rtl"] .ds-left {
  float: right;
}

.ds-right {
  width: 80%;
  float: right; /* LTR */
}

[dir="rtl"] .ds-right {
  float: left;
}
