<div class="cr-article__social-links">
  <div class="social-links-label">
    <span>Share with:</span>
  </div>
  <div class="item-list">
  	<ul class="social-links">
  		<li>
  			<a href="http://twitter.com/home?status=http%3A%2F%2Flocalhost%3A8080%2Fweb%2Fnews-tv-and-events%2Fnews%2Fextra-article-3&amp;amp;title=Extra+article+3" title="Twitter" class="social-link twitter-social-link social-link-popup SocialPopup-processed">
  				<svg class="icon">
  					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-link-twitter"></use>
  					</svg>
  			</a>
  		</li>
  		<li>
  			<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2Fweb%2Fnews-tv-and-events%2Fnews%2Fextra-article-3&amp;amp;title=Extra+article+3" title="Facebook" class="social-link facebook-social-link social-link-popup SocialPopup-processed">
  				<svg class="icon">
  					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-link-facebook"></use>
  					</svg>
  			</a>
  		</li>
  	</ul>
  </div>  
</div>
