// Footer Nav
//
// Markup: footer-nav.twig
//
// Style guide: 15.3

.menu--footer {
  margin: 15px 0 15px;
  ul {
    margin-left: 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 10px 0;
      a {
        display: block;
        margin: 0 5px 0 0;
        padding: 0 20px 0 10px;
        text-decoration: none;
        color: $colour-white;
        border-right: 1px solid $colour-white;
        font-weight: 300;
        @include transition(color 180ms);
        &:hover {
          color: $item-grey;
        }
        &.is-active {
          color: #c8c8c8;
        }
      }
      &:last-child {
        a {
          margin: 0;
          border-right: none;
        }
      }
    }
  }
}
