<header role="banner" class="header">
  <div class="layout-center header__inner clearfix">
    <a class="header__logo" rel="home" title="Home" href="/"><img class="header__logo-image" alt="Home" src="../../profiles/agov/themes/agov/agov_base/logo.svg"></a>

    <div class="header__name-and-slogan">
      <h1 class="header__site-name visually-hidden">
        <a rel="home" class="header__site-link" title="Home" href="/"><span>aGov</span></a>
      </h1>
    </div>
    <div class="header__region region region-header"></div>
  </div>
</header>
