// Search results
//
// This is Search results
//
// Markup: search-results.hbs
//
// Style guide: search-result

.node--type-page.search-result {
  @include breakpoint($screen-md, $no-query: true) {
    padding-bottom: 0;
  }
}
.path-search {
  background-color: $colour-smoke-grey;
}
.search-result {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  a {
    text-decoration: none;
    color: $colour-black;
  }
  &.node--type-page {
    padding-bottom: 0;
  }
}
.search-result__node-link a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}
.search-result__image {
  position: relative;
  margin-left: 0;
  @include span(5);
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.search-result__content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: calc(2 * #{gutter()});
  margin-right: 0;
  padding: 30px;
  @include span(7 wider);
  &.search-result__content-wrapper--no-image {
    position: relative;
    @include span(12);
    .search-result__content {
      position: relative;
      top: 0;
      @include translateY(0);
    }
  }
}
.search-result__content {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: calc(100% - 40px);
  margin: auto;
  @include translateY(-50%);
}
.search-result__body {
  display: none;
  @include breakpoint($screen-md, $no-query: true) {
    display: block;
  }
}
.search-result__tag {
  display: inline-block;
  margin-right: 10px;
  text-transform: capitalize;
  color: $colour-red;
  line-height: 18px;
}
.search-result__published-date {
  display: inline-block;
  padding-left: 12px;
  border-left: 2px solid $colour-black;
  line-height: 18px;
}
// Search views details
.view-search {
  .search__total,
  .search__start-end {
    @extend p;
    @extend .font--xlarge;
    .path-search & {
      display: block;
      float: none;
      width: 100%;
      margin-bottom: 0;
      text-align: left;
      @include breakpoint($screen-md, $no-query: true) {
        width: auto;
      }
    }
  }
  .search__total {
    margin-bottom: 5px;
    .path-search & {
      @include breakpoint($screen-md, $no-query: true) {
        display: inline-block;
      }
    }
  }
  .search__start-end {
    .path-search & {
      @include breakpoint($screen-md, $no-query: true) {
        float: right;
      }
    }
  }
}
.view-header {
  margin: 20px 0;
}

/* Partner-specific search result to suit rectangular image style */
.node--type-partner.search-result {
  .search-result__image {
    height: 0;
    padding-bottom: 39%;
    background-color: $colour-white;
    img {
      position: absolute;
      top: 50%;
      left: 0;
      height: auto;
      @include translateY(-50%);
    }
  }
}
