// Fonts

$font-stack: helvetica, arial, sans-serif;

$font-black-oblique: "GT-Walsheim-Black-Oblique", $font-stack;
$font-black: "GT-Walsheim-Black", $font-stack;
$font-bold-oblique: "GT-Walsheim-Black-Bold-Oblique", $font-stack;
$font-bold: "GT-Walsheim-Bold", $font-stack;
$font-medium-oblique: "GT-Walsheim-Medium-Oblique", $font-stack;
$font-medium: "GT-Walsheim-Medium", $font-stack;
$font-regular-oblique: "GT-Walsheim-Regular-Oblique", $font-stack;
$font-regular: "GT-Walsheim-Regular", $font-stack;
$font-light-oblique: "GT-Walsheim-Light-Oblique", $font-stack;
$font-light: "GT-Walsheim-Light", $font-stack;
$body-font: "GT-Walsheim-Regular", $font-stack;
