<h4>Susy grid <a class="link" href="http://susydocs.oddbird.net/en/latest/toolkit/" target="_blank">toolkit</a></h4>
<div class="pl-grid kss-style">
	<h3>Example how can you use spans to layout your content</h3>
	<p>Susy has a few <a class="link" href="http://susydocs.oddbird.net/en/latest/toolkit/#margins" target="_blank">mixins</a> to deal with the margins and paddings of the spans</p>
	<p>12 columns</p>
	<div class="pl-twelve-cols">
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--red">item</div>
	</div>
	<p>6 by 6 default</p>
	<pre>
	.pl-item:first-child {
		@include span(6);
	}
	.pl-item:last-child {
		@include span(6);
	}
	</pre>
	<div class="pl-six-by-six-normal">
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--jasper-grey">item</div>
	</div>
	<p>6 by 6 using no-gutters and <a class="link" href="http://susydocs.oddbird.net/en/latest/toolkit/#narrow-wide-and-wider" target="_blank">wider</a></p>
	<pre>
	.pl-item:first-child {
		@include span(6 no-gutters wide);
	}
	.pl-item:last-child {
		@include span(6 no-gutters wide);
	}
	</pre>
	<div class="pl-six-by-six">
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--jasper-grey">item</div>
	</div>
	<p>8 by 4</p>
	<pre>
	.pl-item:first-child {
		@include span(8 no-gutters);
	}
	.pl-item:last-child {
		@include span(4 no-gutters wider);
	}
	</pre>
	<div class="pl-eight-by-four">
		<div class="pl-item bg--red">item</div>
		<div class="pl-item bg--jasper-grey">item</div>
	</div>
</div>
