// Buttons
//
// Standard link buttons
//
// Markup: buttons.hbs
// 
// .btn--black-ghost - Black ghost button
// .btn--white-ghost - White ghost button
// .btn--red - Red button
// .btn--blue - Blue button
// .btn--yellow - Yellow button
// .btn--green - Green button
// .btn--teal - Teal button
// .btn--royal-blue - Royal blue button
// .btn--purple - Purple button
// .btn--pink - Pink button
// .btn--white - White button
// :hover - Button hover state 
// :active - Button active state
// :focus - Button focus state
// .btn--fixed-width - Min width button, expands to width of container but min width of 290px
// .btn--lg - Large buttons
//
// Style guide: Buttons


/*  
  * Button styles,
  * Copied from SR16 theme
  */

.btn {
  padding: 21px 40px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;
  margin: 0 auto;
  display: inline-block;
  width: auto;

  @include border-radius(30px);
  span {
    font-size: inherit;
    font-weight: inherit;
  }

  // Full width on SM breakpoint only
  &.btn--full-width {
    width: 100%;
    display: block;
    @include breakpoint($screen-md, $no-query: true) {
      width: auto;
      display: inline-block;
    }
  }
}


/* Process $buttonList colour variations through our btn-variation mixin. */
@each $button in $buttonList {
  @include btn-variation( $button );
}

// Force white colour on black bg hover and focus state
.btn.btn--white {
  &:hover, &:focus {
    color: $colour-white;
  }
}
/**
 * Buttons display as stack block for xs
 */
.btn + .btn {
  margin-top: 30px;
}

/**
 * Buttons display as inline block for md and large breakpoints.
 */
.btn {
  &.btn--fixed-width {
    width: 100%;
  }
}
@include breakpoint($screen-md) {
  .btn {
    display: inline-block;
    font-size: 18px;
    width: auto;
    &.btn--fixed-width {
      min-width: 290px;
      width: 100%;
    }
  }
  .btn + .btn {
    margin-top: 0;
    margin-left: 25px;
  }
}

/*
 * Add icon to btn
 */
.btn {
  .icon {
    height: 20px;
    font-weight: normal;
    line-height: 20px;
    &:before {
      position: relative;
      top: 9px;
      line-height: 0;
    }
  }
  .icon + span,
  span + .icon {
    margin-left: 5px;
  }
}

/**
 * Adds large buttons. Initially for the OTN homepage but can be used
 * elsewhere.
 */
.btn--lg {
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 18px;
  line-height: 22px;
}

/**
 * Large button styles for >= md breakpoint.
 */
@include breakpoint($screen-md) {
  .btn--lg {
    height: 70px;
    padding: 24px 70px;
    @include border-radius(35px);
  }
}

// for a large group of buttons
@include breakpoint($screen-md) {
  .btn:first-child:not(:only-child) {
    margin-bottom: 20px;
  }
  .btn+.btn {
    margin-bottom: 20px;
  }
}

// Ghost button
.btn--white-ghost,
.btn--black-ghost {
  padding: 14px 30px;
  font-size: 16px;
}
.btn--black-ghost {
  border: 2px solid $colour-dark-blue;
  &:hover {
    color: $colour-white;
  }
}
.btn--white-ghost {
  border: 2px solid $colour-white;
  &:hover {
    color: $colour-dark-blue;
  }
}
