<a class="btn btn--red" href="#">
  Red Button
</a>

<a class="btn btn--blue" href="#">
  Blue Button
</a>

<a class="btn btn--red btn--lg" href="#">
  Large button
</a>

<a class="btn btn--red btn--fixed-width" href="#">
  Fixed width button
</a>

<a class="btn btn--red" href="#">
  <span>Icon after</span>
  <span class="icon icon-play-2"></span>
</a>

<a class="btn btn--red" href="#">
  <span class="icon icon-play-2"></span>
  <span>Icon before</span>
</a>