{% set bg_colour = field_cr_cards_background['#items'][0].value %}

{%
set classes = [
'cards',
'paragraph',
'contextual-region',
bg_colour,
]
%}

<div{{ attributes.addClass(classes) }}>
	{% if field_cr_cards_title %}
	<h2 class="cards__title">{{ field_cr_cards_title }}</h2>
	{% endif %}
	<div class="cards-wrapper">
	    {{ field_cr_cards_card_reference }}
	</div>
</div>