<div class="cards__item">
	<div class="cards__image">
		{{ field_cr_card_image }}
	</div>
	<div class="cards__content-wrapper">
		<div class="cards__content">
			{{ title_suffix.contextual_links }}
			{{ field_cr_card_body }}
		</div>
	</div>
</div>