<div class="single-message {{modifier_class}}">
	<img class="single-message__image" src="http://dummy-images.com/abstract/dummy-480x270-Floral.jpg" alt="">
	<div class="single-message__body">
		<h2>Heading 2</h2>
		<p>Phosfluorescently customize resource sucking process improvements for installed base products. Assertively engineer frictionless bandwidth for extensive ROI. Monotonectally evolve stand-alone e-markets with functional processes. Enthusiastically.</p>
		<a class="single-message__btn btn btn--blue" href="#">Blue Button</a>
	</div>
</div>