// Header style

header[role=banner] {
  overflow: visible!important;
  padding-bottom: 10px;
  padding-bottom: 0!important;
  border-bottom: 4px solid #e6e6e6;
  background-color: $colour-white;
}
.header__top-wrapper {
  height: 49px;
  background: $colour-black;
}
.header__inner-wrapper {
  position: relative;
}
.site-logo {
  position: relative;
  z-index: 2;
  float: left;
  width: 106px;
  height: 116px;
  margin-top: -40px;
  margin-right: 20px;
  margin-left: 10px;
  @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
    width: 136px;
    height: 136px;
  }
}
