// Promo header
//
// This is Promo header
//
// Markup: promo-header.hbs
//
// .promo-header--feature   - Body copy overlap bg image
//
// Style guide: promo-header

.promo-header {
  position: relative;
  min-height: 600px;
  &.promo-header--no-image {
    min-height: auto;
  }
}
.promo-header {
  &.promo-header--feature {
    display: table;
    background: transparent;
    width: 100%;
    min-height: auto;
  }
}
.promo-header--default {
  .promo-header__bg-image {
    img {
      object-fit: cover;
      object-position: top;
      @include no-objectfit;
    }
  }
}
.promo-header__bg-image {
  @include breakpoint($screen-md-max, $no-query: true) {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }
  margin-top: -30%;
  margin-bottom: -5px;
  float: left;
  width: 100%;
  .promo-header--feature & {
    position: relative;
    display: table-header-group;
    float: none;
  }
  img {
    @include breakpoint($screen-md-max) {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
.promo-header__content {
  @include breakpoint($screen-md-max) {
    @include translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  position: relative;
  z-index: 0;
  max-width: 1200px;
  margin: auto;
  .promo-header--feature & {
    @include translateY(0);
    position: relative;
    top: 0;
    margin: -50px auto 0;
    padding: 1px 0;
    background: $colour-white;
    @include breakpoint-gutters;
  }
  .promo-header--no-image & {
    @include translateY(0);
    position: relative;
    top: 0;
  }
  .promo-header__content-inner {
    margin: 25px auto 15px;
    word-break: break-word;
    text-align: center;
    width: 100%;
    padding: 15px;
    @include breakpoint($screen-md) {
      width: span(10);
      margin: 50px auto 40px;
      padding: 0;
    }
    @include breakpoint($screen-md-max) {
      text-align: left;
      width: 50%;
      .promo-header--feature & {
        max-width: span(8);
        text-align: center;
        width: 100%;
        margin: 55px auto 45px;
      }
    }
    &--centre {
      @include breakpoint($screen-md-max) {
        margin-right: auto;
        margin-left: auto;
      }
    }
    &--left {
      @include breakpoint($screen-md-max) {
        margin-left: gutter();
      }
    }
    &--right {
      @include breakpoint($screen-md-max) {
        margin-right: gutter();
      }
    }
    .promo-header--feature & {
      @include breakpoint($screen-md-max) {
        max-width: span(8);
      }
    }
  }
  p {
    .promo-header--feature & {
      color: $colour-black;
    }
  }
  img {
    width: 100%;
    height: auto;
    margin: 0 0 40px;
  }
}
.promo-header__svg-title {
  svg {
    width: 100%;
    .promo-header--feature & {
      path {
        fill: $colour-black;
      }
    }
  }
}
.promo-header__link {
  a {
    @include border-radius(30px);
    @include transition(background-color 300ms);
    display: inline-block;
    height: 50px;
    padding: 14px 35px;
    text-align: center;
    text-decoration: none;
    color: #1e1e1e;
    background-color: #fff;
    font-size: 16px;
    line-height: 22px;
    &:hover {
      background-color: rgba(255,255,255,0.8);
    }
  }
}
