<header class="promo-header__header bg--black">
	<div class="promo-header__bg-image">
		<picture>
			<source media="(min-width: 739px)" srcset="http://lorempixel.com/image_output/people-q-c-1700-600-4.jpg">
  		  <source srcset="http://lorempixel.com/image_output/animals-q-c-768-440-10.jpg">
  		  <img src="http://lorempixel.com/image_output/people-q-c-1700-600-4.jpg" alt="">
		</picture>
	</div>
   <h1 class="promo-header__title">Do yourself proud</h1>
	<div class="promo-header__content">
		<div class="promo-header__content-inner {{modifier_class}}">
         <img alt="Title of the page" data-entity-type="file" data-entity-uuid="9e570179-1e40-4420-9100-d8fc667c5d6f" src="/sites/default/files/inline-images/SR16_svg_title_promo_do_yourself_proud_v2_1.png" class="align-center">
         <p>What you do for Comic Relief is entirely up to you. Whatever it is, just have fun, raise cash and you'll do yourself proud.</p>
         <p><a class="btn btn--red" href="#">Download here</a>&nbsp;<a class="btn btn--red" href="#">Find out more</a></p>
		</div>
	</div>
</header>