<blockquote>
  <p>Block quote, vehicula a condimentum in, molestie et justo. Nunc lacinia eros sit amet arcu vestibulum pretium sed vel purus. Vivamus tempor mauris nec nulla pellentesque dictum. Morbi fringilla volutpat purus a vulputate. Curabitur metus nunc, mollis a vestibulum ac, mollis a magna. Nunc a mauris gravida, molestie urna non, finibus elit.</p>
</blockquote>

<blockquote>
  <p>Block quote, vehicula a condimentum in, molestie et justo. Nunc lacinia eros sit amet arcu vestibulum pretium sed vel purus. Vivamus tempor mauris nec nulla pellentesque dictum. Morbi fringilla volutpat purus a vulputate. Curabitur metus nunc, mollis a vestibulum ac, mollis a magna. Nunc a mauris gravida, molestie urna non, finibus elit.</p>
  <footer>J. Smith in <cite title="Source Title, 2nd Edition">Source
  Title</cite></footer>
</blockquote>
