<div id="block-metaiconsblock" class="contextual-region block block-cr-meta-icons">
  <div data-contextual-id="block:block=metaiconsblock:langcode=en" class="contextual" role="form">
    <button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open  configuration options</button>
    <ul class="contextual-links" hidden="">
      <li class="block-configure"><a href="/web/admin/structure/block/manage/metaiconsblock?destination=node/22">Configure block</a></li>
    </ul>
  </div>
  <div class="meta-icons">
    <button class="meta-icons__magnify has-tooltip" title="Search">
      <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-magnify"></use>
      </svg>
    </button>
    <a href="https://my.rednoseday.com/user/login" target="_blank" class="meta-icons__login has-tooltip" title="Log in to your Giving Page">
      <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-login"></use>
      </svg>
    </a>
    <button class="meta-icons__esu-toggle has-tooltip" title="Sign up for emails">
      <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#envelope"></use>
      </svg>
      <span>Get the latest</span>
    </button>
  </div>
</div>
