/*! jQuery UI - v1.11.4 - 2016-05-23
* http://jqueryui.com
* Includes: core.css, menu.css, selectmenu.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&fwDefault=normal&cornerRadius=3px&bgColorHeader=e9e9e9&bgTextureHeader=flat&borderColorHeader=dddddd&fcHeader=333333&iconColorHeader=444444&bgColorContent=ffffff&bgTextureContent=flat&borderColorContent=dddddd&fcContent=333333&iconColorContent=444444&bgColorDefault=f6f6f6&bgTextureDefault=flat&borderColorDefault=c5c5c5&fcDefault=454545&iconColorDefault=777777&bgColorHover=ededed&bgTextureHover=flat&borderColorHover=cccccc&fcHover=2b2b2b&iconColorHover=555555&bgColorActive=007fff&bgTextureActive=flat&borderColorActive=003eff&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=fffa90&bgTextureHighlight=flat&borderColorHighlight=dad55e&fcHighlight=777620&iconColorHighlight=777620&bgColorError=fddfdf&bgTextureError=flat&borderColorError=f1a899&fcError=5f3f3f&iconColorError=cc0000&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=666666&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=5px&offsetTopShadow=0px&offsetLeftShadow=0px&cornerRadiusShadow=8px
* Copyright jQuery Foundation and other contributors; Licensed MIT */




/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
  display: block;
  overflow: hidden;
  text-indent: -99999px;
  background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-menu {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}
.ui-menu .ui-menu {
  position: absolute;
}
.ui-menu .ui-menu-item {
  position: relative;
  min-height: 0; /* support: IE7 */
  margin: 0;
  padding: 3px 1em 3px 0.4em;
  /* support: IE10, see #8844 */
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  font-family: $font-regular;
  color: $colour-black;
}
.ui-menu .ui-menu-divider {
  height: 0;
  margin: 5px 0;
  border-width: 1px 0 0 0;
  font-size: 0;
  line-height: 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  margin: -1px;
}

/* icon support */
.ui-menu-icons {
  position: relative;
}
.ui-menu-icons .ui-menu-item {
  padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.2em;
  margin: auto 0;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
  right: 0;
  left: auto;
}
.ui-selectmenu-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}
.ui-selectmenu-menu .ui-menu {
  overflow: auto;
  /* Support: IE7 */
  overflow-x: hidden;
  padding-bottom: 1px;
}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
  height: auto;
  margin: 0.5em 0 0 0;
  padding: 2px 0.4em;
  border: 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
}
.ui-selectmenu-open {
  display: block;
}
.ui-selectmenu-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}
.ui-selectmenu-button span.ui-icon {
  position: absolute;
  top: 50%;
  right: 0.5em;
  left: auto;
  margin-top: -8px;
}
.ui-selectmenu-button span.ui-selectmenu-text {
  display: block;
  overflow: hidden;
  padding: 0.4em 2.1em 0.4em 1em;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.4;
}

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}
.ui-widget-content {
  color: #333;
  border: 1px solid #ddd;
  background: #fff;
}
.ui-widget-content a {
  color: #333;
}
.ui-widget-header {
  color: #333;
  border: 1px solid #ddd;
  background: #e9e9e9;
  font-weight: bold;
}
.ui-widget-header a {
  color: #333;
}



/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: #454545;
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  text-decoration: none;
  color: #454545;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  color: #2b2b2b;
  border: 1px solid #ccc;
  background: #ededed;
  font-weight: normal;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  text-decoration: none;
  color: #2b2b2b;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  color: #fff;
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  text-decoration: none;
  color: #fff;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  color: #777620;
  border: 1px solid #dad55e;
  background: #fffa90;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #777620;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  color: #5f3f3f;
  border: 1px solid #f1a899;
  background: #fddfdf;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: 0.7;
  font-weight: normal;

  filter: Alpha(Opacity=70); /* support: IE8 */
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 0.35;
  background-image: none;

  filter: Alpha(Opacity=35); /* support: IE8 */
}
.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35); /* support: IE8 - See #6059 */
}


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 3px;
}

/* Overlays */
.ui-widget-overlay {
  opacity: 0.3;
  background: #aaa;

  filter: Alpha(Opacity=30); /* support: IE8 */
}
.ui-widget-shadow {
  margin: 0 0 0 0;
  padding: 5px;
  opacity: 0.3;
  border-radius: 8px;
  background: #666;

  filter: Alpha(Opacity=30); /* support: IE8 */
}


/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}
.ui-widget-content {
  color: #333;
  border: 1px solid #ddd;
  background: #fff;
}
.ui-widget-content a {
  color: #333;
}
.ui-widget-header {
  color: #333;
  border: 1px solid #ddd;
  background: #e9e9e9;
  font-weight: bold;
}
.ui-widget-header a {
  color: #333;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: #454545;
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  text-decoration: none;
  color: #454545;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  color: #2b2b2b;
  border: 1px solid #ccc;
  background: #ededed;
  font-weight: normal;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  text-decoration: none;
  color: #2b2b2b;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  color: #fff;
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  text-decoration: none;
  color: #fff;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  color: #777620;
  border: 1px solid #dad55e;
  background: #fffa90;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #777620;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  color: #5f3f3f;
  border: 1px solid #f1a899;
  background: #fddfdf;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: 0.7;
  font-weight: normal;

  filter: Alpha(Opacity=70); /* support: IE8 */
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 0.35;
  background-image: none;

  filter: Alpha(Opacity=35); /* support: IE8 */
}
.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35); /* support: IE8 - See #6059 */
}
