// Lists
//
// These are the list items
//
// Markup:
// <ul class="cr-body">
//  <li>Item 1</li>
// 	<li>Item 2</li>
// 	<li>Item 3</li>
// 	<li>Item 4</li>
// </ul> 
//
// Style guide: Typography.Lists

ul {
  li {
    font-size: 1em;
  }
}

.cr-body ul {
  margin: 15px 0;
  padding: 0 0 0 20px;
  list-style: none;
  font-family: $font-regular;
  li {
    position: relative;
    padding: 0 0 0 30px;
    list-style: none;
    @include font-size($p-font-size);
    &:before {
      position: absolute;
      top: 0;
      left: -3px;
      padding: 0 16px 0 0;
      content: "\25CF";
      color: $colour-red;
    }
  }
}

.cr-body ol {
  margin: 15px 0;
  padding: 0 0 0 35px;
  list-style-type: decimal;
  li {
    position: relative;
    padding: 0 0 0 15px;
    @include font-size($p-font-size);
  }
}
