/* REMIX! */
/* Small breakpoint */
$screen-sm: 0px;
$screen-sm-min: $screen-sm;
$screen-sm-max: 739px;

/* Medium breakpoint */
$screen-md: 740px;
$screen-md-min: $screen-md;
$screen-md-max: 1023px;

$screen-md-only: $screen-md $screen-md-max;

/* Large breakpoint */
$screen-lg: 1024px;
$screen-lg-min: $screen-lg;
/* $screen-lg-max: no no, no no no no, no no no no, no no there's no limit */

/* Tweaked breakpoints to allow 'mobile' style nav on iPad landscape */

$desktop-nav-breakpoint: 1150px;
$desktop-max-nav-breakpoint: max-width 1150px;
$desktop-nav-breakpoint-min: $desktop-nav-breakpoint;

/* Grid values */
$max-width: 1200px;

$gutter: 30px;
$column: 70px;

$columns: 12;
