// Colours
//
// These are the default colours for June site, taken from SR16
//
// Markup:
// <div style="background-color: #f04257; height: 60px; width: 60px;"></div>
// <p><br/>$colour-red: #f04257;</p>
// <div style="background-color: #51caf5; height: 60px; width: 60px;"></div>
// <p><br/>$colour-sky-blue: #51caf5;</p>
// <div style="background-color: #fbef51; height: 60px; width: 60px;"></div>
// <p><br/>$colour-yellow: #fbef51;</p>
// <div style="background-color: #a2cf59; height: 60px; width: 60px;"></div>
// <p><br/>$colour-green: #a2cf59;</p>
// <div style="background-color: #00beca; height: 60px; width: 60px;"></div>
// <p><br/>$colour-teal: #00beca;</p>
// <div style="background-color: #388aca; height: 60px; width: 60px;"></div>
// <p><br/>$colour-royal-blue: #388aca;</p>
// <div style="background-color: #8552a1; height: 60px; width: 60px;"></div>
// <p><br/>$colour-purple: #8552a1;</p>
// <div style="background-color: #f38a99; height: 60px; width: 60px;"></div>
// <p><br/>$colour-pink: #f38a99;</p>
// <div style="background-color: #222; height: 60px; width: 60px;"></div>
// <p><br/>$colour-black: #222;</p>
// <div style="background-color: #666; height: 60px; width: 60px;"></div>
// <p><br/>$colour-jasper-grey: #666;</p>
// <div style="background-color: #c7c7c7; height: 60px; width: 60px;"></div>
// <p><br/>$colour-gainsboro-grey: #c7c7c7;</p>
// <div style="background-color: #e6e3dc; height: 60px; width: 60px;"></div>
// <p><br/>$colour-light-grey: #e6e3dc;</p>
// <div style="background-color: #f0f0f0; height: 60px; width: 60px;"></div>
// <p><br/>$colour-smoke-grey: #f0f0f0;</p>
// <div style="background-color: #fff; border: 1px solid #000; height: 60px; width: 60px;"></div>
// <p><br/>$colour-white: #fff;</p>
//
// Style guide: Colours

/* RND17 colours */

$colour-red:      #f04257;
$colour-sky-blue:  #51caf5;
$colour-yellow:   #fbef51;
$colour-green:    #a2cf59;
$colour-teal:     #00beca;
$colour-royal-blue: #388aca;
$colour-purple: #8552a1;
$colour-pink: #f38a99;

$colour-black: #222;
// $colour-dark-grey: #333;
$colour-jasper-grey: #666;
// $colour-greyboy-grey: #999;
$colour-gainsboro-grey: #c7c7c7;
$colour-light-grey: #e6e3dc;
$colour-smoke-grey: #f0f0f0;
$colour-white: #fff;

/* RND17 base colours for June taken from SR */

$black:          #1e1e1e;
$dark-grey:      #282828;
$jasper-grey:    #666;
$greyboy-grey:   #999;
$gainsboro-grey: #ccc;
$item-grey:      #ddd;
$light-grey:     #eee;
$smoke-grey:     #fafafa;
$cw-grey:        #f0f0f0;
$white:          #fff;

$red:            #f0544a;
$berry:          #e63f52;
$coral:          #f9a567;

$olive: green;

/**
 * Parameters
 * $inlinelink[1] = name
 * $inlinelink[2] = border-color
 * $inlinelink[3] = border-color for hover & focus
 */
$linkList: (
  ("red" $colour-red $colour-purple),
  ("sky-blue" $colour-sky-blue $colour-yellow), 
  ("yellow" $colour-yellow $colour-sky-blue),
  ("green" $colour-green $colour-teal), 
  ("teal" $colour-teal $colour-pink), 
  ("royal-blue" $colour-royal-blue $colour-red), 
  ("purple" $colour-purple $colour-royal-blue),
  ("pink" $colour-pink $colour-green),
  ("white" $colour-white $colour-black)
);

/**
 * Parameters
 * $color[1] = name
 * $color[2] = background colour/font colour
 */
$colorList: (
  ("red" $colour-red),
  ("sky-blue" $colour-sky-blue), 
  ("yellow" $colour-yellow),
  ("green" $colour-green), 
  ("teal" $colour-teal), 
  ("royal-blue" $colour-royal-blue), 
  ("purple" $colour-purple),
  ("pink" $colour-pink),
  ("black" $colour-black),
  ("white" $colour-white)
);

/**
 * Parameters
 * $button[1] = name
 * $button[2] = background-color
 * $button[3] = background-color for hover & focus
 * $button[4] = text color
 */
$buttonList: (
  ("red" $colour-red $colour-purple $colour-white),
  ("sky-blue" $colour-sky-blue $colour-yellow $colour-black), 
  ("yellow" $colour-yellow $colour-sky-blue $colour-black),
  ("green" $colour-green $colour-teal $colour-black), 
  ("teal" $colour-teal $colour-pink $colour-black), 
  ("royal-blue" $colour-royal-blue $colour-red $colour-white), 
  ("purple" $colour-purple $colour-royal-blue $colour-white),
  ("pink" $colour-pink $colour-green $colour-black),
  ("white" $colour-white $colour-black $colour-black)
);

/* SR16  */
$purple:         #a25eb5;
$blue:           #00c2df;
$green:          #a3d55f;
$aqua:           #75e1c2;
$teal:           #00a9b0;
$dark-orchid:		 #4e3163;

/* hover  */
$white-hover:    rgba(255, 255, 255, 0.8);
$red-hover:      #f89963;
$green-hover:    #3fba91;

/* text  */
$blue-btn-copy:  #024954;
$green-btn-copy: #2f4f05;

/* Events  */
$half-price-yellow: #ffd86b;
$red-dark:          #b42d4e;
$green-dark:        #567d5c;

// move it to colour and backgrounds scss file (todo)

.bg--dark-orchid {
	background-color: $dark-orchid;
}
/* Single message row background colour, used in June site, to be renamed and updated */
$cream-grey: #F5F2ED;
