$black: #000000;
$olive: green;

/* SR16  */
$purple:         #a25eb5;
$red:            #f0544a;
$blue:           #00c2df;
$green:          #a3d55f;
$berry:          #e63f52;
$coral:          #f9a567;
$aqua:           #75e1c2;
$teal:           #00a9b0;

$black:          #1e1e1e;
$dark-grey:      #282828;
$jasper-grey:    #666;
$greyboy-grey:   #999;
$gainsboro-grey: #ccc;
$item-grey:			 #dddddd;
$light-grey:     #eeeeee;
$smoke-grey:     #fafafa;
$cw-grey:        #f0f0f0;
$white:          #fff;

/* hover  */
$white-hover:    rgba(255, 255, 255, 0.8);
$red-hover:      #f89963;
$green-hover:    #3fba91;

/* text  */
$blue-btn-copy:  #024954;
$green-btn-copy: #2f4f05;

/* Events  */
$half-price-yellow: #ffd86b;
$red-dark:          #b42d4e;
$green-dark:        #567d5c;
