/* 
 * _font.scss
 * Font face
 */
// @font-face {
//   font-family: 'Knockout';
//   src: url('../fonts/Knockout/Knockout-HTF27-JuniorBantamwt.eot');
//   src: url('../fonts/Knockout/Knockout-HTF27-JuniorBantamwt.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/Knockout/Knockout-HTF27-JuniorBantamwt.woff2') format('woff2'),
//        url('../fonts/Knockout/Knockout-HTF27-JuniorBantamwt.woff') format('woff'),
//        url('../fonts/Knockout/Knockout-HTF27-JuniorBantamwt.ttf') format('truetype'),
//        url('../fonts/Knockout/Knockout-HTF27-JuniorBantamwt.svg#Knockout-HTF27-JuniorBantamwt') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'KnockoutBold';
//   src: url('../fonts/Knockout/Knockout-HTF47-Bantamweight.eot');
//   src: url('../fonts/Knockout/Knockout-HTF47-Bantamweight.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/Knockout/Knockout-HTF47-Bantamweight.woff2') format('woff2'),
//        url('../fonts/Knockout/Knockout-HTF47-Bantamweight.woff') format('woff'),
//        url('../fonts/Knockout/Knockout-HTF47-Bantamweight.ttf') format('truetype'),
//        url('../fonts/Knockout/Knockout-HTF47-Bantamweight.svg#Knockout-HTF47-Bantamweight') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

$body-font: "sofia-pro","Verdana",Sans-Serif;

$Knockout-full: "Knockout 70 A", "Knockout 70 B", Sans-Serif;
$Knockout-bold: "Knockout 47 A", "Knockout 47 B", Sans-serif;
$Knockout: "Knockout 27 A", "Knockout 27 B", Sans-serif;
