// Fonts

$GT-Walsheim-Light-Oblique: "GT-Walsheim-Light-Oblique";
$GT-Walsheim-Light: "GT-Walsheim-Light";
$GT-Walsheim-Regular-Oblique: "GT-Walsheim-Regular-Oblique";
$GT-Walsheim-Regular: "GT-Walsheim-Regular";
$GT-Walsheim-Black-Oblique: "GT-Walsheim-Black-Oblique";
$GT-Walsheim-Black: "GT-Walsheim-Black";
$GT-Walsheim-Black-Bold-Oblique: "GT-Walsheim-Black-Bold-Oblique";
$GT-Walsheim-Bold: "GT-Walsheim-Bold";
$GT-Walsheim-Medium-Oblique: "GT-Walsheim-Medium-Oblique";
$GT-Walsheim-Medium: "GT-Walsheim-Medium";

$body-font: $GT-Walsheim-Regular, sans-serif;

