// Fonts

$GT-Walsheim-Light-Oblique: "GT-Walsheim-Light-Oblique", helvetica, arial, sans-serif;
$GT-Walsheim-Light: "GT-Walsheim-Light", helvetica, arial, sans-serif;
$GT-Walsheim-Regular-Oblique: "GT-Walsheim-Regular-Oblique", helvetica, arial, sans-serif;
$GT-Walsheim-Regular: "GT-Walsheim-Regular", helvetica, arial, sans-serif;
$GT-Walsheim-Black-Oblique: "GT-Walsheim-Black-Oblique", helvetica, arial, sans-serif;
$GT-Walsheim-Black: "GT-Walsheim-Black", helvetica, arial, sans-serif;
$GT-Walsheim-Black-Bold-Oblique: "GT-Walsheim-Black-Bold-Oblique", helvetica, arial, sans-serif;
$GT-Walsheim-Bold: "GT-Walsheim-Bold", helvetica, arial, sans-serif;
$GT-Walsheim-Medium-Oblique: "GT-Walsheim-Medium-Oblique", helvetica, arial, sans-serif;
$GT-Walsheim-Medium: "GT-Walsheim-Medium", helvetica, arial, sans-serif;

$body-font: $GT-Walsheim-Regular, helvetica, arial, sans-serif;

