// for potential use with font sizes when prepared
$paragraph-size: (
  xl: 24px,
  l: 20px,
  n: 18px,
  s: 16px,
  xs: 14px,
);

$paragraph-line-height: (
  xl: 30px,
  l: 26px,
  n: 21px,
  s: 20px,
  xs: 18px,
);
