<div class="primary-navigation">
  <ul class="primary-navigation__list">
    <li class="primary-navigation__list-item">
      <a href="#" class="primary-navigation__anchor">Menu Item</a>
      <a href="#" class="primary-navigation__anchor">Menu Item</a>
      <a href="#" class="primary-navigation__anchor">Menu Item</a>
      <a href="#" class="primary-navigation__anchor">Menu Item</a>
    </li>
  </ul>
</div>
