// Links
//
// Standard links
// 
// .link--red - Red standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--blue - Blue standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--yellow - Yellow standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--green - Green standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--teal - Teal standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--royal-blue - Royal Blue standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--purple - Purple standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--pink - Pink standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--white - White standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--jasper-grey - Jasper grey standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--gainsboro-grey - Gainsboro grey standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--light-grey - Light grey standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// .link--smoke-grey - Smoke grey standalone link add <em style="font-weight: bold;">.inline</em> for inline links
// :hover - Link hover state 
// :active - Link active state
// :focus - Link focus state
//
// Markup: links.twig
//
// Style guide: 11

/*  
 * Link styles,
 * Copied from SR16 theme
 */

.link {
  text-decoration: none;
  word-break: break-all;
  color: inherit;
  border-bottom: 4px solid $colour-red;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 30px;
  @include transition-property(border, color);
  @include transition-duration(180ms);
  &:hover,
  &:active,
  &:focus {
    border-bottom: 4px solid $colour-black;
  }
  &.inline {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    color: inherit;
    border-width: 2px;
    font-size: inherit;
    line-height: 22px;
    &:hover,
    &:active,
    &:focus {
      border-width: 2px;
    }
  }
}

@for $link from 1 to (length($linkList)+1) {
  @include link-variation(nth($linkList, $link));
}
