/**
 * Lightcase - jQuery Plugin
 * The smart and flexible Lightbox Plugin.
 *
 * @author    Cornel Boppart <cornel@bopp-art.com>
 * @copyright Author
 *
 * @version   2.3.4 (29/12/2015)
 */
/**
 * Lightcase settings
 *
 * Note: Override default settings for your project without touching this source code by simply
 * defining those variables within a SASS map called '$lightcase-custom'.
 *
 * // Example usage
 * $lightcase-custom: (
 *   'breakpoint': 768px
 * );
 */
[class*="lightcase-icon-"]:before {
  display: inline-block;
  width: 1em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  speak: none;
  /* Uncomment for 3D effect */
}

/* Codes */
.lightcase-icon-play:before {
  content: "\e800";
}

.lightcase-icon-pause:before {
  content: "\e801";
}

.lightcase-icon-close {
  // temporary, being forced by script, will be refactored
  opacity: 0.6 !important;
  &:hover,
  &:focus,
  &:active {
    // temporary, being forced by script, will be refactored
    opacity: 1 !important;
  }
  &:before,
  &:after {
    position: absolute;
    top: 20px;
    display: block;
    width: 100%;
    content: "";
    // @include transform-origin(center center);
  }
  &:before {
    border-bottom: 4px solid $colour-white;
    @include transform(rotate(45deg));
  }
  &:after {
    border-top: 4px solid $colour-white;
    @include transform(rotate(-45deg));
  }
  span {
    width: 40px;
    height: 40px;
  }
}

.lightcase-icon-prev:before {
  content: "\e803";
}

.lightcase-icon-next:before {
  content: "\e804";
}

.lightcase-icon-spin:before {
  content: "";
}

/**
 * Mixin providing icon defaults to be used on top of font-lightcase.
 *
 * Example usage:
 * @include icon(#e9e9e9)
 */
/**
 * Mixin providing icon defaults including a hover status to be used
 * on top of font-lightcase.
 *
 * Example usage:
 * @include icon-hover(#e9e9e9, #fff)
 */
/**
 * Provides natural content overflow behavior and scrolling support
 * even so for touch devices.
 *
 * Example usage:
 * @include overflow()
 */
/**
 * Neutralizes/resets dimensions including width, height, position as well as margins,
 * paddings and styles. Used to enforce a neutral and unstyled look and behavoir!
 *
 * Example usage:
 * @include clear(true)
 *
 * @param boolean $important
 */
@-webkit-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
       -moz-transform: rotate(359deg);
         -o-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-moz-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
       -moz-transform: rotate(359deg);
         -o-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-o-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
       -moz-transform: rotate(359deg);
         -o-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-ms-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
       -moz-transform: rotate(359deg);
         -o-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
       -moz-transform: rotate(359deg);
         -o-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
#lightcase-case {
  position: fixed;
  z-index: 2002;
  top: 40%;
  left: 50%;
  display: none;
  color: $colour-white;
  p {
    color: $colour-white;
  }
}
@media screen and (max-width: 640px) {
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
  }
}

@media screen and (min-width: 641px) {
  #lightcase-case:not([data-lc-type=error]) #lightcase-content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

         -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
  }
}
@media screen and (min-width: 641px) {
  #lightcase-case[data-lc-type=image] #lightcase-content,
  #lightcase-case[data-lc-type=video] #lightcase-content {
    background-color: #333;
  }
}
#lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

       -o-box-shadow: none;
}
@media screen and (max-width: 640px) {
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
  }
}
#lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

       -o-box-sizing: border-box;
}
@media screen and (max-width: 640px) {
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner {
    padding: 15px;
  }
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner,
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner > * {
    width: 100% !important;
    max-width: none !important;
    height: 270px !important;
  }
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner > *:not(iframe) {
    height: auto !important;
    max-height: none !important;
  }
}
@media screen and (max-width: 640px) {
  .lightcase-isMobileDevice #lightcase-case[data-lc-type=iframe] #lightcase-content .lightcase-contentInner {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (max-width: 640px) and (min-width: 641px) {
  [data-lc-type=image] #lightcase-content .lightcase-contentInner,
  [data-lc-type=video] #lightcase-content .lightcase-contentInner {
    line-height: 0.75;
  }
}

.lightcase-isMobileDevice #lightcase-case[data-lc-type=iframe] #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 640px) {
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
  }
}
@media screen and (min-width: 641px) {
  #lightcase-case:not([data-lc-type=error]) #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
    overflow: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px;

         -o-box-sizing: border-box;
  }
}

#lightcase-case p.lightcase-error {
  overflow: hidden;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 640px) {
  #lightcase-case p.lightcase-error {
    padding: 30px 0;
  }
}
@media screen and (min-width: 641px) {
  #lightcase-case p.lightcase-error {
    padding: 0;
  }
}

.lightcase-isMobileDevice .lightcase-open body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 640px) {
  .lightcase-open body {
    padding: 55px 0 70px 0;
  }
  .lightcase-open body > *:not([id*="lightcase-"]) {
    position: fixed !important;
    top: -9999px !important;
    overflow: hidden !important;
    width: 0 !important;
    height: 0 !important;
  }
}

#lightcase-info {
  position: absolute;
  @media screen and (max-width: 640px) {
    padding: 20px;
  }
}
#lightcase-info #lightcase-title,
#lightcase-info #lightcase-caption {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-overflow: ellipsis;
  color: $colour-white;
  text-shadow: none;
  font-weight: normal;
  line-height: 1.5;
  .link,
  a {
    color: $colour-white;
  }
}
@media screen and (max-width: 640px) {
  .lightcase-fullScreenMode #lightcase-info {
    padding-right: 15px;
    padding-left: 15px;
  }
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-info {
    position: static;
  }
}

#lightcase-loading {
  position: fixed;
  position: fixed;
  z-index: 9999;
  z-index: 2001;
  top: 50%;
  left: 50%;
  width: 1.123em;
  height: auto;
  margin-top: -0.5em;
  margin-left: -0.5em;
  -moz-transform-origin: 50% 53%;
  -webkit-animation: lightcase-spin 0.5s infinite linear;
     -moz-animation: lightcase-spin 0.5s infinite linear;
       -o-animation: lightcase-spin 0.5s infinite linear;
          animation: lightcase-spin 0.5s infinite linear;
  text-align: center;
  opacity: 1;
  font-size: 38px;
  font-size: 32px;
  line-height: 1;
}
#lightcase-loading,
#lightcase-loading:focus {
  -webkit-transition: color, opacity, ease-in-out 0.25s;
     -moz-transition: color, opacity, ease-in-out 0.25s;
       -o-transition: color, opacity, ease-in-out 0.25s;
          transition: color, opacity, ease-in-out 0.25s;
  text-decoration: none;
  color: $colour-red;
  border-radius: 50%;
  // @include background(linear-gradient(to right, $colour-white 10%, rgba(255, 255, 255, 0) 42%));
  @include transform(translateZ(0));

  -webkit-tap-highlight-color: transparent;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    height: 75%;
    margin: auto;
    content: "";
    opacity: 0.4;
    border-radius: 50%;
    background-color: #444;
  }
}
#lightcase-loading > span {
  display: inline-block;
  text-indent: -9999px;
}

#lightcase-nav a[class*="lightcase-icon-"] {
  position: fixed;
  z-index: 9999;
  width: 1.123em;
  height: auto;
  cursor: pointer;
  text-align: center;
  outline: none;
  font-size: 38px;
  line-height: 1;
}
#lightcase-nav a[class*="lightcase-icon-"],
#lightcase-nav a[class*="lightcase-icon-"]:focus {
  -webkit-transition: color, opacity, ease-in-out 0.25s;
     -moz-transition: color, opacity, ease-in-out 0.25s;
       -o-transition: color, opacity, ease-in-out 0.25s;
          transition: color, opacity, ease-in-out 0.25s;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  -webkit-tap-highlight-color: transparent;
}
#lightcase-nav a[class*="lightcase-icon-"] > span {
  display: inline-block;
  text-indent: -9999px;
}
#lightcase-nav a[class*="lightcase-icon-"]:hover {
  color: white;
}
.lightcase-isMobileDevice #lightcase-nav a[class*="lightcase-icon-"]:hover {
  color: #aaa;
}
#lightcase-nav a[class*="lightcase-icon-"].lightcase-icon-prev {
  left: 15px;
}
#lightcase-nav a[class*="lightcase-icon-"].lightcase-icon-next {
  right: 15px;
}
#lightcase-nav a[class*="lightcase-icon-"].lightcase-icon-pause,
#lightcase-nav a[class*="lightcase-icon-"].lightcase-icon-play {
  left: 50%;
  margin-left: -0.5em;
}
@media screen and (min-width: 641px) {
  #lightcase-nav a[class*="lightcase-icon-"].lightcase-icon-pause,
  #lightcase-nav a[class*="lightcase-icon-"].lightcase-icon-play {
    opacity: 0;
  }
}
#lightcase-nav a[class*="lightcase-icon-"].lightcase-icon-close {
  top: 20px;
  right: 20px;
  bottom: auto;
  margin: 0;
  opacity: 0;
  outline: none;
}
@media screen and (max-width: 640px) {
  #lightcase-nav a[class*="lightcase-icon-"].lightcase-icon-close {
    position: absolute;
    top: 4px;
    right: 14px;
  }
}
@media screen and (min-width: 641px) {
  #lightcase-nav a[class*="lightcase-icon-"].lightcase-icon-close {
    position: fixed;
  }
}
@media screen and (max-width: 640px) {
  #lightcase-nav a[class*="lightcase-icon-"] {
    bottom: 15px;
    font-size: 24px;
  }
}
@media screen and (min-width: 641px) {
  #lightcase-nav a[class*="lightcase-icon-"] {
    bottom: 50%;
    margin-bottom: -0.5em;
  }
  #lightcase-nav a[class*="lightcase-icon-"]:hover,
  #lightcase-case:hover ~ #lightcase-nav a[class*="lightcase-icon-"] {
    opacity: 1;
  }
}

#lightcase-overlay {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: $colour-black;
}
@media screen and (max-width: 640px) {
  #lightcase-overlay {
    opacity: 1 !important;
  }
}
