<section class="single-msg paragraph  {{modifier_class}} bg--red" >
  <div class="single-msg__outer-wrapper">
    <div class="single-msg__image">
      <picture>
        <source srcset="/profiles/contrib/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
        <source srcset="/profiles/contrib/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
        <source srcset="/profiles/contrib/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" media="(min-width: 0px)" type="image/jpeg"/>
        <img src="/profiles/contrib/cr/themes/custom/campaign_base/images/styleguide-images/1-1-img.jpg" alt="boring" typeof="foaf:Image" />
      </picture>
    </div>
    <div class="single-msg__copy_wrapper bg--teal">
      <div class="single-msg__copy">
        <div class="single-msg__title">
          <h2>
          Copy Right Copy Right Copy Right: 36
          </h2>
        </div>
        <div class="single-msg__body">
          <p>
Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio. Morbi vestibulum volutpat enim.Duis vel nibh at velit scelerisque suscipit. Vivamus euismod mauris. Quisque id odio.t :325
          </p>
          <a class="btn btn--yellow" href="#">Button</a>
        </div>
      </div>
    </div>
  </div>
</section>
