.related-articles__wrapper {
	max-width: 1200px;
	margin: auto;
	padding: $row-padding--sm;
	h2 {
		color: $colour-white;
		text-align: center;
	}
	.related-articles__content {
		margin: calc(4 * #{gutter()}) 0px 0px;
		.related-articles__item {
			display: inline-block;
			margin-bottom: calc(4 * #{gutter()});
			width: 100%;
		}
	}
	@include breakpoint($screen-md) {
		.related-articles__item {
			position:relative;
			background-color: $colour-white;
		}
	}
	@include breakpoint($screen-lg) {
		padding: $row-padding--md;
		.related-articles__content { 
			@include clearfix;
			@include display-flex;
			margin-top: calc(2 * #{gutter()});
			.related-articles__item {
				@include span(4);
			}
		}
	}
}
