default:
  suites:
    default:
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - DrupalCRFeatureContext
  extensions:
    Behat\MinkExtension:
      base_url: "$WEBSERVER_URL:$WEBSERVER_PORT/"
      goutte: ~
      selenium2: ~
      browser_name: "$BEHAT_BROWSER"
      files_path: './profiles/cr/tests/behat/files'
    Drupal\DrupalExtension:
      api_driver: "drupal"
      blackbox: ~
      drush_driver: "drush"
      drupal:
        drupal_root: "$TRAVIS_BUILD_DIR"
      drush:
        root: "$TRAVIS_BUILD_DIR"
      region_map:
        content: ".layout-content"
        esu_standard: "#block-emailsignupblockstandard"
        esu_workplace: ".cr-email-signup-workplace-form"
        esu_fundraise: ".cr-email-signup-fundraise-form"
        esu_register_interest: ".cr-email-signup-register-interest-form"
