// Media Block 
//
// This is the media block
//
// Markup: media-block.hbs
//
// Style guide: Media block

.media-block {
  position: relative;
  height: 450px;
  text-align: center;
  #play-icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 50px;
    margin: auto;
    transition: 0.5s;
    path {
      fill: $colour-yellow;
    }
  }
  &:hover {
    #play-icon {
      transform: scale(1.2);
    }
  }
}
.media-block__link {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}
.media-block__image {
  height: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
.media-block__content {
  @include background-image(linear-gradient(rgba(0, 0, 0, 0), black));
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 80px 10px 10px;
  h2, h3 {
  	color: $colour-white;
  }
}
.media-block__caption {
  display: none;
}
