// Media Block 
//
// This is the media block
//
// Markup: media-block.hbs
//
// Style guide: Media block

.media-block {
  position: relative;
  height: 450px;
  text-align: center;
  overflow: hidden;
  #play-icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 50px;
    margin: auto;
    @include transition(0.2s);
    path {
      fill: $colour-yellow;
    }
  }
  &:hover {
    .media-block__image img {
      @include opacity(1);
    }
    #play-icon {
      @include scale(1.2);
    }
  }
}
.media-block__link {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}
.media-block__image {
  height: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    @include transition(0.2s);
    @include opacity(0.9);
    object-fit: cover;
  }
}
.media-block__content-wrapper {
  position: relative;
}
.media-block__content {
  @include background-image(linear-gradient(rgba(0, 0, 0, 0), black));
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 80px 10px 10px;
  h2, h3, h4, h5 {
  	color: $colour-white;
  }
}
.media-block__caption {
  display: none;
}
.view-mode-cw_l .media-block__content {
  @include breakpoint($screen-md, $no-query: true) {
    padding: 80px 10px 60px;
  }
}
