<ul class="nav-menu {{modifier_class}}">
  <li><a href="/">Home</a></li>
  <li><a href="#">Blandit Jugis Sudo</a></li>
  <li>
    <a href="#">Causa Diam Jumentum Wisi</a>
    <ul>
      <li><a href="#">Dolor Huic Oppeto</a></li>
      <li><a href="#" class="is-active">Decet</a></li>
      <li><a href="#">Aliquip Similis</a></li>
    </ul>
  </li>
  <li><a href="#">Abigo Caecus Causa Illum</a></li>
  <li><a href="#">Ibidem Sudo</a></li>
</ul>
