// Cookie consent
//
// This is the Cookie consent message
//
// Markup: cookie-consent.hbs
//
// Style guide: Cookie consent

.cookie-consent.cc_container {
  padding: 10px;
  text-align: center;
  background: $colour-black;
  @include breakpoint($screen-md) {
    padding: 15px 30px;
  }
  .btn,
  p,
  a {
    color: $colour-white;
    font-family: $body-font;
    &:visited {
      color: $colour-white;
    }
  }
  p {
    margin-top: 15px;
  }
  .cc_message {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-size: 1em;
    @include breakpoint($screen-md) {
      width: auto;
      margin-bottom: 15px;
    }
  }
  .btn {
    display: block;
    float: none;
    height: auto;
    margin: 20px auto 0;
    margin-top: 20px;
    @include breakpoint($screen-md) {
      display: inline-block;
      margin-top: 0;
      margin-left: 20px;
    }
  }
}
