// Cookie consent
//
// This is the Cookie consent message
//
// Markup: cookie-consent.twig
//
// Style guide: Cookie consent

.cookie-consent.cc_container {
  background: $colour-black;
  text-align: center;
  padding: 10px;
  @include breakpoint($screen-md) {
    padding:15px 30px;
  }
  .btn,
  p,
  a {
    color: $colour-white;
    font-family: $body-font;
    &:visited {
      color: $colour-white;
    }
  }
  p {
    margin-top: 15px;
  }
  .cc_message {
    @include breakpoint($screen-md) {
      width: auto;
      margin-bottom: 15px;
    }
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-size: 1em;
    text-align: center;
  }
  .btn {
    @include breakpoint($screen-md) {
      margin-top: 0;
      margin-left: 20px;
      display: inline-block;
    }
    
    float: none;
    margin-top: 20px;
    height: auto;
    margin: 20px auto 0px;
    display: block;
  }
}
