<div class="cookie-consent cc_banner cc_container cc_container--open">
    <p class="cc_message">We use cookies. By continuing to use this site you are agreeing to our terms of use. </p>
    <a href="#null" data-cc-event="click:dismiss" target="_blank" class="btn btn--red">Close</a>
</div>
