{#
/**
* @file
* Theme override to display a region.
*
* Available variables:
* - content: The content for this region, typically blocks.
* - attributes: HTML attributes for the region div.
* - region: The name of the region variable as defined in the theme's
*   .info.yml file.
*
* @see template_preprocess_region()
*/
#}
{%
set classes = [
'region',
'region-' ~ region|clean_class,
'cr-footer',
]
%}
<div class="footer__social-links">
  <ul>
    <li>
      <a href="https://www.facebook.com/officialrednoseday?ref=ts&amp;fref=ts" title="Facebook" target="_blank">
        <svg viewBox="0 0 32 32" class="icon">
          <use xlink:href="#icon-icons_100"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/officialrednoseday?ref=ts&amp;fref=ts" title="Facebook" target="_blank">
        <svg viewBox="0 0 32 32" class="icon">
          <use xlink:href="#icon-icons_99"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/officialrednoseday?ref=ts&amp;fref=ts" title="Facebook" target="_blank">
        <svg viewBox="0 0 32 32" class="icon">
          <use xlink:href="#icon-icons_98"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/officialrednoseday?ref=ts&amp;fref=ts" title="Facebook" target="_blank">
        <svg viewBox="0 0 32 32" class="icon">
          <use xlink:href="#icon-icons_97"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/officialrednoseday?ref=ts&amp;fref=ts" title="Facebook" target="_blank">
        <svg viewBox="0 0 32 32" class="icon">
          <use xlink:href="#icon-icons_96"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
{% if content %}
<div{{ attributes.addClass(classes) }}>
{{ content }}
</div>
{% endif %}
<div class="footer__copyright">
  <p>© Comic Relief 2015. Comic Relief, registered charity 326568 (England/Wales); SC039730 (Scotland)</p>
</div>
<div class="footer__branding">
  <a title="Comic Relief" href="http://www.comicrelief.com/" rel="home" target="_blank"><span>Comic Relief</span></a>
</div>
{% include directory ~ '/templates/svg/spritesheet.html.twig' %}