{#
/**
* @file
* Theme override to display a region.
*
* Available variables:
* - content: The content for this region, typically blocks.
* - attributes: HTML attributes for the region div.
* - region: The name of the region variable as defined in the theme's
*   .info.yml file.
*
* @see template_preprocess_region()
*/
#}
{%
set classes = [
'region',
'region-' ~ region|clean_class,
'cr-footer',
]
%}

<h4 class="footer__follow">Follow us...</h4>

<div class="footer__social-links">
  <ul>
    <li>
      <a href="https://www.facebook.com/officialrednoseday" title="Facebook" target="_blank" class="icon__fb">
        <svg class="icon">
          <use xlink:href="#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/rednoseday" title="Twitter" target="_blank" class="icon__twitter">
        <svg class="icon">
          <use xlink:href="#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/rednoseday/" title="YouTube" target="_blank" class="icon__youtube">
        <svg class="icon">
          <use xlink:href="#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/+rednoseday" title="Instagram" target="_blank" class="icon__instagram">
        <svg class="icon">
          <use xlink:href="#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/rednoseday" title="Google Plus" target="_blank" class="icon__googleplus">
        <svg class="icon">
          <use xlink:href="#icon-googleplus"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>

{% if content %}
<div{{ attributes.addClass(classes) }}>
{{ content }}
</div>
{% endif %}

<div class="footer__copyright">
  <p>&copy; Comic Relief {{ "now"|date("Y") }}. Comic Relief, registered charity 326568 (England/Wales); SC039730 (Scotland)</p>
</div>
<div class="footer__branding">
  <a title="Comic Relief" href="http://www.comicrelief.com/" rel="home" target="_blank">
   <svg class="icon">
      <use xlink:href="#crlogo"></use>
    </svg>
  </a>
</div>
