// Partners Row
//
// This is the Partners Row
//
// Markup: partners-row.hbs
//
//
// Style guide: Partners Row

.partners-row {
  .partners-row-wrapper {
    display: block;
    padding: 60px 0;
    margin: auto;
    max-width: 1200px;
  }
  .partners-row__body {
    text-align: center;
  }
  .partners-row__logos-list {
    ul {
      display: flex;
      text-align: center;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-content: flex-end;
      flex-flow: row wrap;
      @include breakpoint($screen-md) {
        @include span(8);
        float: none;
        margin: 0 auto;
      }
      @include breakpoint($screen-lg) {
        @include span(12);
        float: none;
      }
    }
    li {
      @include span(6);
      float: none;
      @include breakpoint($screen-md) {
        margin-bottom: 2.5%;
        max-width: 300px;
      }
      @include breakpoint($screen-lg) {
        @include span(3 of 12);
      }
    }
    img {
      height: auto;
      float: none;
      width: 100%;
    }
  }
}
