// Partners
//
// Individual Partner pages, plus styles for Parter grid, featured on individual and landing page
//
// Markup: partners.hbs
//
//
// Style guide: Partners

/* Override global styles */
.page-node-type-partner {
  .bottom-region {
    margin: 0;
    max-width: none;
  }

  .cr-article {
    margin: 0;
    max-width: none;
    padding: 0;
    background-color: inherit;

    .cr-article__header {
      padding: 57px 0;
      background-color: $colour-red;
      overflow: hidden;
      width: 100%;

      .cr-article__title {
        margin: 0;
        @include span(10);
        @include push(1);
        color: $colour-white;
        font-size: 56px;
        line-height: 56px;
        text-align: center;
        font-family: "GT-Walsheim-Bold",helvetica,arial,sans-serif;

        @include breakpoint($screen-md) {
          @include span(8);
          @include push(2);
        }

        @include breakpoint($screen-lg) {
          @include span(6);
          @include push(3);
        }
      }
    }

    .cr-article__inner-wrapper {
      @include container;
      @include clearfix;
    }

    .cr-article__body {
      padding: 0;
      margin: 60px auto;
      @include span(10);
      @include push(1);


      @include breakpoint($screen-md) {
        @include span(8);
        @include push(2);
      }

      @include breakpoint($screen-lg) {
        @include span(6);
        @include push(3);
      }

      img {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }
  }
}

.partners-grid {
  background-color: $colour-smoke-grey;
  text-align: center;
  padding: 30px 0 65px;

  .view-content {
    @include container;

    .item-list + .item-list {
      margin-top: 40px;
    }

    h2 {
      width: 97.5%;
      margin-left: 1.25%;
      margin-right: 1.25%;
      margin-top: calc(6 * #{gutter()});

      @include breakpoint($screen-md) {
        margin-top: calc(2 * #{gutter()});
      }
    }

    ul {
      @include clearfix;
      padding: 0 gutter();
    
      li {
        @include span(6);
        margin-top: gutter();
        margin-bottom: gutter();

        @include breakpoint($screen-md) {
          @include span(3);
        }

        .node__content {

          position: relative;

          .partner__logo {
            display: block;

            img {
              position:relative;
              width: 100%;
              height: auto;
              display: block;
            }
          }

          .partner__link {
            
            a {
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: $colour-red;
              width: 100%;
              height: 100%;
              text-align: center;

              span {
                width: 100%;
                font-family: "GT-Walsheim-Bold",helvetica,arial,sans-serif;
                color: $colour-white;
                font-size: 18px;
                line-height: 18px;
                position: absolute;
                top: 50%;
                left: 0;
                @include translateY(-50%);
              }
            }
          }

          &:hover {
            .partner__link a {
              display: block;
            }
          }
        }
      }
    }
  }
}

/* 
 * Removing the 'hover' state for touch devices,
 * to be handled by JS to deal with proper events to only change on tap, not scroll
 */
.touchevents .partners-grid ul li .node__content {

  &:hover {
    .partner__link a {
      display: none;
    }
  }

  &.active {
    .partner__link a {
      display: block;
    }
  }
}
