// Partners Row
//
// This is the Partners Row
//
// Markup: partners-row.hbs
//
//
// Style guide: Partners Row

.partners-row {
  .partners-row-wrapper {
    display: block;
    padding: 60px 0;
    margin: auto;
    max-width: 1200px;
  }
  .partners-row__body {
    text-align: center;
  }
  .partners-row__logos-list {
    ul {
      display: flex;
      text-align: center;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-content: flex-end;
      flex-flow: row wrap;
      margin: auto;
      // make this guttering into a mixin
      max-width: calc(100% - (#{gutter()} * 4) );
      @include breakpoint($screen-md) {
        max-width: calc(100% - (#{gutter()} * 2));
      }
      @include breakpoint($screen-md-max) {
        max-width: calc($max-width - (#{gutter()} * 1));
      }
      //
    }
    li {
      @include span(6);
      float: none;
      margin-bottom: calc(2 * (#{gutter()}));
      @include breakpoint($screen-md) {
        @include span(4);
        float: none;
      }
      @include breakpoint($screen-lg) {
        @include span(2);
        float: none;
      }
    }
    img {
      height: auto;
      float: none;
      width: 100%;
    }
  }
}
