.iframe-block {
  padding: 60px 0;
  background: #dd4e43;
}
.iframe-block__wrapper {
  width: 100%;
  max-width: 1024px;
  height: 626px;
  min-height: 400px;
  margin: 0 auto;
  cursor: pointer;
}
.iframe-block__image {
  img {
    width: 100%;
    height: auto;
  }
}
