<div class="wrap-demo search__wrapper">
  <form class="search search-form {{modifier_class}}">
    <h2 class="element-invisible">Search form</h2>
    <div class="search__input-wrapper search__inner-wrapper">
      <label class="element-invisible">Search </label>
      <input type="text" value="" class="search__input" placeholder="Enter your keywords">
    </div>
    <div class="search__button-wrapper">
      <i class="fa fa-search search__icon" aria-hidden="true"></i>
      <input type="submit" value="Search" class="search__button">
    </div>
  </form>
</div>
