// Partners Row
//
// This is the Partners Row
//
// Markup: partners-row.hbs
//
//
// Style guide: Partners Row

.partners-row {
  .partners-row-wrapper {
    display: block;
    padding: 60px 0;
    margin: 0 calc(4*1.25%) 0;
  }
  .partners-row__body {
    text-align: center;
  }
  .partners-row__logos-list {
    ul {
      display: flex;
      margin: 0;
      text-align: center;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      li {
        @include flex(2 50%);
        margin: 10px 0;
        @include breakpoint($screen-md) {
        	margin: 10px;
        	@include flex(none);
        }
      }
    }
  }
}
