<div class="partners-row paragraph">
	<div class="partners-row-wrapper">
			<div class="partners-row__body">
				<h2>Our wonderful partners</h2>
				<p><a class="link link--inline-black" href="#" title="See all our partners">See all our partners</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="link link--inline-black" href="#" target="_blank">Download partners shopping list</a></p>
			</div>
			<div class="partners-row__logos-list">
				<ul>
					<li><img alt="Sainsbury's" src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/sainsburys_logo.png" width="210" height="118" typeof="foaf:Image"></li>
					<li><img alt="Sainsbury's" src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/sainsburys_logo.png" width="210" height="118" typeof="foaf:Image"></li>
					<li><img alt="Sainsbury's" src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/sainsburys_logo.png" width="210" height="118" typeof="foaf:Image"></li>
					<li><img alt="Sainsbury's" src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/sainsburys_logo.png" width="210" height="118" typeof="foaf:Image"></li>
					<li><img alt="Sainsbury's" src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/sainsburys_logo.png" width="210" height="118" typeof="foaf:Image"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
