// Typography

body {
	font-size: 16px;
	font-family: $body-font;
}
h1,h2,h3,h4,h5,p {
}
p {
	font-size: 1em;
	margin: 0 0 20px;
}
h1 {
	font-size: 1.4em;
	margin: 0 0 20px;
	@include breakpoint($screen-sm) {    
		font-size: 1.6em;
  }	
}
h2 {
	font-size: 1.2em;
	margin: 0 0 20px;
}
h3 {
	font-size: 21px;
}
