<div class="partners-row paragraph">
	<div class="partners-row-wrapper">
			<div class="partners-row__body">
				<h2>Our wonderful partners</h2>
				<p><a class="link link--inline-black" href="http://www.sportrelief.com/partners" title="See all our partners">See all our partners</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="link link--inline-black" href="http://d10w5jwfj9po5c.cloudfront.net/sites/splash.sportrelief.com/files/downloadables/Shopping%20page.pdf" target="_blank">Download partners shopping list</a></p>
			</div>
			<div class="partners-row__logos-list">
				<ul>
					<li><img alt="Sainsbury's" src="/sites/default/files/partner/logo/1_sainsburys_v3_1_49_0_107.gif" width="210" height="118" typeof="foaf:Image"></li>
					<li><img alt="Sainsbury's" src="/sites/default/files/partner/logo/1_sainsburys_v3_1_49_0_107.gif" width="210" height="118" typeof="foaf:Image"></li>
					<li><img alt="Sainsbury's" src="/sites/default/files/partner/logo/1_sainsburys_v3_1_49_0_107.gif" width="210" height="118" typeof="foaf:Image"></li>
					<li><img alt="Sainsbury's" src="/sites/default/files/partner/logo/1_sainsburys_v3_1_49_0_107.gif" width="210" height="118" typeof="foaf:Image"></li>
					<li><img alt="Sainsbury's" src="/sites/default/files/partner/logo/1_sainsburys_v3_1_49_0_107.gif" width="210" height="118" typeof="foaf:Image"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
