<form>
  <label></label>
  <input type="text">
  <input type="checkbox">
  <input type="radio">
  <select>
    <option value selected="selected">- Select -</option>
    <option value="1">1</option>
  </select>
  <textarea></textarea>
  <input type="submit">
</form>