// Dependencies.
@import 'init';

.article-teaser {
	background-color: $colour-white;
	.article-teaser__video {
		position:relative;
		img { 
			width: 100%;
		}
	}
	//play-icon. Instead of using a mask, colour is given in svg itself to support all browsers.
	.article-teaser__video a::after {
		position: absolute;
		width: 100%;
		height: 50px;
		top: calc(50% - 25px);
		content: "";
		background: url(../images/svgs/play-icon.svg) center no-repeat;
	}
	.article-teaser__content-wrapper {
		padding: calc(4 * #{gutter()});
		background-color: $colour-white; 
		.article-teaser__date {
			text-transform: uppercase;
			font-family: $font-black;
		}
		h2 {
			margin-top: calc(4 * #{gutter()});
			font-family: $font-regular;
			@include font-size($p-xlarge-font-size);
			text-align: left;
			a {
				text-decoration: none;
				color: $colour-black;
			}
		}
	}
	@include breakpoint($screen-md) {
		.article-teaser__image, 
		.article-teaser__video {
			@include span(5);
			margin: 0px;
			img {
				display:block;
			}
		}
		.article-teaser__content-wrapper {
			@include span(7);
			margin: 0px;
			padding: 0px;
			background-color: $colour-white; 
			.article-teaser__content {
				position: absolute;
				padding: calc(4 * #{gutter()});
				top: 50%;
				@include translateY(-50%);
			}
		}
	}
	@include breakpoint($screen-lg) {
		.article-teaser__image, 
		.article-teaser__video {
			width:100%;
		}
		.article-teaser__content-wrapper {
			position: relative;
			width: 100%;
			padding: calc(4 * #{gutter()});
			.article-teaser__content {
				position: relative;
				top: 0;
				@include translateY(0);
			}
		}
	}
}
