// Import font
@font-face {
  font-family: 'GT-Walsheim-Light-Oblique';
  src: url('../fonts/GT-Walsheim-Light-Oblique.eot'), /* IE9 Compat Modes */
       url('../fonts/GT-Walsheim-Light-Oblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Light-Oblique.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GT-Walsheim-Light';
  src: url('../fonts/GT-Walsheim-Light.eot'), /* IE9 Compat Modes */
       url('../fonts/GT-Walsheim-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Light.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GT-Walsheim-Regular-Oblique';
  src: url('../fonts/GT-Walsheim-Regular-Oblique.eot'), /* IE9 Compat Modes */
       url('../fonts/GT-Walsheim-Regular-Oblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Regular-Oblique.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GT-Walsheim-Regular';
  src: url('../fonts/GT-Walsheim-Regular.eot'), /* IE9 Compat Modes */
       url('../fonts/GT-Walsheim-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GT-Walsheim-Black-Oblique';
  src: url('../fonts/GT-Walsheim-Black-Oblique.eot'), /* IE9 Compat Modes */
       url('../fonts/GT-Walsheim-Black-Oblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Black-Oblique.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GT-Walsheim-Black';
  src: url('../fonts/GT-Walsheim-Black.eot'), /* IE9 Compat Modes */
       url('../fonts/GT-Walsheim-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Black.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GT-Walsheim-Bold-Oblique';
  src: url('../fonts/GT-Walsheim-Bold-Oblique.eot'), /* IE9 Compat Modes */
       url('../fonts/GT-Walsheim-Bold-Oblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Bold-Oblique.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GT-Walsheim-Bold';
  src: url('../fonts/GT-Walsheim-Bold.eot'), /* IE9 Compat Modes */
       url('../fonts/GT-Walsheim-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Bold.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GT-Walsheim-Medium-Oblique';
  src: url('../fonts/GT-Walsheim-Medium-Oblique.eot'), /* IE9 Compat Modes */
       url('../fonts/GT-Walsheim-Medium-Oblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Medium-Oblique.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GT-Walsheim-Medium';
  src: url('../fonts/GT-Walsheim-Medium.eot'), /* IE9 Compat Modes */
       url('../fonts/GT-Walsheim-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Medium.ttf')  format('truetype') /* Safari, Android, iOS */
}
