// Global styling
body {
  background: $smoke-grey;
  font-family: $body-font;
  font-size: 100%;
  line-height: 1.3125rem;

  -webkit-font-smoothing: antialiased;
}
.site-logo {
  float: left;
  width: 138px;
  height: 138px;
  margin-top: -40px;
  margin-right: 20px;
  margin-left: 10px;
}
.page__title {
  max-width: 640px;
  margin: 100px auto 40px;
  text-align: center;
  text-transform: capitalize;
}
.datetime {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
picture img {
  width: 100%;
}
.node--view-mode-full {
  // think where best to put it
  // max-width: 640px;
  margin: 0 auto;
  .field--type-image {
    margin-bottom: 40px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.node--type-article {
  max-width: 640px;
}
.field--name-body a,
.btn-red {
  @include transition(all 180ms);
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid $red;
  &:hover {
    border-bottom: 2px solid $black;
  }
}
// to do: landing page style
.page-node-type-landing {
  .region-content {
    width: 100%;
    max-width: 100%;
  }
  .page__title {
    position: absolute; // make it as a mixin
    top: auto;
    left: -10000px;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  .panel-1col {
    max-width: 1200px;
    margin: 0 auto;
  }
}
// to do: find a better place
.styleguide-link {
  float: right;
  clear: both;
  margin-right: 5%;
  text-decoration: none;
  color: $white;
}
// to do: add it to kss style
#kss-node .kss-section {
  max-width: 1200px;
}
// to do: add cookie component
.cookie-consent.cc_container {
  .btn,
  p,
  a {
    color: $white;
    font-family: $body-font;
    &:visited {
      color: $white;
    }
  }
  p {
    margin-top: 15px;
  }
  .cc_message {
    @include breakpoint($screen-md) {
      width: 80%;
    }
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-size: 1em;
  }
  .btn {
    @include breakpoint($screen-md) {
      float: right;
      margin-top: 0;
    }
    float: none;
    margin-top: 20px;
    height: auto;
  }
}
// Table style move to table component
table {
  border-collapse: collapse;
  td {
    padding: 10px;
    border: 1px solid $black;
  }
}
// Figure style align move to figure component
figure.align-left {
  margin: 0 20px 20px;
  figcaption {
    padding: 10px;
    text-align: center;
  }
}
// Misc move somewhere else
hr {
  clear: both;
  margin: 0 0 20px;
  border: none;
}
