// Footer Nav
//
// This is Footer Nav
//
// Markup:
// <footer></footer>
//
// Style guide: Navigation.Footer-nav

.menu--footer {
  margin: 30px 0 15px;
  ul {
    text-align: center;
    li {
      display: inline-block;
      margin: 10px 0;
      &:last-child {
        a {
          border-right: none;
        }
      }
      a {
        display: block;
        color: $white;
        margin: 0 5px 0 0;
        padding: 0 20px 0 10px;
        text-decoration: none;
        border-right: 1px solid $white;
        font-weight: 300;

        @include transition(color 180ms);
        &:hover {
          color: $item-grey;
        }
      }
    }
  }
}
