$button-width: 85px;                    // The width of the button area
$button-height: 85px;                   // The height of the button area
$bar-thickness: 4px;                    // The thickness of the button bars
$button-pad: 25px;                      // The left/right padding between button area and bars.
$button-bar-space: 6px;                // The spacing between button bars
$button-transistion-duration: 0.2s;     // The transition duration

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration;
  background-color: transparent;

  span {
    @include transition-property(background-color);
    @include transition-duration(150ms);
  }

  span,
  span::before,
  span::after {
    background-color: $colour-jasper-grey;
  }

  &:hover {
    span,
    span::before,
    span::after {
      background-color: $colour-black;
    }
  }
}


.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: ($button-height / 2) - ($bar-thickness / 2);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  //transition: background 0s $button-transistion-duration;

  background: $colour-jasper-grey;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: $colour-jasper-grey;
  content: "";
  transition-duration: $button-transistion-duration, $button-transistion-duration;
  transition-delay: $button-transistion-duration, 0s;
}

.c-hamburger span::before {
  top: -$bar-thickness - $button-bar-space;
  transition-property: top, transform;
}

.c-hamburger span::after {
  bottom: -$bar-thickness - $button-bar-space;
  transition-property: bottom, transform;
}


/* active state, i.e. menu open */

.c-hamburger.is-active {
  background-color: #f9f9f9;

  span {
    background: none;

    &:before {
      top: 0;
      transform: rotate(45deg);
      transition-delay: 0s, $button-transistion-duration;
      background-color: $colour-black;
    }

    &:after {
      bottom: 0;
      transform: rotate(-45deg);
      transition-delay: 0s, $button-transistion-duration;
      background-color: $colour-black;
    }
  }
}
