// New Main Nav
//
// This is a prototype to the new Main Nav
//
// Markup: _new-main-nav.hbs
//
//
// Style guide: Navigation.New-Main-nav


// Cut it out, styleguide!
.kss-sidebar {
  display: none;
}
#kss-node .kss-main {
  width: 100%;
  margin: 0 auto;
}

header[role=banner] {
  overflow: visible!important;
  padding-bottom: 0!important;
}
  
.site-logo {
  @include breakpoint($screen-md, $no-query: true) {
    position: absolute;
    top: 50px;
    left: 0;
  }
}

// Using exiting drupal class for now too, to be updated
.menu--main,
.new-menu--main {
  position: absolute;
  top: 85px;
  width: 100%;
  background: $white;
  color: $black;
  display: block;

  // 'Mobile' nav
  ul.menu {
    margin: 0;
    float: none;
    text-align: center;

    li {
        display: block;
        margin: 0;
        color: $white;

      a {
        padding: 20px 20px;
      }

      // Hide sub menus, but set up for CSS3 animations, using JS-added
      // 'active' class to allow 'hover'-style state on touch devices
      > ul.menu {
        max-height: 0;
        overflow: hidden;        
        -webkit-transform: translateZ(0);
         @include transition(all 300ms ease);
        background-color: $gainsboro-grey;

        &.active {
          max-height: 500px;
          display: block;
        }
      }
    }
  }


  // 'Desktop' nav for now; will need adjusting for large tablets
  @include breakpoint($screen-md, $no-query: true) {
    position: relative;
    top: 0;
    display: block!important;
    width: auto;
    padding-top: 20px;
    background: transparent;

    ul.menu li {
      position: relative;
      display: inline-block;
      margin: 0 20px;
      padding: 20px 0 34px;

      // Secondary nav hidden by default
      > ul {
        display: none;
        position: absolute;
        top: 0;
        z-index: 999;
        background: black;
        padding: 0px 10px;
        top: 100px;
        padding: 0;
        width: 192px;
        left: 0;
        text-align: left;

        a {
          color: white;
          font-size: 16px;
        }
        li {
          position: relative;
          background: none;
          padding: 0;
          margin: 0;
          float: left;
          width: 192px;

          &:hover,
          &.menu-item--active-trail {
            background: #4b4b4b;
          }

          a {
            margin-top: 0;
            margin-bottom: 0;
            padding: 16px 20px 11px;
            border-bottom: 2px solid transparent;
            
            &:after {
              display: none;
            }
          }
        }
      }

      // Show sub menus o
      &:hover {
        > ul.menu {
          max-height: 200px;
          height: auto;
          display: block;
        }
      }
    }
  }


  ul {
    li {


      a {
        display: block;
        padding: 15px 10px;
        padding: 20px 0 44px;
        text-decoration: none;
        color: $black;
        border-bottom: 2px solid transparent;
        font-size: 18px;

        @include transition(border-bottom 180ms);
        @include breakpoint($screen-md, $no-query: true) {
          padding: 20px 0 4px;
          font-size: 14px;
        }
        &:hover {
          text-decoration: none;
          color: $black;
          background: #acaaa9;

          @include breakpoint($screen-md, $no-query: true) {
            border-bottom: 2px solid $dark-grey;
            background: transparent;
          }
        }
        &.active {
          text-decoration: none;
          color: $black;
          background: $white;

          @include breakpoint($screen-md, $no-query: true) {
            color: $black;
            border-bottom: 2px solid $dark-grey;
            background: transparent;
          }
        }
      }
    }
  }
}
