// New Main Nav
//
// This is a prototype to the new Main Nav
//
// Markup: _new-main-nav.hbs
//
// .menu-item--active-trail - Active state
//
// Style guide: Navigation.New-Main-nav

header[role=banner] {
  overflow: visible!important;
  padding-bottom: 0!important;
}
  

.site-logo {
  @include breakpoint($screen-md, $no-query: true) {
    position: absolute;
    top: 50px;
    left: 0;
  }
}

.new-menu--main {
  position: absolute;
  top: 85px;
  display: none;
  width: 100%;
  background: rgba($black, 0.95);

  // 'Desktop' nav for now; will need adjusting for large tablets
  @include breakpoint($screen-md, $no-query: true) {
    position: relative;
    top: 0;
    display: block!important;
    width: auto;
    padding-top: 20px;
    background: transparent;

    ul.menu li {

      position: relative;

      //Show secondary pages on hover
      &:hover {
        > ul {
        display: block;
        top: 100px;
        padding: 0;
        width: 192px;
        left: -60px;

          li {
            background: none;
            padding: 0;
            margin: 0;
            float: left;
            width: 192px;
            a {
              margin-top: 0;
              margin-bottom: 0;
              padding: 16px 20px 11px;
              &:after {
                display: none;
              }
            }
            &:hover,
            &.menu-item--active-trail {
              background: #4b4b4b;
            }
            a {
              border-bottom: 2px solid transparent;
            }
          }
          ul {
            top: 50px;
          }
        }
      }


/*       &.menu-item--active-trail,
      &.menu-item__parent:hover {
        a {
          position: relative;
          &:after {
            top: 44px;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:after {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: black;
            border-width: 15px;
            margin-left: -15px;
          }
        }
      a {
        border-bottom: 2px solid #e4761b;
      }
      > ul {
        display: block;
        top: 111px;
        padding: 0;
          li {
            background: none;
            padding: 0;
            margin: 0;
            float: left;
            width: 192px;
            a {
              margin-top: 0;
              margin-bottom: 0;
              padding: 16px 20px 11px;
              &:after {
                display: none;
              }
            }
            &:hover,
            &.menu-item--active-trail {
              background: #4b4b4b;
            }
            a {
              border-bottom: 2px solid transparent;
            }
          }
          ul {
            top: 50px;
          }
        }
      } */


      > ul {
        display: none;
        position: absolute;
        top: 0;
        z-index: 999;
        width: 100%;
        left: 0;
        background: black;
        padding: 0px 10px;
        a {
          color: white;
          font-size: 16px;
        }
        li {
          position: relative;
        }
      }
    }
  }


  ul {
    float: none;
    text-align: center;
    li {
      display: block;
      margin: 0;
      color: $white;

      @include breakpoint($screen-md, $no-query: true) {
        display: inline-block;
      }
      @include breakpoint($screen-md, $no-query: true) {
        margin: 0 20px;
        padding: 20px 0 34px;
      }
      a {
        display: block;
        padding: 15px 10px;
        padding: 20px 0 44px;
        text-decoration: none;
        color: $black;
        border-bottom: 2px solid transparent;
        font-size: 18px;

        @include transition(border-bottom 180ms);
        @include breakpoint($screen-md, $no-query: true) {
          padding: 20px 0 4px;
          font-size: 14px;
        }
        &:hover {
          text-decoration: none;
          color: $black;
          background: #acaaa9;

          @include breakpoint($screen-md, $no-query: true) {
            border-bottom: 2px solid #e4761b;
            background: transparent;
          }
        }
        &.active {
          text-decoration: none;
          color: $black;
          background: $white;

          @include breakpoint($screen-md, $no-query: true) {
            color: $black;
            border-bottom: 2px solid #e4761b;
            background: transparent;
          }
        }
      }
    }
  }
}
