<header role="banner">
  <div class="region-header-top-wrapper"></div>
  <div class="region-header-inner-wrapper">
    <div class="region region-header">
      <a href="/" title="Home" rel="home" class="site-logo">
        <img src="/profiles/cr/themes/custom/campaign_base/logo.svg" alt="Home">
      </a>
      <nav role="navigation" aria-labelledby="block-campaign-base-main-menu-menu" id="block-campaign-base-main-menu" class="navigation new-menu--main">
        <ul class="menu">
          <li class="menu-item">
            <a href="/" data-drupal-link-system-path="<front>">Home</a>
          </li>
          <li class="menu-item {{modifier_class}}">
            <a href="/fundraise" data-drupal-link-system-path="node/12" class="is-active">Fundraise (Landing)</a>
            <ul class="menu">
              <li class="menu-item">
                <a href="/node/2" data-drupal-link-system-path="node/2">Second nav item one</a>
              </li>
              <li class="menu-item menu-item--expanded">
                <a href="/node/3" data-drupal-link-system-path="node/3">Second nav item two</a>
                <ul class="menu">
                  <li class="menu-item">
                    <a href="/whats-going-on/redgrave-vs-flintoff-clash-titans" data-drupal-link-system-path="node/11">Third level item one</a>
                  </li>
                  <li class="menu-item">
                    <a href="/whats-going-on/redgrave-vs-flintoff-clash-titans" data-drupal-link-system-path="node/11">Third level item one</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="/node/2" data-drupal-link-system-path="node/2">Second nav item one</a>
              </li>
              <li class="menu-item">
                <a href="/node/2" data-drupal-link-system-path="node/2">Second nav item one</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="/whats-going-on" data-drupal-link-system-path="node/17">What's going on</a>
          </li>
          <li class="menu-item">
            <a href="/node/1" data-drupal-link-system-path="node/1">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/node/2" data-drupal-link-system-path="node/2">Legal</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>