// Headings
//
// These are the Headings
//
// Markup:
// <h1>Heading 1</h1>
// <h2>Heading 2</h2>
//
// Style guide: Typography.Headings


// Move this to article component ?!?!
.cr-article__header {
  text-align: center;
}
.cr-article__title {
  margin-top: 40px;
  text-transform: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
