// Lists
//
// These are the list items
//
// Markup:

// <ul class="cr-body">
//  <li>Item 1</li>
// 	<li>Item 2</li>
// 	<li>Item 3</li>
// 	<li>Item 4</li>
// </ul> 
//
// Style guide: Typography.Lists

ul {
	li {
		font-size: 1em;
	}
}

.cr-body ul {
	list-style: none;
	padding: 0 0 0 20px;
	margin: 15px 0;
	font-family: $font-regular;

	li {
		@include font-size($p-font-size);
		list-style: none;
		padding: 0 0 0 30px;
		position: relative;

		&:before {
   		content: '\25CF';
		color: $colour-red;
		left: -3px;
	    padding: 0 16px 0 0;
	    position: absolute;
	    top: 0;
		}
	}
}

.cr-body ol {
    padding: 0 0 0 35px;
    margin: 15px 0;
    list-style-type: decimal;

		li {
			@include font-size($p-font-size);
			padding: 0 0 0 15px;
			position: relative;
	}
}
