// Typography
//
// These are the Typography
//
// Markup:
// <h1 class="font--xlarge">Heading 1 xlarge</h1>
// <h1>Heading 1</h1>
// <h1 class="font--black-shadow">Heading 1</h1>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <h4 class="font--red">Heading 4</h4>
// <h4 class="font--sky-blue">Heading 4</h4>
// <h4 class="font--yellow">Heading 4</h4>
// <h4 class="font--green">Heading 4</h4>
// <h4 class="font--teal">Heading 4</h4>
// <h4 class="font--royal-blue">Heading 4</h4>
// <h4 class="font--purple">Heading 4</h4>
// <h4 class="font--pink">Heading 4</h4>
// <h4 class="font--white" style="background-color: #000;">Heading 4</h4>
// <p class="font--xlarge">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p class="font--large">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p>Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p class="font--small">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p class="font--xsmall">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
//
// Style guide: Typography.Typography

h1 {
  margin: 0 0 20px;
  text-transform: uppercase;
  color: #1e1e1e;
  font-family: $GT-Walsheim-Black;
  font-size: 64px;
  font-weight: bold;
  line-height: 68px;
  &.font--xlarge {
    font-size: 70px;
    line-height: 74px;
  }
  &.font--black-shadow {
    text-shadow: -7px 7px 0px rgba(0, 0, 0, 0.25);
  }
}
p,
h2,
h3,
h4 {
  margin: 0 0 20px;
  font-family: $GT-Walsheim-Medium;
  font-weight: normal;
  clear: both;
}
h2 {
  font-size: 40px;
  line-height: 44px;
}
h3 {
  font-size: 34px;
  line-height: 38px;
}
h4 {
  font-size: 30px;
  line-height: 32px;
}

@include breakpoint($screen-md) {
  h2 {
  
  }
  h3 {
    
  }
  h4 {
    
  }
}

@include breakpoint($screen-lg) {
  h2 {
  
  }
  h3 {
    
  }
  h4 {
    
  }
}

p {
  padding: 0;
  font-family: $body-font;
  font-size: 18px;
  line-height: 21px;
  &.font--xlarge {
    font-size: 24px;
    line-height: 30px;
  }
  &.font--large {
    font-size: 20px;
    line-height: 26px;
  }
  &.font--small {
    font-size: 16px;
    line-height: 20px;
  }
  &.font--xsmall {
    font-size: 14px;
    line-height: 18px;
  }
}

@for $color from 1 to (length($colorList)+1) {
  @include font-variation(nth($colorList, $color));
}

// @include breakpoint($screen-md) { remove when done
//   h2 {
//     font-size: 30px;
//     line-height: 40px;
//   }
//   h3 {
//     font-size: 21px;
//     line-height: 28px;
//   }
//   h4 {
//     font-size: 18px;
//   }
// }

// @include breakpoint($screen-lg) { remove when done
//   h2 {
//     line-height: 30px;
//   }
//   h3 {
//     font-size: 22px;
//     line-height: 26px;
//   }
// }
