// Typography
//
// These are the Typography
//
// Markup:
// <h1 class="font--xlarge">Heading 1 xlarge</h1>
// <p>.font--xlarge</p>
// <h1>Heading 1</h1>
// <h1 class="font--black-shadow">Heading 1</h1>
// <p>.font--black-shadow</p>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <h4 class="font--red">Heading 4</h4>
// <p>.font--red</p>
// <h4 class="font--sky-blue">Heading 4</h4>
// <p>.font--sky-blue</p>
// <h4 class="font--yellow">Heading 4</h4>
// <p>.font--yellow</p>
// <h4 class="font--green">Heading 4</h4>
// <p>.font--green</p>
// <h4 class="font--teal">Heading 4</h4>
// <p>.font--teal</p>
// <h4 class="font--royal-blue">Heading 4</h4>
// <p>.font--royal-blue</p>
// <h4 class="font--purple">Heading 4</h4>
// <p>.font--purple</p>
// <h4 class="font--pink">Heading 4</h4>
// <p>.font--pink</p>
// <h4 class="font--white" style="background-color: #000;">Heading 4</h4>
// <p>.font--white</p>
// <h4 class="font--jasper-grey">Heading 4</h4>
// <p>.font--jasper-grey</p>
// <h4 class="font--gainsboro-grey">Heading 4</h4>
// <p>.font--gainsboro-grey</p>
// <h4 class="font--light-grey">Heading 4</h4>
// <p>.font--light-grey</p>
// <h4 class="font--smoke-grey">Heading 4</h4>
// <p>.font--smoke-grey</p>
// <p class="font--xlarge">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p>.font--xlarge</p>
// <p class="font--large">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p>.font--large</p>
// <p>Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p class="font--small">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p>.font--small</p>
// <p class="font--xsmall">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p>.font--xsmall</p>
//
// Style guide: Typography.Typography

h1 {
  margin: 0 0 20px;
  color: #1e1e1e;
  font-family: $font-bold;
  font-size: 34px;
  line-height: 34px;
  &.font--xlarge {
    font-size: 36px;
    line-height: 36px;
  }
  &.font--black-shadow {
    font-family: $font-black;
    font-size: 36px;
    line-height: 36px;
    text-shadow: -7px 7px 0px rgba(0, 0, 0, 0.25);
  }
}
p,
h2,
h3,
h4 {
  margin: 0 0 20px;
  clear: both;
}
h2 {
  font-family: $font-medium;
  font-size: 32px;
  line-height: 32px;
}
h3 {
  font-family: $font-regular;
  font-size: 28px;
  line-height: 30px;
}
h4 {
  font-family: $font-regular;
  font-size: 24px;
  line-height: 26px;
}

@include breakpoint($screen-md) {
  h1 {
    font-size: 50px;
    line-height: 50px;
    &.font--xlarge {
      font-size: 64px;
      line-height: 64px;
    }
    &.font--black-shadow {
      font-size: 64px;
      line-height: 64px;
      text-shadow: -7px 7px 0px rgba(0, 0, 0, 0.25);
    }
  }
  h2 {
    font-size: 34px;
    line-height: 38px;
  }
  h3 {
    font-size: 30px;
    line-height: 34px;
  }
  h4 {
    font-size: 26px;
    line-height: 28px;
  }
}

@include breakpoint($screen-lg) {
  h1 {
    font-size: 70px;
    line-height: 74px;
    &.font--xlarge {
      font-size: 90px;
      line-height: 90px;
    }
    &.font--black-shadow {
      font-size: 90px;
      line-height: 90px;
      text-shadow: -7px 7px 0px rgba(0, 0, 0, 0.25);
    }
  }
  h2 {
    font-size: 40px;
    line-height: 44px;
  }
  h3 {
    font-size: 34px;
    line-height: 38px;
  }
  h4 {
    font-size: 30px;
    line-height: 32px;
  }
}

p {
  padding: 0;
  font-family: $body-font;
  font-size: 16px;
  line-height: 20px;
  &.font--xlarge {
    font-size: 18px;
    line-height: 22px;
  }
  &.font--large {
    font-size: 18px;
    line-height: 22px;
  }
  &.font--small {
    font-size: 14px;
    line-height: 18px;
  }
  &.font--xsmall {
    font-size: 12px;
    line-height: 16px;
  }
}

@include breakpoint($screen-md) {
  p {
    padding: 0;
    font-family: $body-font;
    font-size: 18px;
    line-height: 22px;
    &.font--xlarge {
      font-size: 22px;
      line-height: 28px;
    }
    &.font--large {
      font-size: 20px;
      line-height: 26px;
    }
    &.font--small {
      font-size: 16px;
      line-height: 20px;
    }
    &.font--xsmall {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

@include breakpoint($screen-lg) {
  p {
    padding: 0;
    font-family: $body-font;
    font-size: 18px;
    line-height: 22px;
    &.font--xlarge {
      font-size: 24px;
      line-height: 30px;
    }
    &.font--large {
      font-size: 20px;
      line-height: 26px;
    }
    &.font--small {
      font-size: 16px;
      line-height: 20px;
    }
    &.font--xsmall {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

@for $color from 1 to (length($colorList)+1) {
  @include font-variation(nth($colorList, $color));
}

.cr-article__header {
  text-align: center;
}
.cr-article__title {
  margin-top: 40px;
  text-transform: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

