/*  
  * Button styles,
  * Copied from SR16 theme
  */

.btn {
  @include border-radius(30px);
  //font-family: $p-type--all-font;
  //@extend .type--semibold;
  font-size: 16px;
  height: 50px;
  padding: 14px 35px;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;

  span {
    font-size: inherit;
    font-weight: inherit;
  }
}

@mixin btn-variation($button){
  // Makes .btn-green etc
  .btn--#{nth($button, 1)} {
    // Applies $colour-green etc.
    background-color: nth($button, 2);
    color: nth($button, 4);
    @include transition-property(background-color);
    @include transition-duration(300ms);
    &:hover,
    &:focus {
      outline: none;
      // Applies $green-v-dark etc.
      background-color: nth($button, 3);
      color: nth($button, 4);
      @include transition-property(background-color);
      @include transition-duration(600ms);
    }
    &:active {
      @include transition-property(background-color);
      @include transition-duration(600ms);
    }
  }
}

/* Just a couple of examples for now */ 
$buttonList: (
  ("red" $red $berry $white),
  ("blue" $blue $aqua $white),
);

/* Process $buttonList colour variations through our btn-variation mixin. */
@each $button in $buttonList {
  @include btn-variation( $button );
}


/**
 * Buttons display as stack block for xs
 */
@include breakpoint($screen-xs) {
  .btn + .btn {
    margin-top: 30px;
  }
}

/**
 * Buttons display as inline block for sm, md and large breakpoints.
 */
@include breakpoint($screen-sm) {
  .btn {
    display: inline-block;
    font-size: 18px;
    &.btn--fixed-width {
      width: 290px;
    }
  }
  .btn + .btn {
    margin-top: 0px;
    margin-left: 25px;
  }
}

/*
 * Add icon to btn
 */
.btn {
  .icon {
    line-height: 20px;
    height: 20px;
    font-weight: normal;
    &:before {
      line-height: 0px;
      position: relative;
      top: 9px;
    }
  }
  .icon + span,
  span + .icon {
    margin-left: 5px;
  }
}

/**
 * Adds large buttons. Initially for the OTN homepage but can be used
 * elsewhere.
 */
.btn--lg {
  font-size: 18px;
  line-height: 22px;
  padding-top: 14px;
  padding-bottom: 14px;
}

/**
 * Large button styles for >= small breakpoint.
 */
@include breakpoint($screen-sm) {
  .btn--lg {
    @include border-radius(35px);
    padding: 21px 70px;
    font-size: 18px;
    height: 70px;
    line-height: 23px;
  }
}
