.paragraph--cr-rich-text-paragraph {
	min-height: 400px;
	background-size: cover;
	color: $white;
	padding: 60px 20px;
}
.paragraph--cr-rich-text-paragraph__body {
	max-width: 1200px;
	margin: auto;
}