// View filter
.views-exposed-form {
	background: $black;
	padding: 20px 0;
	margin-bottom: 15px;

  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
	label {
		color: $white;
	}
	.form-item,
	.form-actions {
		display: inline-block;
	}
	select {
		width: 150px;
		height: 19px;
		option {
			display: inline-block;
		}
	}
}