// Footer Bottom
//
// The footer bottom region of page
//
// Markup: footer-bottom.hbs
//
// Style guide: components.footer-bottom

.footer-bottom,
%footer-bottom {
  background-color: color(grey-extra-dark);
  color: color(text-bg);
  @include padding(1px 0);

  &__left {
    @include respond-to(medium) {
      float: left;
    }
  }

  &__right {
    @include respond-to(medium) {
      @include margin-left(25px);
      float: right;
    }
  }

  :link,
  :visited,
  &__link {
    color: color(text-bg);

    &:hover,
    &:focus {
      color: color(grey-light);
    }
  }
}
