<footer class="footer-bottom">
  <div class="layout-center clearfix <?php print $classes; ?>">
    <div class="footer-bottom__left">
      <p>© Copyright 2015 aGov.</p>
    </div>
    <div class="footer-bottom__right">
      <p>
        <i class="fa fa-chevron-circle-up fa-lg"></i>
        <a class="footer-bottom__link" href="#skip-link">Back to top</a>
      </p>
    </div>
  </div>
</footer>
