/* Grid */

// Grids
//
// Susy Grid: http://susydocs.oddbird.net/en/latest/
//
// Style guide: Grids

/*
 * TODO: Extract grid from susy framework instead of importing all
 */
@import "susy/sass/_susy";

/* Small breakpoint */
$screen-sm: 0px;
$screen-sm-min: $screen-sm;
$screen-sm-max: 739px;

/* Medium breakpoint */
$screen-md: 740px;
$screen-md-min: $screen-md;
$screen-md-max: 1023px;

$screen-md-only: $screen-md $screen-md-max;

/* Large breakpoint */
$screen-lg: 1024px;
$screen-lg-min: $screen-lg;

/* Tweaked breakpoints to allow 'mobile' style nav on iPad landscape */

$desktop-nav-breakpoint: 1150px;
$desktop-max-nav-breakpoint: max-width 1150px;
$desktop-nav-breakpoint-min: $desktop-nav-breakpoint;

/* Grid values */
$max-width: 1200px;

$gutter: 30px;
$column: 70px;

$columns: 12;

/* Changing Susy default global settings */
$susy: (  
  columns: $columns,
  container: $max-width,
  gutters: $gutter/$column,
  global-box-sizing: border-box,
  gutter-position: split,
  output: float,
  last-flow: to
);
