/**
 * Parameters
 * $inlinelink[1] = name
 * $inlinelink[2] = border-color
 * $inlinelink[3] = border-color for hover & focus
 */
$linkList: (
  ("red" $colour-red $colour-purple),
  ("blue" $colour-blue $colour-yellow), 
  ("yellow" $colour-yellow $colour-blue),
  ("green" $colour-green $colour-teal), 
  ("teal" $colour-teal $colour-pink), 
  ("royal-blue" $colour-royal-blue $colour-red), 
  ("purple" $colour-purple $colour-royal-blue),
  ("pink" $colour-pink $colour-green),
  ("white" $colour-white $colour-black),
  ("jasper-grey" $colour-jasper-grey $colour-red),
  ("gainsboro-grey" $colour-gainsboro-grey $colour-red),
  ("light-grey" $colour-light-grey $colour-red),
  ("smoke-grey" $colour-smoke-grey $colour-red)
);

/**
 * Parameters
 * $color[1] = name
 * $color[2] = background colour/font colour
 */
$colorList: (
  ("red" $colour-red),
  ("blue" $colour-blue), 
  ("yellow" $colour-yellow),
  ("green" $colour-green), 
  ("teal" $colour-teal), 
  ("royal-blue" $colour-royal-blue), 
  ("purple" $colour-purple),
  ("dark-purple" $colour-dark-purple),
  ("pink" $colour-pink),
  ("black" $colour-black),
  ("dark-blue" $colour-dark-blue),
  ("white" $colour-white),
  ("jasper-grey" $colour-jasper-grey),
  ("gainsboro-grey" $colour-gainsboro-grey),
  ("light-grey" $colour-light-grey),
  ("smoke-grey" $colour-smoke-grey)
);

/**
 * Parameters
 * $button[1] = name
 * $button[2] = background-color
 * $button[3] = background-color for hover & focus
 * $button[4] = text color
 */
$buttonList: (
  ("black-ghost" transparent $colour-dark-blue $colour-dark-blue),
  ("white-ghost" transparent $colour-white $colour-white),
  ("red" $colour-red $colour-purple $colour-white),
  ("blue" $colour-blue $colour-yellow $colour-black), 
  ("yellow" $colour-yellow $colour-blue $colour-black),
  ("green" $colour-green $colour-teal $colour-black), 
  ("teal" $colour-teal $colour-pink $colour-black), 
  ("royal-blue" $colour-royal-blue $colour-red $colour-white), 
  ("purple" $colour-purple $colour-royal-blue $colour-white),
  ("pink" $colour-pink $colour-green $colour-black),
  ("white" $colour-white $colour-black $colour-black)
);
