// Dependencies.
@import "../links/links.scss";

// External Link
//
// Markup:
// <a href="#" class="external-link">External Link</a>
//
// Style guide: 10.7

.external-link {
  &:after {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px 5px -3px 10px;
    content: " ";
    background: url(../images/svgs/external-link.svg);
    background-size: 25px 25px;
  }
}
.media-external-file {
	a {
		@extend .link;
	}
}
