// Links
//
// Standard links
//
// Markup: links.hbs
// 
// .link--red - Red standalone link
// .link--sky-blue - Sky Blue standalone link
// .link--yellow - Yellow standalone link
// .link--green - Green standalone link
// .link--teal - Teal standalone link
// .link--royal-blue - Royal Blue standalone link
// .link--purple - Purple standalone link
// .link--pink - Pink standalone link
// .link--white - White standalone link
// :hover - Link hover state 
// :active - Link active state
// :focus - Link focus state
//
// Style guide: Links

/*  
  * Link styles,
  * Copied from SR16 theme
  */

.link {
  border-bottom: 4px solid $colour-red;
  color: $colour-black;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-decoration: none;
  @include transition-property(border, color);
  @include transition-duration(180ms);
  &:hover,
  &:active,
  &:focus {
    border-bottom: 4px solid $colour-black;
  }
  &.inline {
    border-width: 2px;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    line-height: inherit;
    &:hover,
    &:active,
    &:focus {
      border-width: 2px;
    }
  }
}

@for $link from 1 to (length($linkList)+1) {
  @include link-variation(nth($linkList, $link));
}