// Importing files from patternlab package

@import "@comicrelief/pattern-lab/sass/base/_variables";
@import "@comicrelief/pattern-lab/sass/base/_core";
@import "@comicrelief/pattern-lab/sass/base/_components";

// Drupal related styles regions and paragraph fixes | move it to a better place


// layout
.header__inner-wrapper,
.region-header-top,
.node--type-page,
.kss-section,
.cards__wrapper,
.cw-region {
  @include container;
}
.pager,
.search-block__wrapper,
.view-search {
  width: 100%;
  max-width: $max-width;
  margin: auto;
}
.pager {
  padding: 0 calc((4 * #{gutter()}));
  @include breakpoint($screen-md) {
    padding: 0 calc((2 * #{gutter()}));
  }
  @include breakpoint($screen-lg) {
    width: span(8);
    padding: 0 calc((0.5 * #{gutter()}));
  }
}
.view-search,
.search-block {
  .search-block__form,
  .view-content,
  .view-header {
    margin: 20px auto;
    max-width: $max-width;
    padding: 0 calc((4 * #{gutter()}));
    @include breakpoint($screen-md) {
      padding: 0 calc((2 * #{gutter()}));
    }
    @include breakpoint($screen-lg) {
      width: span(8);
      padding: 0 calc((0.5 * #{gutter()}));
    }
  }
  .view-header {
    @include breakpoint($screen-lg) {
      margin: 54px auto 32px;
    }
  }
}
.node--type-page,
.node--type-article {
  .node__content {  
    margin: auto;
    max-width: $max-width;
    padding: 0 calc((4 * #{gutter()}));
    @include breakpoint($screen-md) {
      padding: 0 calc((2 * #{gutter()}));
      width: span(10);
    }
    @include breakpoint($screen-lg) {
      width: span(8);
      padding: 0 calc((0.5 * #{gutter()}));
    }
  }
}

header,
.region-highlighted,
main,
.paragraph {
  @include clearfix;
  clear: both;
}
main {
  position: relative;
}
.block-search {
  float: right;
  margin-top: 15px;
}
.view-filters {
  float: none;

  @include span(12);
}

.node--type-page {
  padding-bottom: 60px;
  @include breakpoint($screen-md) {
    padding-bottom: 60px;
  }
}
