// Import external libraries.
@import "breakpoint";

@import "susy";

// Import the compass helpers/mixins
// Please utilize these as much as possible. They are very handy.
// For more info please see: http://compass-style.org/reference/compass/
@import "compass/support";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/flexbox";
@import "compass/utilities/sprites";

// Compass sprite
$common-sprite-dimensions: true;
$icons-spacing: 40px;
$icons-layout: 'vertical';
// $icons: sprite-map("icons/*.png");
@import "icons/*.png";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "base/**/*";
@import "layout/**/*";
@import "components/**/*";
@import "theme/**/*";

