// General theme variables

$image-path: "/profiles/contrib/cr/themes/custom/campaign_base/images/patternlab/";

// Importing files from patternlab package

@import "@comicrelief/pattern-lab/sass/base/_variables";
@import "@comicrelief/pattern-lab/sass/base/_core";
@import "@comicrelief/pattern-lab/sass/base/_components";
