// General theme variables
$image-path: "/profiles/contrib/cr/themes/custom/campaign_base/images/patternlab/";

// Importing files from patternlab package
@import "@comicrelief/pattern-lab/sass/base/_variables";
@import "@comicrelief/pattern-lab/sass/base/_core";
@import "@comicrelief/pattern-lab/sass/base/_components";

// Test styles
.cr-body {

   * {
       position: relative;
       z-index: 2;
   }

   // Base styles
   div[class^="view-mode-bg-graphic-"] {
     position: absolute;
     z-index: 1;
     img {
       margin: 0;
     }
   }

   .view-mode-bg-graphic- {

      &bottom-left {
       height: 100%;
       width: auto;
       bottom: 0;
       left: 0;
       img {
           height: 100%; 
           width: auto; 
       }
     }

     &bottom-right {
       height: 100%;
       width: auto;
       bottom: 0;
       right: 0;
       img {
           height: 100%;
           width: auto; 
       }
     }

     &top-left {
       height: 100%;
       width: auto;
       top: 0;
       left: 0;
       img {
           height: 100%;
           width: auto; 
       }
     }

      &top-right {
       height: 100%;
       width: auto;
       top: 0;
       right: 0;
       img {
           height: 100%;
           width: auto; 
      }
    }
  }
}