// Story
//
// This is the Story row component (aka fundraising journey)
//
// Markup: _story.hbs
//
// Style guide: Story

#kss-node {
  padding: 0;

  .kss-main {
    margin: 0 !important;
    width: 100% !important;
    padding: 0 !important;
  }

  .kss-section {
    max-width: none !important;
    width: 100% !important;
  }

  .kss-sidebar {
   display: none !important;
  }

  #kssref-story {
    width: 100% !important;
  }

  .kss-modifier__wrapper {
    padding: 0 !important;
  } 
}



.paragraph.story {
  width: 100%;
  padding: 60px 0;

  picture img {
    display: block;
  }

  .story__outer-wrapper {
    @include container;
    position: relative;
  }

  .story__beneficiary-wrapper,
  .story__fundraiser-wrapper {
    @include span(12);
    overflow: hidden;
    position: relative;
    text-align: center;

    @include breakpoint($screen-md) {
      @include span(6);
    }

    @include breakpoint($screen-lg) {
      @include span(6);
      width: calc( #{span(6)} + #{gutter()} );
    }

    @include breakpoint($screen-lg) {
      margin-right: 0;
    }

    .story__fundraiser-title,
    .story__beneficiary-title {
      margin: 0 0 10px;
    }

    .story__fundraiser-image,
    .story__fundraiser-copy,
    .story__beneficiary-image,
    .story__beneficiary-copy {
      width: 100%;
      float: left;

      @include breakpoint($screen-lg) {
        width: 50%;
      }
    }

    .story__fundraiser-copy,
    .story__beneficiary-copy {
      padding: 30px;
      position: relative;

      h3 {
        font-size: 60px; line-height: 50px; margin-bottom: 0;
        font-family: $font-medium;
      }

      span {
        font-size: 18px; line-height: 18px;
        font-family: $font-black;
      }

      p {
        font-size: 13px; line-height: 19px;
      }
    }
  }



  /* Beneficiary side only  */
  .story__beneficiary-wrapper {

    background-color: $colour-dark-blue;
    text-align: center;

    h3, p, span {
      color: $colour-teal;
    }

    /* Zigzag shape */
    &:after {
      content: "";
      width: 100%;
      height: 15px;
      position: absolute;
      top: -1px;
      left: 0;
      background-color: $colour-teal;
      -webkit-mask: url('/profiles/cr/themes/custom/campaign_base/images/svgs/zigzag-horizontal.svg') repeat-x 50% 50%;
      mask: url('/profiles/cr/themes/custom/campaign_base/images/svgs/zigzag-horizontal.svg') repeat-x 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
    }

    @include breakpoint($screen-md-only) {
      display: table;

      .story__beneficiary-image,
      .story__beneficiary-copy {
        float: none;
      }

      .story__beneficiary-image {
        display: table-header-group;
      }
    }

    @include breakpoint($screen-lg) {
      margin-left: 0;

      &:after {
        height: 200%;
        content: "";
        width: 11px;
        top: 0;
        left: -11px;
        background-color: red;
        -webkit-mask: url('/profiles/cr/themes/custom/campaign_base/images/svgs/zigzag-vertical.svg') no-repeat 0 0;
        mask: url('/profiles/cr/themes/custom/campaign_base/images/svgs/zigzag-vertical.svg') no-repeat 0 0;
        -webkit-mask-size: cover;
        mask-size: cover; 
      }
    }
  }
}