{#
/**
 * @file
 * Default theme implementation from form wizard progress bar.
 *
 * Available variables:
 * - yamlform: A form.
 * - pages: Array of wizard pages.
 * - current_page: Current wizard page.
 * - max_pages: Maximum number of pages to be displayed.
 *
 * @see template_preprocess_yamlform_progress_bar()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('yamlform/yamlform.progress.bar') }}

{% if pages|length < max_pages %}
<ol class="yamlform-progress-bar" data-steps="{{ pages|length }}">
{% for index, title in pages %}{%
  set classes = [
    'yamlform-progress-bar__page',
    index < current_page ? 'yamlform-progress-bar__page--done',
    index == current_page ? 'yamlform-progress-bar__page--current',
  ]
%}<li{{ attributes.setAttribute('class', '').addClass(classes) }}>
  <b>{{ title }}</b>{% if (loop.first	or loop.last) %}<span></span>{% endif %}
</li>{% endfor %}
</ol>
{% endif %}
