// Global styling
body {
  background: $colour-white;
  font-family: $body-font;
  font-size: 100%;
  line-height: 1.3125rem;

  -webkit-font-smoothing: antialiased;
}
// logo header
.block-system-branding-block {  
  position: absolute;
  top: 0;
  z-index: 100;
}
header[role=banner] {
  height: 129px;
  @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
    height: 156px;
  }
}
.page__title {
  max-width: 640px;
  margin: 100px auto 40px;
  text-align: center;
}
.visuallyhidden {
  @include visuallyhidden;
}
.datetime {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
picture img {
  width: 100%;
}
.node--view-mode-full {
  // think where best to put it
  // max-width: 640px;
  margin: 0 auto;
  .field--type-image {
    margin-bottom: 40px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.field--name-body a,
.btn-red {
  @include transition(all 180ms);
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid $colour-red;
  &:hover {
    border-bottom: 2px solid $colour-black;
  }
}
// to do: landing page style
.page-node-type-landing {
  .region-content {
    width: 100%;
    max-width: 100%;
  }
  .page__title {
    position: absolute; // make it as a mixin
    top: auto;
    left: -10000px;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  .panel-1col {
    max-width: 1200px;
    margin: 0 auto;
  }
}
// to do: find a better place
.styleguide-link {
  float: right;
  clear: both;
  margin-right: 5%;
  text-decoration: none;
  color: $colour-white;
}
// to do: add it to kss style
#kss-node {
  background: #f2f2f2;
  .kss-section {
    max-width: 1200px;
  }
}
#kss-node .kss-markup {
  clear: both;
}
#kss-node .kss-modifier__wrapper {
  float: left;
  width: 100%;
}
.view-empty {
  margin: 60px 0;
}
// Table style move to table component
table {
  border-collapse: collapse;
  td {
    padding: 10px;
    border: 1px solid $colour-black;
  }
}
// Figure style align move to figure component
figure.align-left {
  margin: 0 20px 20px;
  figcaption {
    padding: 10px;
    text-align: center;
  }
}
// Misc move somewhere else
hr {
  clear: both;
  margin: 0 0 20px;
  border: none;
}
