//Typography
//
// These are the Typography
//
// Markup:
// <h1 class="font--xlarge">Heading 1 xlarge</h1>
// <p>.font--xlarge</p>
// <h1>Heading 1</h1>
// <h1 class="font--black-shadow">Heading 1</h1>
// <p>.font--black-shadow</p>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <h4 class="font--red">Heading 4</h4>
// <p>.font--red</p>
// <h4 class="font--blue">Heading 4</h4>
// <p>.font--blue</p>
// <h4 class="font--yellow">Heading 4</h4>
// <p>.font--yellow</p>
// <h4 class="font--green">Heading 4</h4>
// <p>.font--green</p>
// <h4 class="font--teal">Heading 4</h4>
// <p>.font--teal</p>
// <h4 class="font--royal-blue">Heading 4</h4>
// <p>.font--royal-blue</p>
// <h4 class="font--purple">Heading 4</h4>
// <p>.font--purple</p>
// <h4 class="font--pink">Heading 4</h4>
// <p>.font--pink</p>
// <h4 class="font--white" style="background-color: #000;">Heading 4</h4>
// <p>.font--white</p>
// <h4 class="font--jasper-grey">Heading 4</h4>
// <p>.font--jasper-grey</p>
// <h4 class="font--gainsboro-grey">Heading 4</h4>
// <p>.font--gainsboro-grey</p>
// <h4 class="font--light-grey">Heading 4</h4>
// <p>.font--light-grey</p>
// <h4 class="font--smoke-grey">Heading 4</h4>
// <p>.font--smoke-grey</p>
// <p class="font--xlarge">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p>.font--xlarge</p>
// <p class="font--large">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p>.font--large</p>
// <p>Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p class="font--small">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p>.font--small</p>
// <p class="font--xsmall">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p>.font--xsmall</p>
// <p>Paragraph Intrinsicly impact <strong>compelling channels through</strong> intermandated paradigms. Appropriately optimize <strong>intuitive imperatives</strong> whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>
// <p>strong tags</p>
//
// Style guide: 24.3

h1 {
  margin: 0 0 20px;
  color: $colour-black;
  font-family: $font-bold;
  @include font-size($h1-font-size);
  &.font--font-black {
    font-family: $font-black;
    @include font-size($h1-black-font-size);
  }
  &.font--xlarge {
    @include font-size($h1-xlarge-font-size);
  }
  &.font--black-shadow {
    text-shadow: -3px 3px 0 rgba(0, 0, 0, 0.25);
    font-family: $font-black;
    @include font-size($h1-blackshadow-font-size);
    @include breakpoint($screen-md) {
      text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.25);
    }
    @include breakpoint($screen-lg) {
      text-shadow: -7px 7px 0 rgba(0, 0, 0, 0.25);
    }
  }
}
h2,
h3,
h4,
h5,
p,
.link {
  color: $colour-black;
}
p,
h2,
h3,
h4 {
  clear: both;
  margin: 0 0 15px;
}
p:last-child,
p:first-child:last-child {
  margin-bottom: 5px;
}
h2 {
  font-family: $font-medium;
  @include font-size($h2-font-size);
}
h3 {
  font-family: $font-regular;
  @include font-size($h3-font-size);
}
h4 {
  font-family: $font-regular;
  @include font-size($h4-font-size);
}

p {
  padding: 0;
  font-family: $body-font;
  @include font-size($p-font-size);
  &.font--xlarge {
    margin-bottom: 20px;
    @include font-size($p-xlarge-font-size);
  }
  &.font--large {
    @include font-size($p-large-font-size);
  }
  &.font--small {
    @include font-size($p-small-font-size);
  }
  &.font--xsmall {
    @include font-size($p-xsmall-font-size);
  }
}
span.font--font-black {
  font-family: $font-black;
}

strong {
  font-family: $font-bold;
}

@for $color from 1 to (length($colorList)+1) {
  @include font-variation(nth($colorList, $color));
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  @for $color from 1 to (length($colorList)+1) {
    @include font-variation-inline(nth($colorList, $color));
  }
}
