{% set is_external = content.field_partner_external['0']['#markup'] == 'External' ? true : false  %}
{% set site_url = content.field_partner_website['0']['#url'].uri %}

{% if is_external %}
	<li><a href="{{site_url}}" target="_blank">
		{{ content.field_partner_logo }}
	</a></li>

{% else %}
	<li> {{ content.field_partner_logo }}</li>
{% endif %}
