// Header
//
// This is Header
//
// Markup:
// <header></header>
//
// Style guide: Components.Header

header[role=banner] {
  border-bottom: 4px solid #E6E6E6;
  padding-bottom: 10px;
  overflow: visible!important;
  padding-bottom: 0!important;
  background-color: $colour-white;
}

.header__top-wrapper {
  background: $colour-black;
  height: 49px;
}
.header__inner-wrapper {
	position: relative;
}
.site-logo {
  float: left;
  width: 106px;
  height: 116px;
  margin-top: -40px;
  margin-right: 20px;
  margin-left: 10px;
  position: relative;
  z-index: 2;
  @include breakpoint($desktop-nav-breakpoint, $no-query: true) {
    width: 136px;
  	height: 136px;
  } 
}
