<header role="banner">
  <div class="header__top-wrapper"></div>
  <div class="header__inner-wrapper">
    <div class="feature-nav">
      <ul class="feature-nav__items">
        <li class="menu-item">
          <a href="/web/" data-drupal-link-system-path="<front>">Home</a>
        </li>
        <li class="menu-item menu-item--active-trail">
          <a href="/web/fundraise" data-drupal-link-system-path="node/22" class="is-active">Fundraise (Landing)</a>
        </li>
        <li class="menu-item">
          <a href="/web/whats-going-on" data-drupal-link-system-path="node/17">What's going on</a>
        </li>
      </ul>
      <div class="feature-nav__icons feature-nav__burger">
        <button class="c-hamburger c-hamburger--htx feature-nav-toggle">
          <div class="c-hamburger__text">
            <span class="visually-hidden">Open and close nav menu</span>
          </div>
          <span></span>
        </button>
      </div>
    </div>
    <div id="block-campaign-base-branding" class="contextual-region block block-system block-system-branding-block">
      <a href="/web/" title="Home" rel="home" class="site-logo" tabindex="2">
      <img src="/web/profiles/cr/themes/custom/campaign_base/logo.svg" alt="Home">
      </a>
    </div>
    <nav style="display: none;" role="navigation" aria-labelledby="block-campaign-base-main-menu-menu" id="block-campaign-base-main-menu" class="contextual-region block block-menu navigation menu--main crNavigation-processed">
      <h2 class="visually-hidden" id="block-campaign-base-main-menu-menu">Main navigation</h2>
      <div data-contextual-id="block:block=campaign_base_main_menu:langcode=en|menu:menu=main:langcode=en" class="contextual" role="form">
        <button class="trigger visually-hidden focusable" type="button" aria-pressed="false">Open Main navigation configuration options</button>
        <ul class="contextual-links" hidden="">
          <li class="block-configure"><a href="/web/admin/structure/block/manage/campaign_base_main_menu?destination=node/22">Configure block</a></li>
          <li class="entitymenuedit-form"><a href="/web/admin/structure/menu/manage/main?destination=node/22">Edit menu</a></li>
        </ul>
      </div>
      <ul class="menu menu--level-0">
        <li class="menu-item">
          <a href="/web/" data-drupal-link-system-path="<front>">Home</a>
        </li>
        <li class="menu-item menu-item--active-trail">
          <a href="/web/fundraise" data-drupal-link-system-path="node/22" class="is-active">Fundraise (Landing)</a>
        </li>
        <li class="menu-item">
          <a href="/web/whats-going-on" data-drupal-link-system-path="node/17">What's going on</a>
        </li>
        <li class="menu-item">
          <a href="/web/node/1" data-drupal-link-system-path="node/1">FAQ</a>
        </li>
        <li class="menu-item">
          <a href="/web/node/2" data-drupal-link-system-path="node/2">Legal</a>
        </li>
      </ul>
    </nav>
    <div id="block-metaiconsblock" class="contextual-region block block-cr-meta-icons">
      <div data-contextual-id="block:block=metaiconsblock:langcode=en" class="contextual" role="form">
        <button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open  configuration options</button>
        <ul class="contextual-links" hidden="">
          <li class="block-configure"><a href="/web/admin/structure/block/manage/metaiconsblock?destination=node/22">Configure block</a></li>
        </ul>
      </div>
      <div class="meta-icons">
        <button class="meta-icons__magnify has-tooltip" title="Search">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-magnify"></use>
          </svg>
        </button>
        <a href="https://my.rednoseday.com/user/login" target="_blank" class="meta-icons__login has-tooltip" title="Log in to your Giving Page">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-login"></use>
          </svg>
        </a>
        <button class="meta-icons__esu-toggle has-tooltip" title="Sign up for emails">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#envelope"></use>
          </svg>
          <span>Get the latest</span>
        </button>
      </div>
    </div>
    <div class="cr-header-email-signup-form contextual-region block-cr-email-signup block--cr-email-signup block--cr-email-signup--head block--cr-email-signup--step-1 crEMailSignup-processed" data-drupal-selector="cr-header-email-signup-form" id="block-emailsignupblockhead">
      <div class="block--cr-email-signup__inner-wrapper">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close-cross"></use>
        </svg>
        <div class="cr-email-signup--messages">
          <div class="esu-initial-message">
            <p>Get info and updates, direct to your inbox</p>
          </div>
          <div class="esu-first-success-message">
            <p>Thanks! Your first email will be with you shortly</p>
          </div>
        </div>
        <div class="esu-errors messages messages--error"></div>
        <form action="/web/" method="post" id="cr-header-email-signup-form" accept-charset="UTF-8" data-drupal-form-fields="edit-email,edit-step1">
          <input class="esu-device" data-drupal-selector="edit-device" type="hidden" name="device" value="OS_X_10.11.6_-_Chrome_56.0.2924.87">
          <input class="esu-source" data-drupal-selector="edit-source" type="hidden" name="source" value="Header">
          <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-email form-item-email">
            <label for="edit-email">Your email address</label>
            <input class="–metrika-nokeys form-text" data-drupal-selector="edit-email" type="text" id="edit-email" name="email" value="" size="60" maxlength="500" placeholder="Enter your email address">
          </div>
          <input class="step1 button js-form-submit form-submit" data-drupal-selector="edit-step1" type="submit" id="edit-step1" name="step1" value="Sign Up">
          <input data-drupal-selector="form-bja0x4d6a3lmjjlyotlzzlq-pazuc5phi7qyduqqcya" type="hidden" name="form_build_id" value="form-BJA0X4d6a3LmJJlyotLzzlQ_pAZuc5PhI7QyduQqCYA">
          <input data-drupal-selector="edit-cr-header-email-signup-form-form-token" type="hidden" name="form_token" value="BREegNF1jBbSdnIuntqc0VFn7apoecLt3Dc0ubP8pFs">
          <input data-drupal-selector="edit-cr-header-email-signup-form" type="hidden" name="form_id" value="cr_header_email_signup_form">
          <div class="esu-title-message">
            <p></p>
          </div>
          <div class="esu-second-success-message">
            <p>Great! Now we know what's right for you.</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
