<header role="banner">
  <div class="header__top-wrapper"></div>
  <div class="header__inner-wrapper">

    {# feature nav #}
    {% include directory ~ '../Navigation/feature-nav.twig' %}

    <div id="block-campaign-base-branding" class="contextual-region block block-system block-system-branding-block">
      <a href="/web/" title="Home" rel="home" class="site-logo" tabindex="2">
      <img src="/web/profiles/cr/themes/custom/campaign_base/logo.svg" alt="Home">
      </a>
    </div>

    <nav style="display: none;" role="navigation" aria-labelledby="block-campaign-base-main-menu-menu" id="block-campaign-base-main-menu" class="contextual-region block block-menu navigation menu--main crNavigation-processed">
      <h2 class="visually-hidden" id="block-campaign-base-main-menu-menu">Main navigation</h2>
      <div data-contextual-id="block:block=campaign_base_main_menu:langcode=en|menu:menu=main:langcode=en" class="contextual" role="form">
        <button class="trigger visually-hidden focusable" type="button" aria-pressed="false">Open Main navigation configuration options</button>
        <ul class="contextual-links" hidden="">
          <li class="block-configure"><a href="/web/admin/structure/block/manage/campaign_base_main_menu?destination=node/22">Configure block</a></li>
          <li class="entitymenuedit-form"><a href="/web/admin/structure/menu/manage/main?destination=node/22">Edit menu</a></li>
        </ul>
      </div>
      <ul class="menu menu--level-0">
        <li class="menu-item">
          <a href="/web/" data-drupal-link-system-path="<front>">Home</a>
        </li>
        <li class="menu-item menu-item--active-trail">
          <a href="/web/fundraise" data-drupal-link-system-path="node/22" class="is-active">Fundraise (Landing)</a>
        </li>
        <li class="menu-item">
          <a href="/web/whats-going-on" data-drupal-link-system-path="node/17">What's going on</a>
        </li>
        <li class="menu-item">
          <a href="/web/node/1" data-drupal-link-system-path="node/1">FAQ</a>
        </li>
        <li class="menu-item">
          <a href="/web/node/2" data-drupal-link-system-path="node/2">Legal</a>
        </li>
      </ul>
    </nav>

    {# meta icons #}
    {% include directory ~ '../meta-icons/meta-icons.twig' %}
    
  </div>
</header>
