// Banner card

.card-banner {
	float: left;
  width: 100%;
  position: relative;
}
.card-banner__inner-wrapper {
	width: span(12);
	max-width: $max-width;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.card-banner__image {
	display: none;
	@include breakpoint($screen-md) {
		display: block;
		@include span(2);
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}
.card-banner__content {
	padding: 20px 0;
	p {
		text-align: center;
	}
	@include breakpoint($screen-md) {
		@include span(10);
		position: absolute;
		top: 50%;
		@include translateY(-50%);
		.btn {
		  position: absolute;
		  right: -20px;
		  top: 50%;
		  @include translateY(-50%);
		}
	}
}
