<div class="cr-email-signup-form contextual-region block-cr-email-signup block--cr-email-signup block--cr-email-signup--standard block--cr-email-signup--step-1 block--cr-email-signup--banner crEMailSignup-processed" data-drupal-selector="cr-email-signup-form" id="block-emailsignupblockstandard">
  <div class="block--cr-email-signup__inner-wrapper">
    <div class="cr-email-signup--messages">
      <div class="esu-initial-message">
        <p>ESU Standard: initial message</p>
      </div>
      <div class="esu-first-success-message">
        <p>ESU Standard: success! (first message)</p>
      </div>
      <div class="esu-second-success-message">
        <p>ESU Standard: success! (second message)</p>
      </div>
    </div>
    <div class="esu-errors messages messages--error"></div>
    <form action="/web/test/esu" method="post" id="cr-email-signup-form" accept-charset="UTF-8" data-drupal-form-fields="edit-email--3,edit-school-phase,edit-step1--3,edit-step2">
      <input class="esu-device" data-drupal-selector="edit-device" type="hidden" name="device" value="OS_X_10.11.6_-_Chrome_56.0.2924.87">
      <input class="esu-source" data-drupal-selector="edit-source" type="hidden" name="source" value="Banner">
      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-email form-item-email">
        <label for="edit-email--3">Your email address</label>
        <input class="–metrika-nokeys form-text" data-drupal-selector="edit-email" type="text" id="edit-email--3" name="email" value="" size="60" maxlength="500" placeholder="Enter your email address">
      </div>
      <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-school-phase form-item-school-phase">
        <label for="edit-school-phase-button">Also send me School resources</label>
        <select data-drupal-selector="edit-school-phase" id="edit-school-phase" name="school_phase" class="form-select" style="display: none;">
          <option value="" selected="selected">-- Select age group --</option>
          <option value="EY">Early Years or Nursery</option>
          <option value="PY">Primary</option>
          <option value="SY">Secondary</option>
          <option value="FE">Further Education or Sixth-Form College</option>
          <option value="HE">Higher Education</option>
          <option value="OH">Other</option>
        </select>
        <span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all" tabindex="0" id="edit-school-phase-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="edit-school-phase-menu" aria-haspopup="true" style="width: 100px;"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">-- Select age group --</span></span>
      </div>
      <input class="step1 button js-form-submit form-submit" data-drupal-selector="edit-step1" type="submit" id="edit-step1--3" name="step1" value="Go">
      <input class="step2 button js-form-submit form-submit" data-drupal-selector="edit-step2" type="submit" id="edit-step2" name="step2" value="Go">
      <input data-drupal-selector="form-9b6qb6oimpe9zn500qwm7ijredqzatwi-g3izeutgg4" type="hidden" name="form_build_id" value="form-9B6qb6OIMpe9zn500Qwm7ijreDQZatwi_G3izEutgG4">
      <input data-drupal-selector="edit-cr-email-signup-form-form-token" type="hidden" name="form_token" value="gK9p3T0PfgFJ0-jIiF33q3Wfu4BTHzu5RvYw_A8rlIo">
      <input data-drupal-selector="edit-cr-email-signup-form" type="hidden" name="form_id" value="cr_email_signup_form">
    </form>
  </div>
</div>
