<header class="landing-page__header bg--black">
	<div class="landing-page__bg-image">
		<picture>
			<source media="(min-width: 739px)" srcset="/sites/default/files/2016-02/SR16_fundraise_landing_promo_desktop_1_2_5_4_5_2_0_0_3_0_9_4.jpg">
  		  <source srcset="/sites/default/files/2016-05/large_promo_centre_mobile_tablet_homepage_20-03.jpg">
  		  <img src="/sites/default/files/2016-05/large_promo_centre_mobile_tablet_homepage_20-03.jpg" alt="">
		</picture>
	</div>
   <h1 class="landing-page__title">Do yourself proud</h1>
	<div class="landing-page__content">
		<div class="landing-page__content-inner {{modifier_class}}">
         <img alt="Title of the page" data-entity-type="file" data-entity-uuid="9e570179-1e40-4420-9100-d8fc667c5d6f" src="/sites/default/files/inline-images/SR16_svg_title_promo_do_yourself_proud_v2_1.png" class="align-center">
         <p>What you do for Comic Relief is entirely up to you. Whatever it is, just have fun, raise cash and you'll do yourself proud.</p>
         <p><a class="btn btn--red" href="#">Download here</a>&nbsp;<a class="btn btn--red" href="#">Find out more</a></p>
		</div>
	</div>
</header>