// Susy Default Settings Value
// $susy: (
//   flow: ltr,
//   math: fluid,
//   output: float,
//   gutter-position: after,
//   container: auto,
//   container-position: center,
//   columns: 12,
//   gutters: 1/3,
//   column-width: false,
//   global-box-sizing: content-box,
//   last-flow: to,
//   debug: (
//     image: hide,
//     color: rgba(#66f, .25),
//     output: background,
//     toggle: top right,
//   ),
//   use-custom: (
//     background-image: true,
//     background-options: false,
//     box-sizing: true,
//     clearfix: false,
//     rem: true,
//   )
// );

// grid variables in _breakpoints.scss

$susy: (  
  columns: $columns,
  container: $max-width,
  gutters: $gutter/$column,
  global-box-sizing: border-box,
  gutter-position: split,
  output: float,
  last-flow: to,
/*   debug: (
    image: show,
    toggle: top right,
    color: red,
  ), */
);


@include border-box-sizing;

// layout
.header__inner-wrapper,
.region-header-top,
.node--type-page,
.kss-section,
.cards__wrapper,
.cw-region {
  @include container;
}
.pager,
.search-block__wrapper,
.view-search {
  width: 100%;
  max-width: $max-width;
  margin: auto;
}
.pager {
  padding: 0 calc((4 * #{gutter()}));
  @include breakpoint($screen-md) {
    padding: 0 calc((2 * #{gutter()}));
  }
  @include breakpoint($screen-lg) {
    width: span(8);
    padding: 0 calc((0.5 * #{gutter()}));
  }
}
.path-search {
  .search-block__form,
  .view-content,
  .view-header {
    margin: 20px auto;
    max-width: $max-width;
    padding: 0 calc((4 * #{gutter()}));
    @include breakpoint($screen-md) {
      padding: 0 calc((2 * #{gutter()}));
    }
    @include breakpoint($screen-lg) {
      width: span(8);
      padding: 0 calc((0.5 * #{gutter()}));
    }
  }
  .view-header {
    @include breakpoint($screen-lg) {
      margin: 54px auto 32px;
    }
  }
}
.node--type-page,
.node--type-article {
  .node__content {  
    margin: auto;
    max-width: $max-width;
    padding: 0 calc((4 * #{gutter()}));
    @include breakpoint($screen-md) {
      padding: 0 calc((2 * #{gutter()}));
      width: span(10);
    }
    @include breakpoint($screen-lg) {
      width: span(8);
      padding: 0 calc((0.5 * #{gutter()}));
    }
  }
}

header,
.region-highlighted,
main,
.paragraph {
  @include clearfix;
  clear: both;
}
.block-search {
  float: right;
  margin-top: 15px;
}
.view-filters {
  float: none;

  @include span(12);
}

.node--type-page {
  padding-bottom: 60px;
  @include breakpoint($screen-md) {
    padding-bottom: 60px;
  }
}
