// Susy Default Settings Value
// $susy: (
//   flow: ltr,
//   math: fluid,
//   output: float,
//   gutter-position: after,
//   container: auto,
//   container-position: center,
//   columns: 12,
//   gutters: 1/3,
//   column-width: false,
//   global-box-sizing: content-box,
//   last-flow: to,
//   debug: (
//     image: hide,
//     color: rgba(#66f, .25),
//     output: background,
//     toggle: top right,
//   ),
//   use-custom: (
//     background-image: true,
//     background-options: false,
//     box-sizing: true,
//     clearfix: false,
//     rem: true,
//   )
// );


$susy: (
  columns: 12,
  container: 1200px,
  gutters: 30px/70px,
  global-box-sizing: border-box,
  gutter-position: split,
  output: float,
  last-flow: to,
  // debug: (
  //   image: show,
  //   toggle: top right,
  //   color: red,
  // ),
);


@include border-box-sizing;

// layout
.header__inner-wrapper,
.region-header-top,
.node--type-page,
.kss-section,
.cards-wrapper,
.cw-region {
  @include container;
}
.node--type-page {
  .node__content {
    @include span(12);
  }
}
header,
.region-highlighted,
main,
.paragraph {
  @include clearfix;
}
.block-search {
  float: right;
  margin-top: 15px;
}
.view-filters {
  float: none;

  @include span(12);
}

.node--type-page {
  padding-bottom: 60px;
  @include breakpoint($screen-md) {
    padding-bottom: 60px;
  }
}
