// Susy Default Settings Value
// $susy: (
//   flow: ltr,
//   math: fluid,
//   output: float,
//   gutter-position: after,
//   container: auto,
//   container-position: center,
//   columns: 12,
//   gutters: 1/3,
//   column-width: false,
//   global-box-sizing: content-box,
//   last-flow: to,
//   debug: (
//     image: hide,
//     color: rgba(#66f, .25),
//     output: background,
//     toggle: top right,
//   ),
//   use-custom: (
//     background-image: true,
//     background-options: false,
//     box-sizing: true,
//     clearfix: false,
//     rem: true,
//   )
// );

// grid variables in _breakpoints.scss

$susy: (  
  columns: $columns,
  container: $max-width,
  gutters: $gutter/$column,
  global-box-sizing: border-box,
  gutter-position: split,
  output: float,
  last-flow: to,
/*   debug: (
    image: show,
    toggle: top right,
    color: red,
  ), */
);


@include border-box-sizing;

// layout
.header__inner-wrapper,
.region-header-top,
.node--type-page,
.kss-section,
.cards__wrapper,
.cw-region {
  @include container;
}

// move to a component later?!
.node--type-page,
.node--type-article {
  @include breakpoint-gutters;
  margin: auto;
  @include breakpoint($screen-md) {
    max-width: span(10);
  }
  @include breakpoint($screen-lg) {
    max-width: span(8);
  }
}

header,
.region-highlighted,
main,
.paragraph {
  @include clearfix;
}
.block-search {
  float: right;
  margin-top: 15px;
}
.view-filters {
  float: none;

  @include span(12);
}

.node--type-page {
  padding-bottom: 60px;
  @include breakpoint($screen-md) {
    padding-bottom: 60px;
  }
}
