// views layout

.view-content {
  .views-row {
    @include span(12);
    margin-bottom: calc(2 * #{gutter()});
    @include breakpoint($screen-md) {
      @include span(4);
    }
  }
}
.cw-region {
  article {
    &.block-content--view-mode-cw-s,
    &.view-mode-cw_s {
      width: 100%;
      margin-bottom: calc(2 * #{gutter()});
      @include breakpoint($screen-md, $no-query: true) {
        @include span(4);
      }
    }
    &.block-content--view-mode-cw-m,
    &.view-mode-cw_m {
      width: 100%;
      margin-bottom: calc(2 * #{gutter()});
      @include breakpoint($screen-md, $no-query: true) {
        @include span(6);
      }
    }
    &.block-content--view-mode-cw-mp,
    &.view-mode-cw_mp {
      width: 100%;
      margin-bottom: calc(2 * #{gutter()});
      @include breakpoint($screen-md, $no-query: true) {
        @include span(8);
      }
    }
    &.block-content--view-mode-cw-l,
    &.view-mode-cw_l {
      width: 100%;
      margin-bottom: calc(2 * #{gutter()});
      @include breakpoint($screen-md) {
        @include span(12);
      }
    }
  }
}
