<div class="three-column-menu">
  <ul class="three-column-menu__list">
    <li class="three-column-menu__list-item">
      <a href="#" class="three-column-menu__anchor">Menu Item</a>
      <a href="#" class="three-column-menu__anchor">Menu Item</a>
      <a href="#" class="three-column-menu__anchor">Menu Item</a>
      <a href="#" class="three-column-menu__anchor">Menu Item</a>
      <a href="#" class="three-column-menu__anchor">Menu Item</a>
    </li>
  </ul>
</div>
