// Background Colours
//
// Just a few basic classes for now, to be used by row components
//
// Markup: background-colours.hbs
//
// Style guide: Background colours

/* RND17 base colours for June taken from SR,
   remove .bg--cream-grey when RND15 site goes */

.bg--cream-grey {
  background-color: $cream-grey;
}
.bg--sky-blue {
	h2, h3, h4, h5, p, .link {
		color: $colour-dark-purple;
	}
}
.bg--black,
.bg--dark-blue,
.bg--red,
.bg--royal-blue,
.bg--purple {
	h2, h3, h4, h5, p, .link {
		color: $colour-white;
	}
	.bg--white,
	.bg--smoke-grey,
	.bg--light-grey,
	.bg--gainsboro-grey,
	.bg--yellow,
	.bg--green,
	.bg--teal,
	.bg--pink {
		h2, h3, h4, h5, p, .link {
	  	color: $colour-black;
	 }
	}
	.bg--sky-blue {
		h2, h3, h4, h5, p, .link {
	  	color: $colour-dark-purple;
	 }
	}

}

@for $color from 1 to (length($colorList)+1) {
  @include bg-variation(nth($colorList, $color));
}
