{#
/**
 * @file
 * Template for an amp-video.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - src: A URL for a video file.
 * - scheme: A string for the scheme of the video src URL, i.e. http or https.
 *
 * @see template_preprocess_amp_video()
 */
#}
{% if scheme == 'https' %}
  <amp-video{{ attributes }} src="{{ src }}" layout="responsive" controls>
    <div fallback>
      <p>Your browser doesn’t support HTML5 video</p>
    </div>
  </amp-video>
{% endif %}
