// Import external libraries.
@import "breakpoint";

// Import the compass helpers/mixins
// Please utilize these as much as possible. They are very handy.
// For more info please see: http://compass-style.org/reference/compass/
@import "compass/support";
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/flexbox";
@import "compass/utilities/sprites";

@import "init/*";
@import "utils/*.scss";

@import "susy";

$susy: (  
  columns: $columns,
  container: $max-width,
  gutters: $gutter/$column,
  global-box-sizing: border-box,
  gutter-position: split,
  output: float,
  last-flow: to
);

@include border-box-sizing;
