/**
 * @file
 * Styling for the ds-2col template.
 */

.ds-2col > .group-left {
  float: left; /* LTR */
  width: 50%;
}

[dir="rtl"] .ds-2col > .group-left {
    float: right;
}

.ds-2col > .group-right {
  float: left; /* LTR */
  width: 50%;
}

[dir="rtl"] .ds-2col > .group-right {
    float: right;
}
