/**
 * @file
 * Styling for the ds-3col-stacked-equal template.
 */

.ds-3col-stacked-equal > .group-header {
  clear: both;
}

.ds-3col-stacked-equal > .group-left {
  width: 33%;
  float: left; /* LTR */
}

[dir="rtl"] .ds-3col-stacked-equal > .group-left {
    float: right;
}

.ds-3col-stacked-equal > .group-middle {
  width: 34%;
  float: left; /* LTR */
}

[dir="rtl"] .ds-3col-stacked-equal > .group-middle {
    float: right;
}

.ds-3col-stacked-equal > .group-right {
  width: 33%;
  float: right; /* LTR */
}

[dir="rtl"] .ds-3col-stacked-equal > .group-right {
    float: left;
}

.ds-3col-stacked-equal > .group-footer {
  clear: both;
}
