/**
 * @file
 * Styling for the ds-4col template.
 */

.ds-4col > .group-first {
  width: 25%;
  float: left; /* LTR */
}

[dir="rtl"] .ds-4col > .group-first {
    float: right;
}

.ds-4col > .group-second {
  width: 25%;
  float: left; /* LTR */
}

[dir="rtl"] .ds-4col > .group-second {
    float: right;
}

.ds-4col > .group-third {
  width: 25%;
  float: left; /* LTR */
}

[dir="rtl"] .ds-4col > .group-third {
    float: right;
}

.ds-4col > .group-fourth {
  width: 25%;
  float: left; /* LTR */
}

[dir="rtl"] .ds-4col > .group-fourth {
    float: right;
}
