/**
 * @file
 * Administration CSS for Display Suite.
 */

.ds-extras-field-template {
  margin-bottom: 1em;
}

#field-display-overview .ft-settings .ft-group {
  border-top: 1px solid #aaa;
  padding: 5px 0;
  overflow: auto;
}

#field-display-overview .field-formatter-settings-edit-form .ft-group .form-item {
  margin: 0;
}

.ds-layout-preview-title {
  font-weight: bold;
}

.ds-layout-preview-image {
  float: left;
  width: 150px;
  padding-top: 10px;
}

.ds-layout-preview-image img {
  width: 150px;
}

.ds-layout-preview-suggestion {
  min-width: 150px;
  overflow: hidden;
  padding-left: 30px;
}

.ft-group div.form-item {
  float: left;
  width: 130px;
}

.ds-after-suggestion {
  clear: both;
  padding-top: 10px;
}

/**
 * Displays list
 */
table th.ds-display-list-options {
  width: 300px;
}

/**
 * Limit
 */
.limit-float {
  float: left;
  margin-right: 5px;
}

/**
 * Fieldset in vertical tabs.
 */
.vertical-tabs fieldset#edit-additional-settings-ds-page-title-options-page-option-contexts {
  margin: 1em 0;
  padding: 2.5em 0 0;
  border: 1px solid #cccccc;
}

#edit-additional-settings-ds-page-title-options-page-option-contexts legend {
  display: block;
}

/**
 * Change layout screen.
 */
.change-ds-layout-info {
  margin-bottom: 10px;
}

.change-ds-layout-old-region {
  font-weight: bold;
}

.ds-layout-change-save {
  clear: both;
}

.ds-layout-preview-arrow {
  float: left;
  margin: 80px 10px 0 5px;
}

.ds-layout-regions {
  float: left;
  width: 210px;
}
