<div class="tags">
  <label class="inline-sibling">Tags:</label>
  <ul class="tags__items">
    <li class="tags__item"><a href="#">ponderum</a></li>
    <li class="tags__item"><a href="#">ipsum</a></li>
    <li class="tags__item"><a href="#">enim lenis</a></li>
    <li class="tags__item"><a href="#">secundum suscipere</a></li>
  </ul>
</div>