<div class="card-banner {{ bg_colour }}">
	{{ title_suffix.contextual_links }}
	<div class="card-banner__inner-wrapper">
		{# {% if field_cr_card_image['#items'].value %} #}
		<div class="card-banner__image">
			{{ field_cr_card_image }}
		</div>
		{# {% endif %} #}
		<div class="card-banner__content">
			{{ field_cr_card_body }}
		</div>
	</div>
</div>
