// Single Message Row
//
// This is a Single message row
//
// Markup: _paragraph--cr-single-message-row.hbs
//
// .paragraph--cr-single-message-row--title-above-image-right  - Title above, image on right
// .paragraph--cr-single-message-row--centre-image-above - Centred, image above copy
// .paragraph--cr-single-message-row--centre-image-below - Centred, image below copy
//
// Style guide: Single Message variants

/* Global styles */
.paragraph--cr-single-message-row {
  @include container;

  h2 {
    text-align: center;
  }
}

.paragraph--cr-single-message-row__title,
.paragraph--cr-single-message-row__image,
.paragraph--cr-single-message-row__copy_wrapper {
  @include span(12);
}

/* Image Below variant */
.paragraph--cr-single-message-row--centre-image-below {
  display: table;
  .paragraph--cr-single-message-row__copy_wrapper {
    display: table-header-group;
    float: none;
    .paragraph--cr-single-message-row__title,
    .paragraph--cr-single-message-row__body {
      @include span(12);
    }
  }
  .paragraph--cr-single-message-row__image {
    @include span(12);
  }
}

@include breakpoint($screen-lg) {

  /* General styles */
  .paragraph--cr-single-message-row {
    .paragraph--cr-single-message-row__image,
    .paragraph--cr-single-message-row__copy_wrapper {
      @include span(6);
    }
  }

  /* Reposition image and text for 'image right' */
  .paragraph--cr-single-message-row--title-above-image-right, 
  .paragraph--cr-single-message-row--title-inside-image-right {
    .paragraph--cr-single-message-row__copy_wrapper {
      @include span(6 first);
    }
    .paragraph--cr-single-message-row__image {
      @include span(6 last);
    } 
  }

  /* Image above variations */
  .paragraph--cr-single-message-row--centre-image-above {
    .paragraph--cr-single-message-row__image {
      @include span(6);
      @include push(3);
    }

    .paragraph--cr-single-message-row__copy_wrapper {
      @include span(8);
      @include push(2);
    }
  } 

  /* Image Below variant specific */
  .paragraph--cr-single-message-row--centre-image-below {
    .paragraph--cr-single-message-row__copy_wrapper {
      float: none;
      .paragraph--cr-single-message-row__title,
      .paragraph--cr-single-message-row__body {
        float: none;
        margin: auto;
        @include span(8);
        @include push(2);
      }
    }
    .paragraph--cr-single-message-row__image {
      float: none;
      margin: auto;
      @include span(6);
      @include push(3);
    }
  }
}
