<div class="box--icon box--with-hover box--with-border">
  <div class="box--icon__left"><i class="fa fa-bus"></i></div>
    <div class="box--icon__right">
    <h3 class="box__title"><a href="#">{{title}}</a></h3>
    <div class="box__content">
      {{content}}
    </div>
  </div>
</div>
