// Pagination
//
// This is Pagination
//
// Markup:
// <div></div>
//
// Style guide: Components.Pagination

.pagination {
  margin: 40px 0;
  text-align: center;
  li {
    display: none;
    margin: 0;

    @include breakpoint($screen-sm) {
      display: inline-block;
      margin: 0 5px;
    }
    &.last,
    &.first {
      display: inline-block;
      &:hover,
      &.active {
        a {
          color: $colour-black;
          border: none;
        }
      }
      a {
        width: 22px;
      }
      &.disabled {
        display: none;
      }
    }
    &.first {
      float: left;

      @include breakpoint($screen-sm) {
        float: none;
      }
      a {
        @include icons-sprite(a_prev, $offset-x: 5px, $offset-y: 5px);
        span {
          display: none;

          @include breakpoint($screen-sm) {
            display: block;
            text-indent: -9999em;
          }
        }
        &:before {
          display: block;
          margin-top: 1px;
          content: "Previous";
          text-indent: 30px;

          @include breakpoint($screen-sm) {
            display: none;
          }
        }
      }
    }
    &.last {
      float: right;

      @include breakpoint($screen-sm) {
        float: none;
      }
      a {
        @include icons-sprite(a_next, $offset-x: 5px, $offset-y: 5px);
        span {
          display: none;

          @include breakpoint($screen-sm) {
            display: block;
            text-indent: -9999em;
          }
        }
        &:before {
          display: block;
          margin-top: 1px;
          content: "Next";
          text-indent: -100px;

          @include breakpoint($screen-sm) {
            display: none;
          }
        }
      }
    }
    &:hover {
      a {
        color: $colour-black;
        border: 1px solid $colour-black;
      }
    }
    &.active {
      a {
        color: $colour-white;
        border: 1px solid $colour-black;
        background: $colour-black;
      }
    }
    a {
      display: block;
      width: 40px;
      height: 40px;
      padding: 7px;
      text-decoration: none;
      color: grey;
      font-size: 22px;

      @include border-radius(50%);
    }
  }
}
