<div class="feature-nav">
  <ul class="feature-nav__items">
    <li class="menu-item">
      <a href="/web/" data-drupal-link-system-path="<front>">Home</a>
    </li>
    <li class="menu-item menu-item--active-trail">
      <a href="/web/fundraise" data-drupal-link-system-path="node/22" class="is-active">Fundraise (Landing)</a>
    </li>
    <li class="menu-item">
      <a href="/web/whats-going-on" data-drupal-link-system-path="node/17">What's going on</a>
    </li>
  </ul>
  <div class="feature-nav__icons feature-nav__burger">
    <button class="c-hamburger c-hamburger--htx feature-nav-toggle">
      <div class="c-hamburger__text">
        <span class="visually-hidden">Open and close nav menu</span>
      </div>
      <span></span>
    </button>
  </div>
</div>
