{% set view_mode = content['#view_mode']%}
{% set bg_color = content['field_background_colour'] %}
{% set body = content['field_body'] %}

<article class="view-mode-{{view_mode}} cw-quote clearfix"> 
	<div class="cw-quote__outer-wrapper">
		<div class="cw-quote__bg-image">
			{{ field_background_image }}
		</div>
		<div class="cw-quote__inner-wrapper">
			<div class="cw-quote__image bg--purple">
				{{ content['field_author_image'] }}
			</div>
			<div class="cw-quote__body">
				{{ field_body }}
			</div>
		</div>
	</div>
</article>
