<div class="media-block">
	<div class="media-block__image">
		<picture>
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop.jpg" media="(min-width: 1023px)" type="image/jpeg">
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop.jpg" media="(min-width: 740px)" type="image/jpeg">
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/mobile.jpg" media="(min-width: 0px)" type="image/jpeg">
         <img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop.jpg" alt="Africa" typeof="foaf:Image">
     </picture>
	</div>
	<div class="media-block__content">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="play-icon"viewBox="0 0 40 40" xml:space="preserve">
				<path d="M20,2c9.9,0,18,8.1,18,18s-8.1,18-18,18S2,29.9,2,20S10.1,2,20,2 M20,0C9,0,0,9,0,20s9,20,20,20
		s20-9,20-20S31,0,20,0L20,0z"/>
				<path d="M15.8,14l10.3,6l-10.3,6V14 M13.8,10.6v18.8L30.1,20L13.8,10.6L13.8,10.6z"/>
			</svg>
		<h4 class="font--white">Relive all the best bits of last Red Nose Day</h4>
		<p class="font--yellow font--font-black">1:30</p>
	</div>
	<a class="media-block__link" data-rel="lightcase" href="https://www.youtube.com/embed/NW12S4-KB1I?autoplay=1">media block</a>
	<div class="media-block__caption">
		<p>Raymond used to work in a mine, with no time to go to school. Now, thanks to you, he’s getting an education. To help us change more lives, simply raise cash by having fun.</p>
		<a class="btn btn--yellow" href="/fundraise">See how to join in</a>
	</div>
</div>
&nbsp;
&nbsp;
<div class="media-block">
	<div class="media-block__image">
		<picture>
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop-2.jpg" media="(min-width: 1023px)" type="image/jpeg">
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop-2.jpg" media="(min-width: 740px)" type="image/jpeg">
         <source srcset="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/mobile-2.jpg" media="(min-width: 0px)" type="image/jpeg">
         <img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/desktop-2.jpg" alt="Africa" typeof="foaf:Image">
     </picture>
	</div>
	<div class="media-block__content">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="play-icon"viewBox="0 0 40 40" xml:space="preserve">
				<path d="M20,2c9.9,0,18,8.1,18,18s-8.1,18-18,18S2,29.9,2,20S10.1,2,20,2 M20,0C9,0,0,9,0,20s9,20,20,20
		s20-9,20-20S31,0,20,0L20,0z"/>
				<path d="M15.8,14l10.3,6l-10.3,6V14 M13.8,10.6v18.8L30.1,20L13.8,10.6L13.8,10.6z"/>
			</svg>
		<h4 class="font--white">Relive all the best bits of last Red Nose Day</h4>
		<p class="font--yellow font--font-black">1:30</p>
	</div>
	<a class="media-block__link" data-rel="lightcase:gallery" href="https://d13xaps7g3emeg.cloudfront.net/sites/default/files/2016-09/content_wall_need_0.jpg">media block</a>
	<div class="media-block__caption">
		<p>Raymond used to work in a mine, with no time to go to school. Now, thanks to you, he’s getting an education. To help us change more lives, simply raise cash by having fun.</p>
		<a class="btn btn--yellow" href="/fundraise">See how to join in</a>
	</div>
	<a class="media-block__link" data-rel="lightcase:gallery" href="https://d13xaps7g3emeg.cloudfront.net/sites/default/files/2016-09/content_wall_need_0.jpg">media block</a>
	<div class="media-block__caption">
		<p>Raymond used to work in a mine, with no time to go to school. Now, thanks to you, he’s getting an education.</p>
		<a class="btn btn--blue" href="/fundraise">See how to join in</a>
	</div>
	<a class="media-block__link" data-rel="lightcase:gallery" href="https://d13xaps7g3emeg.cloudfront.net/sites/default/files/2016-09/RND17_content_wall_card2_v1.jpg">media block</a>
	<div class="media-block__caption">
		<p>To help us change more lives, simply raise cash by having fun.</p>
		<a class="btn btn--red" href="/fundraise">See how to join in</a>
	</div>
</div>
