<footer role="contentinfo">
  
<h4 class="footer__follow">Follow us...</h4>

<div class="footer__social-links">
  <ul>
    <li>
      <a href="https://www.facebook.com/officialrednoseday" title="Facebook" target="_blank" class="icon__fb">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/rednoseday" title="Twitter" target="_blank" class="icon__twitter">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/rednoseday/" title="YouTube" target="_blank" class="icon__youtube">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/+rednoseday" title="Instagram" target="_blank" class="icon__instagram">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/rednoseday" title="Google Plus" target="_blank" class="icon__googleplus">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-googleplus"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>

<div class="region region-footer cr-footer">
  <nav role="navigation" aria-labelledby="block-campaign-base-footer-menu" id="block-campaign-base-footer" class="contextual-region block block-menu navigation menu--footer">         
    <h2 class="visually-hidden" id="block-campaign-base-footer-menu">Footer menu</h2>
    <div data-contextual-id="block:block=campaign_base_footer:langcode=en|menu:menu=footer:langcode=en"></div>
    <ul class="menu">
      <li class="menu-item">
        <a href="/web/node/1" data-drupal-link-system-path="node/1">FAQ</a>
      </li>
      <li class="menu-item">
        <a href="/web/node/2" data-drupal-link-system-path="node/2">Legal</a>
      </li>
      <li class="menu-item">
        <a href="/web/partners" data-drupal-link-system-path="node/21">Partners</a>
      </li>
    </ul>
  </nav>
</div>


<div class="footer__copyright">
  <p>© Comic Relief 2017. Comic Relief, registered charity 326568 (England/Wales); SC039730 (Scotland)</p>
</div>
<div class="footer__branding">
  <a title="Comic Relief" href="http://www.comicrelief.com/" rel="home" target="_blank">
   <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#crlogo"></use>
    </svg>
  </a>
</div>

  <a class="styleguide-link external-link" href="/profiles/cr/themes/custom/campaign_base/styleguide/index.html" target="_blank">Styleguide</a>
</footer>
